<base href="http://news.nankai.edu.cn/mtnk/system/2020/12/08/030043128.shtml"><!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>今晚报：卞之琳的诗意人生 ——写在卞之琳110周年诞辰逝世20周年之际-媒体南开-南开大学</title>
<meta name="keywords" content="">
<meta name="description" content="①
②
③
④
⑤
　　你站在桥上看风景，看风景人在楼上看你。
　　明月装饰了你的窗子，你装饰了别人的梦。
　 　《断章》
 文/龙 飞
　　第一次读到这首诗，我被久久陶醉，反复品味。曾将它放在电脑桌面上，一打开电脑就能看到。这首诗的作者卞之琳(1910-2000)，20世纪40年代曾在南开大学外文系任教。但由于时...">
<style>
a,h1,h2,h3,h4,h5,h6,ul,li,body,html,div,span,button,dl,dt,dd,img,p{ border:none; margin:0; padding:0}
ul,li,dd,dt{ list-style:none; }
p {word-break:break-all;}
.right{ float:right}
.left{ float:left}
.hong{ color:#FF0000}


/*simsun Microsoft YaHei */
body{background:#f5f5f5;  }
td{ font-size:14px; font-family:Microsoft YaHei ;}
a{ text-decoration:none; color:#000; font-family:Microsoft YaHei ; }
a:hover{  color:#b20509; }
</style>
<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
    <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://www.nankai.edu.cn/ywsd/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   </style>
	<script type="text/javascript" src="http://news.nankai.edu.cn/cms_sys/calc/online_calc.js" ></script>
<script type="text/javascript" src="http://news.nankai.edu.cn/js/jquery.js"></script>
</head>

<body>

<!--主体 start-->
<div id="root">
	<!--头图-->
	<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
     <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://news.nankai.edu.cn/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   .bai,.bai a:link,.bai a:hover,.bai a:visited {color: #FFF; font-family:微软雅黑;}
}
</style>
    <!--头图-->
  <table style="background:url(http://news.nankai.edu.cn/images/tou.jpg) top center no-repeat; height:183px;" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
	  <tbody><tr>
	    <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody>
   <tr><td align="right" style="padding-right:20px; padding-bottom:20px;"  class="bai" ></td>
   </tr>
  <tr>

    <td>
    
    <table id="app" cellspacing="0" cellpadding="0" border="0" align="right" width="350">
  <tbody><tr>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weixin.png" height="55" width="55"><span><img src="http://news.nankai.edu.cn/images/weixin.jpg" height="100" width="100"></span>
    </td>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weibo.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/weibo.jpg" height="100" width="100"></span></td>
     <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_douyin.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/dy11.png" height="106" width="100"></span></td>
      <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_blibili.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/bz.png" height="106" width="100"></span></td>
   
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>


        </td>
	  </tr>
   </tbody></table>
 
   <table id="nav" style=" background:#701a5b; height:58px; " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr>
    <td style="padding-left:20px;"><a href="http://news.nankai.edu.cn/index.shtml">首页</a></td>
    <td><a href="http://news.nankai.edu.cn/ywsd/index.shtml">南开要闻</a></td>
    <td><a href="http://news.nankai.edu.cn/bnxq/index.shtml">百年校庆</a></td>
    <td><a href="http://news.nankai.edu.cn/mtnk/index.shtml">媒体南开</a></td>
    <td><a href="http://news.nankai.edu.cn/xlzt/index.shtml">专题报道</a></td>
    <td><a href="http://news.nankai.edu.cn/nkrw/index.shtml">南开人物</a></td>
    <td><a href="http://news.nankai.edu.cn/nkzs/index.shtml">南开之声</a></td>
    <td width="110"><a href="http://news.nankai.edu.cn/nkdxb/index.shtml">南开大学报</a></td>
    <td width="60"><a href="http://news.nankai.edu.cn/sp/index.shtml">视频</a></td>
    <td width="79"><a href="http://news.nankai.edu.cn/gb/index.shtml">广播</a></td>
    <td style="width:290px; "><form action="http://search.news.nankai.edu.cn/m_fullsearch/searchurl/mfullsearch!descResult.do"  method="post" name="form0" id="form0" target="_blank">
    <div style="position:relative; overflow:hidden; width:270px; height:37px; background:#fff; border-radius:30px;">
    <input type="text" name="keywords" style=" height:37px; width:210px; padding-left:10px; "/>
                  <input type="hidden" name="news_type_id" value="1" />
                  <input type="hidden" name="channel_id" value="0" />
                  <input type="image" style="position: absolute; top:10px; right:10px; "src="http://news.nankai.edu.cn/images/index_04.jpg" height="19" width="23" name="Submit1" /></div></form>
                  
                  
                  
                  </td>
  </tr>
</tbody></table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-11-21 14:11:22" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->

   	<!--正文-->
    <table style="padding-top:20px; background:#fff;  " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr><td valign="top">
   <table cellspacing="10" cellpadding="0" border="0" width="100%">
  <tbody><tr>
     <td style="padding:15px; border-bottom:1px solid #ddd; " width="875"><span class="cms_block_span">

您当前的位置 ：			<a href=http://news.nankai.edu.cn/index.shtml>南开大学</a>						            				>>			                			<a href=http://news.nankai.edu.cn/mtnk/index.shtml>媒体南开</a>			     
</span>
    </td>
  </tr>
</tbody></table>
  <table style="padding:0 0 0 10px; " cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody><tr>
    <td style=" font-size:30px; font-weight:bold; text-align:center; padding:20px 0 15px; line-height:34px; ">今晚报：卞之琳的诗意人生 ——写在卞之琳110周年诞辰逝世20周年之际</td>
  </tr>
  <tr>
    <td style="text-align:center; border-bottom:1px solid #ddd; padding-bottom:15px;"><span style="margin-right:10px;">来源： 2020年12月04日 今晚报 第12版</span><span>发稿时间：2020-12-08 10:21</span></td>
  </tr>
  <tr><style>
  #txt p{ line-height:2em; font-size:16px; margin-bottom:15px;}
  </style>
    <td style="padding-top:25px; padding-left:20px; padding-bottom:20px;" id="txt"><table bgcolor="#efefef" id="newspic" style="font-family: Simsun; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
<tbody style="margin: 0px; padding: 0px; border: none;">
<tr style="margin: 0px; padding: 0px; border: none;">
<td style="margin: 0px; padding: 0px; border: none; font-size: 12px;">
<table align="center">
<tbody style="margin: 0px; padding: 0px; border: none;">
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="center" style="margin: 0px; padding: 0px; border: none; font-size: 12px;"><a class="pirobox_gall first" href="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163964_zpws_1606394101549_s.jpg" rel="1&amp;nbsp;of&amp;nbsp;5" rev="0" style="text-decoration: none;" title="    ①"><img src="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163964_zpws_1606394101549_b.jpg" style="border-width: 0px; display: block; margin: 0px auto; text-align: center; border-style: none;" /></a></td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="left" style="margin: 0px; padding: 0px 0px 0px 20px; border: none; font-size: 12px;">①</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td style="margin: 0px; padding: 0px; border: none; font-size: 12px;">
<table align="center">
<tbody style="margin: 0px; padding: 0px; border: none;">
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="center" style="margin: 0px; padding: 0px; border: none; font-size: 12px;"><a class="pirobox_gall" href="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163932_zpws_1606394200779_s.jpg" rel="2&amp;nbsp;of&amp;nbsp;5" rev="1" style="text-decoration: none;" title="    ②"><img src="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163932_zpws_1606394200779_b.jpg" style="border-width: 0px; display: block; margin: 0px auto; text-align: center; border-style: none;" /></a></td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="left" style="margin: 0px; padding: 0px 0px 0px 20px; border: none; font-size: 12px;">②</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td style="margin: 0px; padding: 0px; border: none; font-size: 12px;">
<table align="center">
<tbody style="margin: 0px; padding: 0px; border: none;">
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="center" style="margin: 0px; padding: 0px; border: none; font-size: 12px;"><a class="pirobox_gall" href="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163927_zpws_1606394234820_s.jpg" rel="3&amp;nbsp;of&amp;nbsp;5" rev="2" style="text-decoration: none;" title="    ③"><img src="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163927_zpws_1606394234820_b.jpg" style="border-width: 0px; display: block; margin: 0px auto; text-align: center; border-style: none;" /></a></td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="left" style="margin: 0px; padding: 0px 0px 0px 20px; border: none; font-size: 12px;">③</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td style="margin: 0px; padding: 0px; border: none; font-size: 12px;">
<table align="center">
<tbody style="margin: 0px; padding: 0px; border: none;">
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="center" style="margin: 0px; padding: 0px; border: none; font-size: 12px;"><a class="pirobox_gall" href="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163943_zpws_1606394141774_s.jpg" rel="4&amp;nbsp;of&amp;nbsp;5" rev="3" style="text-decoration: none;" title="    ④"><img src="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163943_zpws_1606394141774_b.jpg" style="border-width: 0px; display: block; margin: 0px auto; text-align: center; border-style: none;" /></a></td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="left" style="margin: 0px; padding: 0px 0px 0px 20px; border: none; font-size: 12px;">④</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td style="margin: 0px; padding: 0px; border: none; font-size: 12px;">
<table align="center">
<tbody style="margin: 0px; padding: 0px; border: none;">
<tr style="margin: 0px; padding: 0px; border: none;">
<td align="center" style="margin: 0px; padding: 0px; border: none; font-size: 12px;"><a class="pirobox_gall last" href="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163922_zpws_1606394263095_s.jpg" rel="5&amp;nbsp;of&amp;nbsp;5" rev="4" style="text-decoration: none;" title="    ⑤"><img src="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/3163922_zpws_1606394263095_b.jpg" style="border-width: 0px; display: block; margin: 0px auto; text-align: center; border-style: none;" /></a></td>
</tr>
<tr style="margin: 0px; padding: 0px; border: none;">
<td style="margin: 0px; padding: 0px 0px 0px 20px; border: medium none; font-size: 12px; text-align: center;"><span style="font-family:楷体;">⑤</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

<div class="content" id="ozoom" style="font-size: 14px; line-height: 22px; text-align: justify; word-break: break-all; color: rgb(0, 0, 0); font-family: Simsun; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; zoom: 1; float: left; background-color: rgb(255, 255, 255);">
<p style="text-align: center;"><span style="font-family:楷体;">　　你站在桥上看风景，看风景人在楼上看你。</span></p>

<p style="text-align: center;"><span style="font-family:楷体;">　　明月装饰了你的窗子，你装饰了别人的梦。</span></p>

<p style="text-align: center;"><span style="font-family:楷体;">　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 　&mdash;&mdash;《断章》</span></p>

<p></p>

<p>&nbsp;&nbsp; <span style="font-size:16px;"><span style="color: rgb(121, 120, 115); font-family: Simsun; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 22.4px; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255);">文/龙 飞</span></span></p>

<p>　　第一次读到这首诗，我被久久陶醉，反复品味。曾将它放在电脑桌面上，一打开电脑就能看到。这首诗的作者卞之琳(1910-2000)，20世纪40年代曾在南开大学外文系任教。但由于时间短暂，并不广为人知。</p>

<p>　　《断章》背后的故事</p>

<p>　　这首诗是卞之琳的代表作。他从自己一首长诗中抽出最满意的四句，故命名《断章》。全诗仅四句、34个字，简洁清新，意味无穷。</p>

<p>　　其实这是一封情书，作于1935年10月。是卞之琳写给&ldquo;张家四姐妹&rdquo;中的小妹张充和的，她就是&ldquo;装饰&rdquo;了诗人半生梦的那个女子。</p>

<p>　　1933年秋天，刚从北京大学英文系毕业的卞之琳去拜访沈从文，认识了沈从文的妻妹张充和，对她一见钟情。诗人常给心中的女神写信，但又不敢表达爱慕之意，而对方从不回应。卞之琳忍受着思念的折磨，于是就有了《断章》。这首短诗成为后人传唱的经典，被文学评论家阐释出多种美学内涵和哲学意味，也让许多文学爱好者知道了诗人的大名&mdash;&mdash;这是诗人自己所没有料到的。</p>

<p>　　转年张充和考入北大国文系。1935年年底她患了肺结核，只得休学回苏州老家。1936年10月卞之琳的母亲去世。他奔赴故乡料理完后事，对张充和很是牵挂，专程去苏州看望她。当时张充和与外界处于隔离状态，十分寂寞。她见到卞之琳很高兴，陪他游览了苏州的风景名胜。这让卞之琳心中充满欢喜与期望。</p>

<p>　　卞之琳将自己为张充和写的20首诗编成《装饰集》，题献给她。</p>

<p>　　相识十年后，诗人终于向张充和表白了自己的感情。但她说希望和他做纯洁的朋友，拒绝了他的爱。这让他非常痛苦，想不明白为什么就是打动不了她。</p>

<p>　　1947年，张充和邂逅了在北大任教的美籍学者傅汉思，7个月后两人结婚，定居美国。得知这一消息，卞之琳彻底绝望，但仍痴情地爱着她。</p>

<p>　　张充和晚年接受采访时说：&ldquo;卞之琳人很好，但就是性格不爽快，不开放，跟我完全不相合&hellip;&hellip;他的好意我心领了，但这种事情不能勉强。&rdquo;</p>

<p>　　对卞之琳来说，张充和注定只能是他的风景，看着她美丽绽放，而自己只是一名痴心的看客。得不到想要的爱情，却诞生了一首不朽杰作，或许这能弥补诗人心中的遗憾。</p>

<p>　　延安之行</p>

<p>　　卞之琳从学生时代就写诗、翻译莎士比亚作品，毕业后当过中学教师。抗日战争爆发，他接受了四川大学的聘书，任外文系讲师。1938年，他利用暑假和4个月的军训时间，跟随何其芳、沙汀去了延安。当时被爱情弄得不知所措的诗人，希望自己的人生有一段特殊经历。</p>

<p>　　何其芳一行抵达延安受到欢迎。在鲁迅艺术学院副院长周扬引荐下，毛泽东、周恩来接见了他们。1938年11月，卞之琳随&nbsp;&ldquo;抗战文艺工作团&rdquo;进入被日寇占领的晋东南地区。他深入军民，采集素材，写出一系列战地通讯。1939年，他又随工作团奔赴河南武安，与当地游击队在彭城一带同敌人周旋。卞之琳利用战斗间隙写出反映游击队的小说。同年4月，他再次随工作团从武安进入太行山，到八路军129师772团临时驻地。他与指战员们一起行军打仗，一起吃粗粮、睡草地铺、晒太阳、捉虱子&hellip;&hellip;在前线，他搜集了大量第一手材料。</p>

<p>　　卞之琳回延安后，周扬安排他到鲁艺文学系教课。与此同时，他完成了一部报告文学。</p>

<p>　　周扬挽留卞之琳在鲁艺继续任教，他因已受聘于四川大学而婉言谢绝。1939年夏天，卞之琳离开延安返回川大。学年结束，四川大学校方确知他去过延安，不予续聘。于是，他辗转来到昆明西南联大。</p>

<p>　　在延安鲁艺时，卞之琳结识了音乐系系主任、作曲家冼星海。冼星海告诉诗人，自己曾把他的名作《断章》谱成歌曲，并且当场将全曲哼唱了一遍。这使得卞之琳受宠若惊。</p>

<p>　　多年以后，研究冼星海的学者秦启明在冼星海遗稿中发现了这个钢琴曲谱。原稿注：&ldquo;徐缓&rdquo;（带感伤），1936年于上海，赠盛建颐。盛建颐是冼星海的初恋女友、钢琴家。冼星海曾留学法国，受印象主义音乐影响，对艺术歌曲情有独钟。这也是他的一首探索性作品。</p>

<p>　　秦启明将曲谱复印下来，寄给卞之琳留作纪念。</p>

<p>　　在南开的时光</p>

<p>　　1940年，卞之琳来到西南联大，编制属于南开大学。他在西南联大外文系任教，开设&nbsp;&ldquo;翻译&rdquo;&ldquo;小说艺术&rdquo;课程，并负责公共英语课。1943年，卞之琳晋升为副教授，三年后评为教授。1946年西南联大结束，他到南开大学执教。和他一起从西南联大到南开大学任教的还有作家李广田，后者是应南开文学院院长冯文潜的邀请。</p>

<p>　　卞之琳与李广田为志同道合的好友。1930年左右，有三位文学青年先后进入了北京大学，那就是哲学系的何其芳、外文系的卞之琳和李广田。他们几乎同时在戴望舒主编的《现代》杂志上发表诗作。三人以诗会友，把诗做到了兴趣的极致。&ldquo;汉花园&rdquo;是当时北大所在地的名称。1936年，郑振铎将三位青年诗人的作品合编为一集，题名《汉园集》。他们在中国诗坛上被誉为&ldquo;汉园三诗人&rdquo;。</p>

<p>　　来到南开大学，卞之琳在外文系任教，李广田在中文系任教。两个人都住在校内的西柏树村，几乎天天能见面。外文系系主任司徒月兰是他们的近邻，她业余爱好弹钢琴。琴声流淌，形成了西柏树村的一道独特风景。</p>

<p>　　由于《断章》，由于&ldquo;汉园三诗人&rdquo;的名头，卞之琳已小有名气，再加上教学工作认真严谨，颇受学生欢迎。当时，中文系师生都很关注卞之琳。诗人也常有作品发表在天津的《大公报》上。</p>

<p>　　卞之琳一向爱吸烟，李广田的女儿李岫当时未满十岁，热衷于吃榛子。一天，西柏树村的小卖部突然着火，大家都去救火。待火扑灭后，损失了一些货物。卞之琳同李岫开玩笑说：&ldquo;早知它着火，你去抢榛子，我去抢香烟，那多好！&rdquo;让小姑娘觉得卞叔叔真逗。</p>

<p>　　1947年，卞之琳应邀赴英国牛津大学做访问学者，李广田则受朱自清之邀到清华大学任教。两位大师级人物就此离开南开大学。</p>

<p>　　好丈夫，好父亲</p>

<p>　　从英国回来，卞之琳执教于北大外文系，曾出任系主任，1953年调往中国社会科学院外国文学研究所。</p>

<p>　　1955年，45岁的卞之琳终于和相识多年的女编辑青林结为伉俪。婚礼上，同事们纷纷前来祝贺，杨绛特意给新婚夫妇拍了张合影。青林是个离异女子，长得很美，比卞之琳年轻十岁。诗人为她写下：&ldquo;独爱你曾经沧海桑田&rdquo;。从此，他生命的航船漂泊了半生，总算有了一个宁静的港湾。</p>

<p>　　他们的家在干面胡同东罗圈，那是社科院专门给国宝级学者们准备的一栋楼房。卞氏夫妇住在四层，房间面积不大，但青林将居室布置得温馨舒适。</p>

<p>　　卞之琳做学问的本事虽然是一流的，但日常生活的料理能力却很差。在家中，青林便成了这方面的主力。1957年女儿出生，中年得女，卞之琳视若掌上明珠。一向不会做饭的大诗人曾亲自下厨，戴上围裙和套袖，为女儿做她最爱吃的红烧肉；晚上冒着严寒给女儿买回一套《红灯记》木偶玩具。</p>

<p>　　原先，卞之琳的烟瘾很大，一天两包。可是为了妻女的健康，他戒掉了几十年的烟。据这位好丈夫、好父亲说，戒烟的过程并不痛苦，心里满满的都是幸福感。</p>

<p>　　20世纪70年代后期，青林经常头痛。卞之琳每天晚上给她做半小时的头部按摩。虽然按摩水平不够专业，但他做得很认真，持续了将近一年，直到妻子身体好转。</p>

<p>　　由此可见，这位诗人是多么纯真，多么善良，难怪人们说他&ldquo;可爱&rdquo;。</p>

<p>　　真诚与精致</p>

<p>　　生性内敛的卞之琳，以他的才情和为人，赢得了众多学生与同事的称赞。</p>

<p>　　翻译家巫宁坤是卞之琳在西南联大的学生。他命运多舛。1951年正在芝加哥大学攻读博士学位时，巫宁坤应燕京大学之聘回国任教。1952年院系调整，燕京大学被迫下马，他在南开大学等高校任教。1954年11月，他与查良铮(穆旦)同时遭到不公正待遇。后来，巫宁坤在北京国际关系学院任教时，被划成&ldquo;右派&rdquo;，被下放到大兴安岭兴凯湖农场劳动改造。</p>

<p>　　1980年，平反后的巫宁坤重返北京。年底，他参加了社科院外文所主办的成都会议。该所一位苏联文学研究员在作学术报告时，依据列宁反对现代派文学的文章《要文学，还是要革命？》，对&ldquo;文革&rdquo;后开始流行的西方现代派文学大加讨伐。巫宁坤听了忍不住给予尖锐驳斥，会场气氛相当激烈。</p>

<p>　　巫宁坤回北京后，得知卞先生身体欠佳，因而没参加成都会议，他立即去看望。一见面，卞先生就说：&ldquo;你在成都又放炮了。副所长回来后跟我说，巫宁坤的思想可真解放。我一听就明白你又惹事了。&rdquo;</p>

<p>　　&ldquo;不是应当响应党中央和邓小平同志的号召，解放思想吗？&rdquo;巫宁坤说。</p>

<p>　　&ldquo;你吃过那么多苦头，怎么仍旧这样天真？我要是你，我就会珍惜我的改正，专心搞学术研究和文学翻译。&rdquo;出于对一个饱经患难的老学生的关怀，他提出了明智的忠告。巫宁坤对老师十分感激，同时也意识到，解放思想还有漫长的道路要走。</p>

<p>　　在巫宁坤眼里，卞先生去过延安，在鲁艺讲过课，是教师中的&ldquo;左派&rdquo;。新中国成立后，老师入了党，而学生成了&ldquo;右派&rdquo;，但老师从来没有和这个学生&ldquo;划清界限&rdquo;。因此，他认为卞先生是个非常真诚的人。</p>

<p>　　卞之琳长期供职于社科院外文所，在他的同事中留下深刻印象。例如，法国文学研究专家柳鸣九就曾回忆这位老前辈：卞之琳要算得上是一位真正有绅士派头的人。他的衣着从来都很讲究。卞之琳的雅士派头、雅士自我意识，来自他这个人的学养和经历，来自其爱美懂美与一颗充满诗意的心灵。不俗与精致，可以说是他最显著的特点。他那著名的四句诗34个字，便是他精致中的精品，是他精致得最典型、最完美的一次表现。</p>

<p>　　晚年生活</p>

<p>　　1995年，亚洲华文作家文艺基金会赠给卞之琳的纪念牌上镌刻着这样的评语：&ldquo;诗歌篇篇独具创意，落笔生花，由平实语言精炼出新的感性，提供近代新诗助长的养分。&rdquo;</p>

<p>　　对卞之琳来说，这是件喜事。而同一年，他遭受的最大打击莫过于妻子的病逝。青林与诗人携手度过四十个春秋，他俩的生活平凡平淡，又清新温馨。她的离去让85岁的老先生无比痛苦与悲伤。老诗人竟闭门谢客一年多。女儿青乔已经有了自己的小家庭，为照顾父亲便搬了回来。</p>

<p>　　社科院外文所的年轻同事怕老先生寂寞，常去看望。一次，卞先生谈起自己的名字，说他是按家族辈分被取名&ldquo;之琳&rdquo;的，&ldquo;琳&rdquo;字在古代本来是个男性用名，现在一般女性起名时爱用这个字。有些电影女明星的名字里也有&ldquo;之琳&rdquo;二字。卞先生调侃道：&ldquo;我曾几次想改个名字，把&lsquo;琳&rsquo;字的王字旁去掉。可是所用证件不容自改，无可奈何！&rdquo;</p>

<p>　　2000年年初，卞之琳被中国诗歌学会授予&ldquo;中国诗人终生成就奖&rdquo;。</p>

<p>　　晚年的卞先生生活非常规律，一般八点起床，晚上十二点以后睡觉，每天只吃两顿饭，其余时间用来读书和看报。令人惊讶的是老先生居然还爱看《足球报》，爱看足球比赛，对英超各队的情况也如数家珍。</p>

<p>　　2000年12月8日是卞之琳九十华诞，《卞之琳译文集》也将在这时出版。朋友、学生们发起在北京举办&ldquo;卞之琳学术研讨会&rdquo;，为他祝寿。其实，《卞之琳译文集》的面世，正是送给卞老生日的最好礼物。不料，卞老却于12月2日病逝。有家报纸的标题是《写〈断章〉的人去世了》，《断章》成了他的代名词。</p>

<p>　　正当所有人都在惋惜卞老差几天就要过生日的时候，青乔打来电话说，按照老家的惯例，过生日都是过阴历生日，父亲的阴历生日是十一月初七，她查了历书，发现当年的十一月初七恰是阳历的12月2日。这让大家感到些许慰藉。接着人们想起，卞之琳终生研究的大戏剧家莎士比亚，其生日即忌日(1564.4.23-1616.4.23)，是巧合，亦是冥冥之中自有天意。</p>

<p>　　诗人翻译家</p>

<p>　　卞之琳是20世纪30年代徐志摩在北大任教时的杰出学生。他深受新月派的影响，也醉心于法国象征派，并善于从中国古典诗词中汲取营养，形成自己的独特风格。作为诗人，他承上启下，本身是新月派，过渡到现代派，下启九叶派。</p>

<p>　　卞先生写诗字斟句酌，苦思冥想，往往为了一个字，会达到&ldquo;为伊消得人憔悴&rdquo;的境地。</p>

<p>　　诗人高洪波这样评价他：&ldquo;先生是中国诗坛的琢玉者。他一生写的诗歌没有超过五千行，惜墨如金。他把诗当成一块玉来雕，如切如磋，如琢如磨，其诗作铮铮然有金玉之声。&rdquo;</p>

<p>　　的确，诗人惜墨如金，但每一句又都是精华。初稿完成后，他每看一遍都有所改动，似乎永远不满意。他认为不好的段落即坚决删去，力求尽善尽美。一次青乔帮他抄稿，他反复修改，青乔已记不得抄了多少遍。他自称：&ldquo;我写诗&hellip;&hellip;规格本来不大,我偏又喜爱淘洗，喜爱提炼，期待结晶，期待升华，结果当然只能出产一些小玩意儿。&rdquo;</p>

<p>　　作为翻译家，卞之琳的译作《莎士比亚悲剧四种》代表了中国莎士比亚作品翻译的最高成就。莎剧原著是以诗体为基本形式的诗剧，但绝大多数早期译本都用了散文体。在卞之琳之前，只有个别译者用诗体来译，但他们或用自由体，或未严格对应原文的行数。卞之琳主张外国诗歌翻译不但要忠于内容，而且要忠于形式，应当&ldquo;以诗译诗&rdquo;。他按照汉语规律，提出每行十到十五个字，每句五&ldquo;顿&rdquo;，每&ldquo;顿&rdquo;有一个主要重音的翻译模式，最大限度地保持了原作形式，又具备汉语的韵律之美。他提倡的译法，上升为翻译学中的一种重要理论。</p>

<p>　　翻译家王佐良认为，卞之琳的译作字里行间活跃着敏锐的诗才，他是一位&ldquo;诗人翻译家&rdquo;。</p>

<p>　　在中国现代文学史上,卞之琳集诗人、翻译家和学者于一身。正如他的学生江弱水所说：&ldquo;卞之琳的定位是一个精致的艺术家，向我们展示了他所追求的语言智慧。在这个意义上，没有人做得比他更完美。&rdquo;</p>

<p>　　图①晚年卞之琳</p>

<p>　　图②卞之琳1938年从延安前往太行山区</p>

<p>　　图③1936年卞之琳与张充和在苏州</p>

<p>　　图④卞之琳(中)与夫人青林(右)、香港作家彦火(左)1981年摄于家中</p>

<p>　　图⑤青年时代卞之琳</p>

<p style="text-align: center;"><img src="http://epaper.jwb.com.cn/jwb/resfile/2020-12-04/12/jwb2020120412_b.jpg" /></p>
</div>

    </td>
  </tr>
  <tr>
    <td style="padding-top:25px; padding-right:30px; padding-bottom:20px;" align="right"><p style=" text-indent:2em; line-height:2em; font-size:16px; margin-bottom:15px;  "><span class=" hong">编辑：</span>韦承金
    </p></td>
  </tr>
</tbody></table>
</td>
    <td style="padding:15px;  " width="270" valign="top"><table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_04.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td><iframe width="270" height="400" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&amp;width=0&amp;height=550&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=0&amp;noborder=1&amp;isWeibo=1&amp;isFans=0&amp;uid=1851774145&amp;verifier=4e1ba554&amp;colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&amp;dpc=1"></iframe></td>
  </tr>
</table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-05-16 11:05:15" check_sum="3bcee7cc5a424330844ab778a62d31c1]--> <table cellspacing="0" cellpadding="0" border="0" width="270"align="center">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_12.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; border-top:none; padding-bottom:10px; "><span class="cms_block_span">

<table width="240" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:10px; "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/003/000/241/00300024169_6a089d05.jpg" width="240" height="100"  border="0"/></a></td>
  </tr>
  <tr>
    <td   style="border-bottom:1px solid #ddd;  padding:10px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:2EM;  "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank">微信往期推送</a></td>
  
  </tr>
  <tr>
    <td style="line-height:2EM; " align="right"><a href="http://news.nankai.edu.cn/wx/index.shtml" target="_blank">更多...</a></td>
  
  </tr>
</table></td>
  </tr>
</table>

</span></td>
  </tr>
</tbody></table>
<table cellspacing="10" cellpadding="0" border="0" width="270">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_21.jpg" height="38" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; padding:5px 0;  "><table style="background:url(http://news.nankai.edu.cn/ywsd/images/list_24.jpg)  0 0px repeat-y; line-height:36px; " cellspacing="0" cellpadding="0" border="0" align="center" width="240">
  <tbody><tr>
    <td><span class="cms_block_span">


<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/05/030043092.shtml" target="_blank">2020年度南开治理指数在京发布</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043063.shtml" target="_blank">南开大学获批5项国家社科基金...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043084.shtml" target="_blank">“打卡”第七个国家宪法日 南...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043062.shtml" target="_blank">南开大学图灵书院开班 跨学科...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043090.shtml" target="_blank">中国教育报：南开大学举办教...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043093.shtml" target="_blank">央广网：纪念陈省身先生逝世...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043094.shtml" target="_blank">中华读书报：《掬水月在手》...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043073.shtml" target="_blank">南开学子在第十二届中国社会...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043085.shtml" target="_blank">天津日报：让世界读懂中国 让...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043088.shtml" target="_blank">中新社：两岸专家呼吁在“九...</a><br/>

</span></td>
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>

<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-08 00:12:14" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->
</td>
  </tr>
</tbody></table>

    
    <!--页脚-->
<span class="cms_block_span">

<table width="1200" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#701a5b;">
  <tr>
    <td height="100" align="center" style="color:#fff; ">
    
    <table width="1100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="line-height:32PX; color:#FFF; border-right:1px solid #ddd; padding-right:0px; font-size:14px;  font-family:Microsoft YaHei ; " width="50%" >新闻热线：022-23508464 022-85358737<Span style="margin:0 10px; "></Span>投稿信箱：<a href="mailto:nknews@nankai.edu.cn" style="color:#fff; " target="_blank">nknews@nankai.edu.cn</a><br />
      本网站由南开大学新闻中心设计维护 <Span style="margin:0 10px; "></Span>Copyright@2014 津ICP备12003308号-1</td>
    <td style="line-height:32PX; color:#FFF; BORRDER-Rigth:1px #fff dotted; padding-left:30PX;font-size:14px;  font-family:Microsoft YaHei ; "><a style="color:#fff; margin:0 0 5px;" href="http://www.nankai.edu.cn/" target="_blank">南开大学</a> <a style="color:#fff; margin:0 5px;" href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>   <a style="color:#fff; margin:0 5px;" href="http://news.nku.cn/xs/" target="_blank">校史网</a>   <a style="color:#fff; margin:0 5px;" href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a><br />
      版权声明：本网站由南开大学版权所有，如转载本网站内容，请注明出处。</td>
  </tr>
</table>

    </td>
  </tr>
</table>
</span>
</div>
<!--主体 end-->


</body></html>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-08 10:12:42" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->