<base href="http://news.nankai.edu.cn/ywsd/system/2020/12/08/030043131.shtml"><!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>我校启动专业学位水平评估-南开要闻-南开大学</title>
<meta name="keywords" content="">
<meta name="description" content="　　南开新闻网讯（记者郝静秋摄影宗琪琪）12月8日，我校在八里台校区召开专业学位水平评估启动会，对如何做好本次评估工作进行研究部署。校长曹雪涛出席并讲话。
　　国务院学位委员会、教育部近日印发了《全国专业学位水平评估实施方案》，全面启动全国专业学位水平评估。这是我国设立专业学位30年来首次全面开展的水...">
<style>
a,h1,h2,h3,h4,h5,h6,ul,li,body,html,div,span,button,dl,dt,dd,img,p{ border:none; margin:0; padding:0}
ul,li,dd,dt{ list-style:none; }
p {word-break:break-all;}
.right{ float:right}
.left{ float:left}
.hong{ color:#FF0000}


/*simsun Microsoft YaHei */
body{background:#f5f5f5;  }
td{ font-size:14px; font-family:Microsoft YaHei ;}
a{ text-decoration:none; color:#000; font-family:Microsoft YaHei ; }
a:hover{  color:#b20509; }
</style>
<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
    <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://www.nankai.edu.cn/ywsd/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   </style>
	<script type="text/javascript" src="http://news.nankai.edu.cn/cms_sys/calc/online_calc.js" ></script>
<script type="text/javascript" src="http://news.nankai.edu.cn/js/jquery.js"></script>
</head>

<body>

<!--主体 start-->
<div id="root">
	<!--头图-->
	<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
     <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://news.nankai.edu.cn/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   .bai,.bai a:link,.bai a:hover,.bai a:visited {color: #FFF; font-family:微软雅黑;}
}
</style>
    <!--头图-->
  <table style="background:url(http://news.nankai.edu.cn/images/tou.jpg) top center no-repeat; height:183px;" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
	  <tbody><tr>
	    <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody>
   <tr><td align="right" style="padding-right:20px; padding-bottom:20px;"  class="bai" ></td>
   </tr>
  <tr>

    <td>
    
    <table id="app" cellspacing="0" cellpadding="0" border="0" align="right" width="350">
  <tbody><tr>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weixin.png" height="55" width="55"><span><img src="http://news.nankai.edu.cn/images/weixin.jpg" height="100" width="100"></span>
    </td>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weibo.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/weibo.jpg" height="100" width="100"></span></td>
     <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_douyin.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/dy11.png" height="106" width="100"></span></td>
      <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_blibili.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/bz.png" height="106" width="100"></span></td>
   
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>


        </td>
	  </tr>
   </tbody></table>
 
   <table id="nav" style=" background:#701a5b; height:58px; " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr>
    <td style="padding-left:20px;"><a href="http://news.nankai.edu.cn/index.shtml">首页</a></td>
    <td><a href="http://news.nankai.edu.cn/ywsd/index.shtml">南开要闻</a></td>
    <td><a href="http://news.nankai.edu.cn/bnxq/index.shtml">百年校庆</a></td>
    <td><a href="http://news.nankai.edu.cn/mtnk/index.shtml">媒体南开</a></td>
    <td><a href="http://news.nankai.edu.cn/xlzt/index.shtml">专题报道</a></td>
    <td><a href="http://news.nankai.edu.cn/nkrw/index.shtml">南开人物</a></td>
    <td><a href="http://news.nankai.edu.cn/nkzs/index.shtml">南开之声</a></td>
    <td width="110"><a href="http://news.nankai.edu.cn/nkdxb/index.shtml">南开大学报</a></td>
    <td width="60"><a href="http://news.nankai.edu.cn/sp/index.shtml">视频</a></td>
    <td width="79"><a href="http://news.nankai.edu.cn/gb/index.shtml">广播</a></td>
    <td style="width:290px; "><form action="http://search.news.nankai.edu.cn/m_fullsearch/searchurl/mfullsearch!descResult.do"  method="post" name="form0" id="form0" target="_blank">
    <div style="position:relative; overflow:hidden; width:270px; height:37px; background:#fff; border-radius:30px;">
    <input type="text" name="keywords" style=" height:37px; width:210px; padding-left:10px; "/>
                  <input type="hidden" name="news_type_id" value="1" />
                  <input type="hidden" name="channel_id" value="0" />
                  <input type="image" style="position: absolute; top:10px; right:10px; "src="http://news.nankai.edu.cn/images/index_04.jpg" height="19" width="23" name="Submit1" /></div></form>
                  
                  
                  
                  </td>
  </tr>
</tbody></table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-11-21 14:11:22" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->

   	<!--正文-->
    <table style="padding-top:20px; background:#fff;  " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr><td valign="top">
   <table cellspacing="10" cellpadding="0" border="0" width="100%">
  <tbody><tr>
     <td style="padding:15px; border-bottom:1px solid #ddd; " width="875"><span class="cms_block_span">

您当前的位置 ：			<a href=http://news.nankai.edu.cn/index.shtml>南开大学</a>						            				>>			                			<a href=http://news.nankai.edu.cn/ywsd/index.shtml>南开要闻</a>			     
</span>
    </td>
  </tr>
</tbody></table>
  <table style="padding:0 0 0 10px; " cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody><tr>
    <td style=" font-size:30px; font-weight:bold; text-align:center; padding:20px 0 15px; line-height:34px; ">我校启动专业学位水平评估</td>
  </tr>
  <tr>
    <td style="text-align:center; border-bottom:1px solid #ddd; padding-bottom:15px;"><span style="margin-right:10px;">来源： 南开大学新闻网</span><span>发稿时间：2020-12-08 17:03</span></td>
  </tr>
  <tr><style>
  #txt p{ line-height:2em; font-size:16px; margin-bottom:15px;}
  </style>
    <td style="padding-top:25px; padding-left:20px; padding-bottom:20px;" id="txt"><p style="text-align:left"><!-- image template start --></p>

<div align="center"><img border="0" height="433" src="http://news.nankai.edu.cn/pic/003/000/357/00300035744_b4b2f8fd.jpg" width="650" /></div>

<p style="text-align:left"><!-- image template end-->　　<strong>南开新闻网讯</strong>（记者&nbsp;郝静秋&nbsp;摄影&nbsp;宗琪琪）12月8日，我校在八里台校区召开专业学位水平评估启动会，对如何做好本次评估工作进行研究部署。校长曹雪涛出席并讲话。</p>

<p style="text-align:left">　　国务院学位委员会、教育部近日印发了《全国专业学位水平评估实施方案》，全面启动全国专业学位水平评估。这是我国设立专业学位30年来首次全面开展的水平评估，是对我国专业学位研究生教育的全面摸底和深入体检，对于更好地推动专业学位培养模式改革，加快推进新时代专业学位研究生教育高质量、内涵式发展具有十分重要的意义。</p>

<p style="text-align:left">　　曹雪涛指出，经过30年的建设发展，专业学位研究生教育已经成为我国培养高层次应用型专门人才的主渠道。本次专业学位水平评估全面贯彻了《深化新时代教育评价改革总体方案》，围绕立德树人根本任务，坚持&ldquo;四为&rdquo;方针，着力破除&ldquo;五唯&rdquo;顽疾，以&ldquo;质量、成效、特色、贡献&rdquo;为导向，针对高层次应用型人才的需求特点，突出行业社会需求要素，检验与国家发展重大战略、行业产业转型升级、当前和未来对人才的重大需求的契合度。从&ldquo;教、学、做&rdquo;三个层面，构建了&ldquo;教学质量&rdquo;&ldquo;学习质量&rdquo;和&ldquo;职业发展质量&rdquo;三个维度的体系构架。此次评估对于引导专业学位研究生培养的规范化、专业化发展，推动研究生教育立足国家重大战略、促进人才培养与行业需求衔接，进一步健全专业学位评价体系具有重要意义。</p>

<p style="text-align:left">　　曹雪涛强调，当前学校进入到第五轮学科评估和专业学位水平评估并行的关键时期，各学院、各单位一定要高度重视，按照文件要求，全力打好专业学位水平评估的攻坚战。他要求，要认真学习、理解和研究&ldquo;评估工作方案&rdquo;，准确把握相关政策，认真分析评估要求，协同做好组织协调工作；要坚持实事求是原则，准确、全面、真实总结评估材料，做到查漏补缺；要强化质量与贡献，提炼建设亮点，彰显优势与特色；要及时做好总结工作，以此次全国专业学位水平评估工作为契机，在新的历史发展时期，响应国家对于专业学位研究生教育更高质量、更大规模、更高层次、更多类别、更优布局的发展战略，达到以评促建、以评促升，推动学校专业学位高质量、内涵式发展。</p>

<p style="text-align:left">　　会上，学科办负责人从专业学位评估工作背景、评估指导思想、评估基本原则、评估举措与特色、评估程序、评估指标体系、参评信息、我校专业评估工作安排等方面，详细介绍了全国专业学位水平评估工作要求和精神。</p>

<p style="text-align:left">　　副校长李靖、陈军、王新生，我校相关职能部门、学院负责人参加会议。</p>

<p style="text-align:left">　　据悉，我校高度重视专业学位研究生教育，经过多年建设，逐步形成了办学定位明确、培养种类稳步扩展的发展格局，尤其在培养目标、课程设置、教学理念、质量标准和师资队伍建设等方面，突出专业学位研究生教育特点,强化专业学位研究生实践能力和创新能力的培养,为国家经济社会发展输送了大批高层次应用型人才。目前，学校专业学位研究生在校生规模达到5300余人，现有27个硕士专业学位授权点，并于今年新增首个博士专业学位授权点（临床医学博士）。</p>

    </td>
  </tr>
  <tr>
    <td style="padding-top:25px; padding-right:30px; padding-bottom:20px;" align="right"><p style=" text-indent:2em; line-height:2em; font-size:16px; margin-bottom:15px;  "><span class=" hong">编辑：</span>韦承金
    </p></td>
  </tr>
</tbody></table>
</td>
    <td style="padding:15px;  " width="270" valign="top"><table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_04.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td><iframe width="270" height="400" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&amp;width=0&amp;height=550&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=0&amp;noborder=1&amp;isWeibo=1&amp;isFans=0&amp;uid=1851774145&amp;verifier=4e1ba554&amp;colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&amp;dpc=1"></iframe></td>
  </tr>
</table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-05-16 11:05:15" check_sum="3bcee7cc5a424330844ab778a62d31c1]--> <table cellspacing="0" cellpadding="0" border="0" width="270"align="center">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_12.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; border-top:none; padding-bottom:10px; "><span class="cms_block_span">

<table width="240" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:10px; "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/003/000/241/00300024169_6a089d05.jpg" width="240" height="100"  border="0"/></a></td>
  </tr>
  <tr>
    <td   style="border-bottom:1px solid #ddd;  padding:10px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:2EM;  "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank">微信往期推送</a></td>
  
  </tr>
  <tr>
    <td style="line-height:2EM; " align="right"><a href="http://news.nankai.edu.cn/wx/index.shtml" target="_blank">更多...</a></td>
  
  </tr>
</table></td>
  </tr>
</table>

</span></td>
  </tr>
</tbody></table>
<table cellspacing="10" cellpadding="0" border="0" width="270">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_21.jpg" height="38" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; padding:5px 0;  "><table style="background:url(http://news.nankai.edu.cn/ywsd/images/list_24.jpg)  0 0px repeat-y; line-height:36px; " cellspacing="0" cellpadding="0" border="0" align="center" width="240">
  <tbody><tr>
    <td><span class="cms_block_span">


<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/05/030043092.shtml" target="_blank">2020年度南开治理指数在京发布</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043063.shtml" target="_blank">南开大学获批5项国家社科基金...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043084.shtml" target="_blank">“打卡”第七个国家宪法日 南...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043062.shtml" target="_blank">南开大学图灵书院开班 跨学科...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043090.shtml" target="_blank">中国教育报：南开大学举办教...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043093.shtml" target="_blank">央广网：纪念陈省身先生逝世...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043094.shtml" target="_blank">中华读书报：《掬水月在手》...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043073.shtml" target="_blank">南开学子在第十二届中国社会...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043085.shtml" target="_blank">天津日报：让世界读懂中国 让...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043088.shtml" target="_blank">中新社：两岸专家呼吁在“九...</a><br/>

</span></td>
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>

<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-08 00:12:14" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->
</td>
  </tr>
</tbody></table>

    
    <!--页脚-->
<span class="cms_block_span">

<table width="1200" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#701a5b;">
  <tr>
    <td height="100" align="center" style="color:#fff; ">
    
    <table width="1100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="line-height:32PX; color:#FFF; border-right:1px solid #ddd; padding-right:0px; font-size:14px;  font-family:Microsoft YaHei ; " width="50%" >新闻热线：022-23508464 022-85358737<Span style="margin:0 10px; "></Span>投稿信箱：<a href="mailto:nknews@nankai.edu.cn" style="color:#fff; " target="_blank">nknews@nankai.edu.cn</a><br />
      本网站由南开大学新闻中心设计维护 <Span style="margin:0 10px; "></Span>Copyright@2014 津ICP备12003308号-1</td>
    <td style="line-height:32PX; color:#FFF; BORRDER-Rigth:1px #fff dotted; padding-left:30PX;font-size:14px;  font-family:Microsoft YaHei ; "><a style="color:#fff; margin:0 0 5px;" href="http://www.nankai.edu.cn/" target="_blank">南开大学</a> <a style="color:#fff; margin:0 5px;" href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>   <a style="color:#fff; margin:0 5px;" href="http://news.nku.cn/xs/" target="_blank">校史网</a>   <a style="color:#fff; margin:0 5px;" href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a><br />
      版权声明：本网站由南开大学版权所有，如转载本网站内容，请注明出处。</td>
  </tr>
</table>

    </td>
  </tr>
</table>
</span>
</div>
<!--主体 end-->


</body></html>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-08 17:12:53" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->