<base href="http://nkuaa.nankai.edu.cn/">﻿<!DOCTYPE html>



<!--[if lt IE 7 ]>
<html class="ie ie6" lang="zh-cn"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="zh-cn"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="zh-cn"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="zh-cn">
<!--<![endif]-->

<head>
    <!-- Basic Meta Tags -->
<meta charset="utf-8">


<title>南开校友网</title><META Name="keywords" Content="南开校友网" />


<meta name="description" content="南开校友总会官方网站！">


<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<meta http-equiv="X-UA-Compatible" content="IE=edge" chrome="1">
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Favicon -->
<link href="Public/Home/default/img/favicon.png" rel="icon" type="image/png">

<link href="dfiles/17795/public/home/default/css/bootstrap.min.css" rel="stylesheet">
<!--[if (gt IE 9)|!(IE)]><!--><link href="Public/Home/default/css/bootstrap-responsive.min.css" rel="stylesheet"><!--<![endif]-->




<!-- Styles -->
<link href="dfiles/17795/public/home/default/css/styles.css" rel="stylesheet">
<link href="dfiles/17795/public/home/default/css/bootstrap-override.css" rel="stylesheet">


<!-- Font Avesome Styles -->
<link href="dfiles/17795/public/home/default/css/font-awesome/font-awesome.css" rel="stylesheet">

<!--[if IE 7]>
<link href="dfiles/17795/public/home/default/css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet">
<![endif]-->
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- FlexSlider Style -->
<link rel="stylesheet" href="dfiles/17795/public/home/default/css/flexslider.css" type="text/css" media="screen">

<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="dfiles/17795/cdn.znkctech.com/static/bootstrap/js/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript" src="dfiles/17795/public/home/default/js/texiao.js"></script>


    <link href="dfiles/17795/public/home/default/css/index.css" rel="stylesheet">


<!--[if (lte IE 9)]>
   <style type="text/css">
    #mp-menu{
        display: none;}
    .no-csstransforms3d .mp-pusher, .no-js .mp-pusher{
    padding-left: 0px;}
    html,body,.container{
        min-width: 1100px
    ;}
    #mp-top-banner,#mp-top-banner-render,#mp-footer-banner{
    display: none !important;}
   </style>
<![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:7765626265723230686245555052544202000404 -->
<link rel="stylesheet" type="text/css" href="index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|mobile|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1543431394)</script>
</head>

<body>
    
        <div class="content">
            <!-- 头部 -->
            <!-- 公共导航条
================================================== -->


    <div class="container site" id="header-container">
        <div class="row-fluid">
            <div class="span12">
                <!-- Header -->
                <div class="row-fluid">
                    <!-- Logo Container -->
                    <div class="span6 logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="index.htm" title="南开校友网"><img src="images/logo.png" width="320" height="240" border="0" alt="images/logo.png" title="images/logo.png"></a></div>
                    <!-- Logo Container End -->
                    <!-- Social Icons -->
                    <div class="span2 social-top hidden-phone">
                    </div>
                    <!-- Social Icons End -->
                    <div class="span4 hidden-phone">
                        <!-- Search Container -->
                        <div style="text-align: right; padding-top:5px;margin-bottom:-5px;"><script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script></div>
                        <div class="search-box  hidden-phone" id="search-box-login"><script type="text/javascript">
    function _nl_ys_check(){
        
        var keyword = document.getElementById('showkeycode210234').value;
        if(keyword==null||keyword==""){
            alert("请输入你要检索的内容！");
            return false;
        }
        if(window.toFF==1)
        {
            document.getElementById("lucenenewssearchkey210234").value = Simplized(keyword );
        }else
        {
            document.getElementById("lucenenewssearchkey210234").value = keyword;            
        }
        var  base64 = new Base64();
        document.getElementById("lucenenewssearchkey210234").value = base64.encode(document.getElementById("lucenenewssearchkey210234").value);
        new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode210234"));
        return true;
    } 
</script>
<div style="position:relative;">
<form action="search.jsp?wbtreeid=1001" method="post" id="header-search au2a" name="au2a" onsubmit="return _nl_ys_check()" style="display: inline;margin-bottom:0px;">
 <input type="hidden" id="lucenenewssearchkey210234" name="lucenenewssearchkey" value=""><input type="hidden" id="_lucenesearchtype210234" name="_lucenesearchtype" value="1"><input type="hidden" id="searchScope210234" name="searchScope" value="0">
<input name="showkeycode" id="showkeycode210234" class="search" placeholder="搜索全站">
<div class="search-icon" style="display:inline;">
<i class="fa fa-search" style="position:absolute;right:0px;bottom:0px;"></i>
<input type="submit" value="" align="absmiddle" style="cursor: hand; background:none;border:none;position:absolute;right:0px; bottom:0px;">
</div>
</form>
</div><script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/formfunc.js"></script>
</div>
                        <!-- Search Container End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
        <div class="row-fluid hidden-phone">
            <div class="space10"></div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="navbar-inner">
                    <!-- Navigation -->
                    <nav class="navbar"><ul class="nav">
<li> 
 <a class="foot" href="index.htm">首页</a> 
</li>

<li> 
 <a class="foot" href="xw/nkxw.htm">新闻</a> 
<ul>
<li> <a class="foot" href="xw/tzgg.htm">通知公告</a>  </li>
<li> <a class="foot" href="xw/nkxw.htm">南开新闻</a>  </li>
<li> <a class="foot" href="xw/zhkx.htm">总会快讯</a>  </li>
<li> <a class="foot" href="xw/fhdt.htm">分会动态</a>  </li>

</ul>
</li>

<li> 
 <a class="foot" href="xyh/xyzz/dffh/qb.htm">校友会</a> 
<ul>
<li> <a class="foot" href="xyh/hzzc.htm">会长致辞</a>  </li>
<li> <a class="foot" href="xyh/zhjj.htm">总会简介</a>  </li>
<li> <a class="foot" href="xyh/zhzc.htm">总会章程</a>  </li>
<li> <a class="foot" href="xyh/zzjg.htm">组织机构</a>  </li>
<li> <a class="foot" href="xyh/xyzz/dffh/qb.htm">校友组织</a>  </li>

</ul>
</li>

<li> 
 <a class="foot" href="hd/tjhd.htm">活动</a> 
<ul>
<li> <a class="foot" href="hd/xys.htm">校友说</a>  </li>
<li> <a class="foot" href="hd/tjhd.htm">推荐活动</a>  </li>
<li> <a class="foot" href="hd/ltsl.htm">论坛沙龙</a>  </li>
<li> <a class="foot" href="hd/znjh.htm">值年聚会</a>  </li>

</ul>
</li>

<li> 
 <a class="foot" href="rw/dsfc.htm">人物</a> 
<ul>
<li> <a class="foot" href="rw/dsfc.htm">大师风采</a>  </li>
<li> <a class="foot" href="rw/xzfc.htm">学子风采</a>  </li>
<li> <a class="foot" href="rw/xyft.htm">校友访谈</a>  </li>
<li> <a class="foot" href="rw/xyjy.htm">行业精英</a>  </li>
<li> <a class="foot" href="rw/rzhw.htm">人在海外</a>  </li>
<li> <a class="foot" href="rw/nksy.htm">南开声音</a>  </li>

</ul>
</li>

<li> 
 <a class="foot" href="hy/nkqh.htm">回忆</a> 
<ul>
<li> <a class="foot" href="hy/nkqh.htm">南开情怀</a>  </li>
<li> <a class="foot" href="hy/mxyx.htm">母校印象</a>  </li>
<li> <a class="foot" href="http://news.nankai.edu.cn/xs/" target="_blank">校史勾沉</a>  </li>

</ul>
</li>

<li> 
 <a class="foot" href="http://nkuaa.nankai.edu.cn/c/alumniback.html" target="_blank">服务</a> 
<ul>
<li> <a class="foot" href="fw/xyzp.htm">校友招聘</a>  </li>
<li> <a class="foot" href="fw/xxzx.htm">信息咨询</a>  </li>
<li> <a class="foot" href="#">终身学习</a>  </li>
<li> <a class="foot" href="fw/xyk.htm">校友卡</a>  </li>
<li> <a class="foot" href="fw/nkmx.htm">南开慕校</a>  </li>
<li> <a class="foot" href="fw/xnzy.htm">校内资源</a>  </li>

</ul>
</li>

<li> 
 <a class="foot" href="xyzj/qb1.htm">校友之家</a> 
</li>

<li> 
 <a class="foot" href="kw/nkxytx1.htm">刊物</a> 
<ul>
<li> <a class="foot" href="kw/nkxytx1.htm">南开校友通讯</a>  </li>
<li> <a class="foot" href="kw/bltdzqk1.htm">八里台电子期刊</a>  </li>
<li> <a class="foot" href="kw/fhkw1.htm">分会刊物</a>  </li>
<li> <a class="foot" href="kw/wytg.htm">我要投稿</a>  </li>

</ul>
</li>

<li> 
 <a class="foot" href="jz/ndjz.htm">捐赠</a> 
<ul>
<li> <a class="foot" href="index.htm">项目捐赠</a>  </li>
<li> <a class="foot" href="jz/ndjz.htm">年度捐赠</a>  </li>

</ul>
</li>

</ul></nav>
                    <!-- Navigation End -->
                </div>

            </div>
        </div>

        
    <div class="row-fluid">
        <div class="span12">
            <!-- FlexSlider -->
            <div class="slider1 flexslider">
                <!-- Items -->
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/js/centerCutImg.js"></script><ul class="slides" style="width: 1200%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-3510px, 0px, 0px);">

       <li class="" style="width: 1170px; float: left; display: block;position:relative"> <a href="info/1093/7026.htm" title="南开大学建校101周年暨1990届校友毕业30周年纪念活动举行"><img src="/__local/A/86/4C/2A3675CDDF505BF10BF89DC98E7_01BF9C04_15874.jpg" alt="南开大学建校101周年暨1990届校友毕业30周年纪念活动举行"> </a> <a href="/n/2841.html" style="position:absolute; bottom: 10px;left:15px; padding: 5px 12px; background: #333; color: #fff;opacity:0.8;filter:alpha(opacity=80);font-size:14px;">南开大学建校101周年暨1990届校友毕业30周年纪念活动举行</a> </li>




       <li class="" style="width: 1170px; float: left; display: block;position:relative"> <a href="info/1093/7029.htm" title="“集思绘新篇 筑梦新百年”校友建言南开“十四五”发展"><img src="/__local/9/87/24/478CF54358E787DFBED838C754C_EFF466EE_1DB5F.jpg" alt="“集思绘新篇 筑梦新百年”校友建言南开“十四五”发展"> </a> <a href="/n/2841.html" style="position:absolute; bottom: 10px;left:15px; padding: 5px 12px; background: #333; color: #fff;opacity:0.8;filter:alpha(opacity=80);font-size:14px;">“集思绘新篇 筑梦新百年”校友建言南开“十四五”发展</a> </li>






       <li class="" style="width: 1170px; float: left; display: block;position:relative"> <a href="info/1093/7027.htm" title="津渝川13位“南开系”校长：新冠肺炎疫情按下教育改革“快进键”"><img src="/__local/2/23/E4/F7B1D1D1308913F6FA589C812AD_8B9ABC44_64E4A.png?e=.png" alt="津渝川13位“南开系”校长：新冠肺炎疫情按下教育改革“快进键”"> </a> <a href="/n/2841.html" style="position:absolute; bottom: 10px;left:15px; padding: 5px 12px; background: #333; color: #fff;opacity:0.8;filter:alpha(opacity=80);font-size:14px;">津渝川13位“南开系”校长：新冠肺炎疫情按下教育改革“快进键”</a> </li>




       <li class="" style="width: 1170px; float: left; display: block;position:relative"> <a href="info/1093/7024.htm" title="南开校友总会第七次校友代表大会举行"><img src="/__local/1/6B/16/7FB96522484005437335ABCFF8B_6E8D2382_14A34.jpg" alt="南开校友总会第七次校友代表大会举行"> </a> <a href="/n/2841.html" style="position:absolute; bottom: 10px;left:15px; padding: 5px 12px; background: #333; color: #fff;opacity:0.8;filter:alpha(opacity=80);font-size:14px;">南开校友总会第七次校友代表大会举行</a> </li>






       <li class="" style="width: 1170px; float: left; display: block;position:relative"> <a href="info/1093/7028.htm" title="牵手新校友：全球南开人陪你毕业！"><img src="/__local/2/10/7D/E94B2CCF12643772B0D5E8FFB43_5721700C_706AD.png?e=.png" alt="牵手新校友：全球南开人陪你毕业！"> </a> <a href="/n/2841.html" style="position:absolute; bottom: 10px;left:15px; padding: 5px 12px; background: #333; color: #fff;opacity:0.8;filter:alpha(opacity=80);font-size:14px;">牵手新校友：全球南开人陪你毕业！</a> </li>





</ul><script>_showDynClickBatch(['dynclicks_u4_7026','dynclicks_u4_7029','dynclicks_u4_7027','dynclicks_u4_7024','dynclicks_u4_7028'],[7026,7029,7027,7024,7028],"wbnews", 1543431394)</script>

                </div>
            </div>
            <!-- FlexSlider End -->
        </div>
    </div>
    <div class="row-fluid space5"></div>

    </div>


            <!-- /头部 -->

            <!-- 主体 -->
            
    <div class="container site">
        <div class="row-fluid">
            <div class="span12">
                
    <div class="row-fluid">
        <div class="span8">
            <div class="">
                <ul class="portfolio-filter">
                    <a href="c/nknews.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">南开新闻</a>
                    <a href="xw/nkxw.htm" target="" style="float:right;padding-top:20px; color:#666;">更多<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
                </ul>
                <hr>

                <div>
                    <div class="row-fluid newslist" style="border-bottom:0px;"><div class="span3"><script language="javascript" src="/system/resource/js/ajax.js"></script><div class="new-icon-container"> <a href="info/1020/7141.htm" title="边晓春先生向我校图书馆捐赠民国家书400余封"><img src="/__local/3/C7/BE/06C877B93B9E9DA15D1205DB980_4CF2CA73_3CC05.jpg" alt="边晓春先生向我校图书馆捐赠民国家书400余封"> </a> </div>
    <div class="blog-date"><i class="fa fa-fw fa-newspaper-o"></i> </div>
    <div class="blog-date blog-date-2">2020.12.04</div>
<script>_showDynClickBatch(['dynclicks_u5_7141'],[7141],"wbnews", 1543431394)</script>
</div>
                        <div class="span9 post-d-info"><a href="info/1020/7142.htm">
<h2 class="news-title"> 知名眼科专家、天津医科大学校长颜华教授受聘...[2020-12-04]</h2>
</a>
<p></p>
<ul class="list-c">
 <li class=""> <a href="info/1020/7141.htm"><i class="fa fa-fw fa-angle-right"></i>边晓春先生向我校图书馆捐赠民国家书400余封<span class="pull-right">2020-12-04</span> </a> </li>
 <li class=""> <a href="info/1020/7140.htm"><i class="fa fa-fw fa-angle-right"></i>南开大学评选首届唐立新奖学金<span class="pull-right">2020-12-04</span> </a> </li>
 <li class=""> <a href="info/1020/7137.htm"><i class="fa fa-fw fa-angle-right"></i>曹雪涛赴天津医科大学总医院交流座谈<span class="pull-right">2020-12-04</span> </a> </li>
 <li class=""> <a href="info/1020/7135.htm"><i class="fa fa-fw fa-angle-right"></i>南开校友新著《口述津沽：南开学子语境下的公...<span class="pull-right">2020-12-04</span> </a> </li>
</ul>

<div class="row-fluid space5"></div><script>_showDynClickBatch(['dynclicks_u6_7142','dynclicks_u6_7141','dynclicks_u6_7140','dynclicks_u6_7137','dynclicks_u6_7135'],[7142,7141,7140,7137,7135],"wbnews", 1543431394)</script>
</div></div>
                </div>
            </div>
            <div class="">
                <ul class="portfolio-filter">
                    <a href="c/announcement.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">通知公告</a>
                    <a href="xw/tzgg.htm" target="" style="float:right;padding-top:20px;color:#666;">更多<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
                </ul>
                <hr>
                <!-- Blog Post -->
                <div>
                    <!-- Space -->
                    <div class="row-fluid newslist" style="border-bottom:0px;">
                        <!-- Post Icon and Date Container -->
                        <div class="span3"><div class="new-icon-container"> <a href="info/1019/7101.htm" title="校友企业专场招聘会将如期线上举行"><img src="/__local/D/9F/E9/0777288D05DB594C0754B4CB6FD_F746DC1D_252A0A.png" alt="校友企业专场招聘会将如期线上举行"> </a> </div>
    <div class="blog-date"><i class="fa fa-fw fa-newspaper-o"></i> </div>
    <div class="blog-date blog-date-2">2020.11.12</div>
<script>_showDynClickBatch(['dynclicks_u7_7101'],[7101],"wbnews", 1543431394)</script>
</div>
                        <!-- Post Icon and Date Container End -->
                        <!-- Post Content Container -->
                        <div class="span9 post-d-info"><a href="info/1019/7101.htm">
<h2 class="news-title"> 校友企业专场招聘会将如期线上举行[2020-11-12]</h2>
</a>
<p></p>
<ul class="list-c">
 <li class=""> <a href="info/1019/7043.htm"><i class="fa fa-fw fa-angle-right"></i>邀请函 |“师兄带我去战斗”校友企业专场校园...<span class="pull-right">2020-10-28</span> </a> </li>
 <li class=""> <a href="info/1019/7040.htm"><i class="fa fa-fw fa-angle-right"></i>南开校友总会关于表彰 2019年度校友工作先进集...<span class="pull-right">2020-10-26</span> </a> </li>
 <li class=""> <a href="info/1019/7038.htm"><i class="fa fa-fw fa-angle-right"></i>“南开的有缘人”，你看过这部全年最佳纪录片...<span class="pull-right">2020-10-23</span> </a> </li>
 <li class=""> <a href="info/1019/6994.htm"><i class="fa fa-fw fa-angle-right"></i>建言“十四五”——“集思绘新篇 筑梦新百年”...<span class="pull-right">2020-09-30</span> </a> </li>
</ul>

<div class="row-fluid space5"></div><script>_showDynClickBatch(['dynclicks_u8_7101','dynclicks_u8_7043','dynclicks_u8_7040','dynclicks_u8_7038','dynclicks_u8_6994'],[7101,7043,7040,7038,6994],"wbnews", 1543431394)</script>
</div>
                        <!-- Post Content Container End -->
                    </div>
                </div>
                <!-- Blog Post End -->
            </div>
            <div class="">
                <ul class="portfolio-filter">
                    <a href="c/centernews.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">总会快讯</a>
                    <a href="xw/zhkx.htm" target="" style="float:right;padding-top:20px;color:#666;">更多<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
                </ul>
                <hr>
                <!-- Blog Post -->
                <div>
                    <!-- Space -->
                    <div class="row-fluid newslist" style="border-bottom:0px;">
                        <!-- Post Icon and Date Container -->
                        <div class="span3"><div class="new-icon-container"> <a href="info/1021/7004.htm" title="南开校友总会第七次校友代表大会举行"><img src="/__local/1/6B/16/7FB96522484005437335ABCFF8B_6E8D2382_14A34.jpg" alt="南开校友总会第七次校友代表大会举行"> </a> </div>
    <div class="blog-date"><i class="fa fa-fw fa-newspaper-o"></i> </div>
    <div class="blog-date blog-date-2">2020.10.09</div>
<script>_showDynClickBatch(['dynclicks_u9_7004'],[7004],"wbnews", 1543431394)</script>
</div>
                        <!-- Post Icon and Date Container End -->
                        <!-- Post Content Container -->
                        <div class="span9 post-d-info"><a href="info/1021/7004.htm">
<h2 class="news-title"> 南开校友总会第七次校友代表大会举行[2020-10-09]</h2>
</a>
<p></p>
<ul class="list-c">
 <li class=""> <a href="info/1021/7037.htm"><i class="fa fa-fw fa-angle-right"></i>天津市南开中学孙海麟理事长一行访问四川自贡...<span class="pull-right">2020-10-23</span> </a> </li>
 <li class=""> <a href="info/1021/7035.htm"><i class="fa fa-fw fa-angle-right"></i>天津市南开中学孙海麟理事长等一行访问重庆南...<span class="pull-right">2020-10-23</span> </a> </li>
 <li class=""> <a href="info/1021/7025.htm"><i class="fa fa-fw fa-angle-right"></i>南开大学建校101周年暨1990届校友毕业30周年纪...<span class="pull-right">2020-10-20</span> </a> </li>
 <li class=""> <a href="info/1021/7011.htm"><i class="fa fa-fw fa-angle-right"></i>津渝川13位“南开系”校长：新冠肺炎疫情按下...<span class="pull-right">2020-10-12</span> </a> </li>
</ul>

<div class="row-fluid space5"></div><script>_showDynClickBatch(['dynclicks_u10_7004','dynclicks_u10_7037','dynclicks_u10_7035','dynclicks_u10_7025','dynclicks_u10_7011'],[7004,7037,7035,7025,7011],"wbnews", 1543431394)</script>
</div>
                        <!-- Post Content Container End -->
                    </div>
                </div>
                <!-- Blog Post End -->
            </div>
            <div class="">
                <ul class="portfolio-filter">
                    <a href="c/subdynamics.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">分会动态</a>
                    <a href="xw/fhdt.htm" target="" style="float:right;padding-top:20px;color:#666;">更多<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
                </ul>
                <hr>
                <!-- Blog Post -->
                <div>
                    <!-- Space -->
                    <div class="row-fluid newslist">
                        <!-- Post Icon and Date Container -->
                        <div class="span3"><div class="new-icon-container"> <a href="info/1022/7133.htm" title="南开湖北校友举行“湖北战‘疫’与公能精神主题分享会暨2020南开湖北校友联谊会”"><img src="/__local/E/2D/79/D5FDFC2664564E0AA63F9470426_342925A1_1B5EE.jpg" alt="南开湖北校友举行“湖北战‘疫’与公能精神主题分享会暨2020南开湖北校友联谊会”"> </a> </div>
    <div class="blog-date"><i class="fa fa-fw fa-newspaper-o"></i> </div>
    <div class="blog-date blog-date-2">2020.12.03</div>
<script>_showDynClickBatch(['dynclicks_u11_7133'],[7133],"wbnews", 1543431394)</script>
</div>
                        <!-- Post Icon and Date Container End -->
                        <!-- Post Content Container -->
                        <div class="span9 post-d-info"><a href="info/1022/7133.htm">
<h2 class="news-title"> 南开湖北校友举行“湖北战‘疫’与公能精神主...[2020-12-03]</h2>
</a>
<p></p>
<ul class="list-c">
 <li class=""> <a href="info/1022/7132.htm"><i class="fa fa-fw fa-angle-right"></i>石家庄南开校友会举办2020年迎接新毕业生座谈...<span class="pull-right">2020-12-03</span> </a> </li>
 <li class=""> <a href="info/1022/7117.htm"><i class="fa fa-fw fa-angle-right"></i>氧气“缺位”，南开人的关爱从不缺位<span class="pull-right">2020-11-25</span> </a> </li>
 <li class=""> <a href="info/1022/7108.htm"><i class="fa fa-fw fa-angle-right"></i>一元复始，欣欣向蓉  ——南开四川校友2020年...<span class="pull-right">2020-11-18</span> </a> </li>
 <li class=""> <a href="info/1022/7082.htm"><i class="fa fa-fw fa-angle-right"></i>南开学校北京校友会2020年迎新活动圆满结束<span class="pull-right">2020-11-06</span> </a> </li>
</ul>

<div class="row-fluid space5"></div><script>_showDynClickBatch(['dynclicks_u12_7133','dynclicks_u12_7132','dynclicks_u12_7117','dynclicks_u12_7108','dynclicks_u12_7082'],[7133,7132,7117,7108,7082],"wbnews", 1543431394)</script>
</div>
                        <!-- Post Content Container End -->
                    </div>

                </div>
                <!-- Blog Post End -->
                <div class="row-fluid space10"></div>
            </div>
        </div>

        <div class="span4">
            <!-- 专题开始 -->
            <div style="width:100%; border-bottom:2px solid #a0468c; background:#fff; height:38px;text-align:center;">
                <a href="c/topnews.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">专题</a>
                <a href="kw/nkxytx1.htm" target="" style="float:right;padding-top:20px;color:#666;">详情<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
            </div>
     
            <div><A title="2020年八里台校友电子期刊第4期  (总第156期)" href="info/1086/7148.htm"><IMG alt="2020年八里台校友电子期刊第4期  (总第156期)" src="/__local/9/7C/B7/95BCC68075F9E856DAB65667FEE_6C58B8FC_2FC8E.jpg"> </A>
<script>_showDynClickBatch(['dynclicks_u13_7148'],[7148],"wbnews", 1543431394)</script>
</div>
                <div class="row-fluid space5"></div>

            <!-- 校友助成长开始 -->
            <div style="width:100%; border-bottom:2px solid #a0468c; background:#fff; height:38px;text-align:center;">
                <a href="c/career.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">校友助成长</a>
                <a href="fw/xyzp.htm" target="" style="float:right;padding-top:20px;color:#666;">详情<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
            </div>
            <div><A title="[专题]校友助成长" href="info/1078/4629.htm"><IMG alt="[专题]校友助成长" src="/__local/A/57/F1/2E817F422DDC2C90E8FDB16037E_9EDECCE3_78936.png?e=.png"> </A>
<script>_showDynClickBatch(['dynclicks_u14_4629'],[4629],"wbnews", 1543431394)</script>
</div>
            <div class="row-fluid space5"></div>

            <!-- 人物开始 -->
            <div style="width:100%; border-bottom:2px solid #a0468c; background:#fff; height:38px;text-align:center;">
                <a href="c/professionals.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">人物</a>
                <a href="rw/dsfc.htm" target="" style="float:right;padding-top:20px; color:#666;">详情<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
            </div>
            <div class="post-d-info">    <A title="穆旦百年 | 春到人间燕归来" href="info/1067/2821.htm"><IMG alt="穆旦百年 | 春到人间燕归来" src="images/renwu.jpg"> </A>
<A href="info/1067/2821.htm" style="COLOR: #666">穆旦百年 | 春到人间燕归来</A> 
</div>
             <div class="row-fluid space5"></div>
            <!-- 人物 End -->
            
            <!-- Blog Post Start -->
            <div style="width:100%; border-bottom:2px solid #a0468c; background:#fff; height:38px;text-align:center;">
                <a href="c/nkualumnipress.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">刊物</a>
                <a href="kw/nkxytx1.htm" target="" style="float:right;padding-top:20px;color:#666;">更多<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
            </div>
            <div class="mgz">    <div class="mgz-inner" style="background:#fff;padding-right:1px;"> 
<a href="info/1085/4687.htm"><img src="images/19/04/15/12ejudhtjq/kanwu1.jpg"> 
  <br>南开校友通讯2 <br>2019年04月15日
</a> 
</div>
<div class="mgz-inner" style="background:#fff;padding-right:1px;"> 
<a href="info/1086/4702.htm"><img src="images/19/04/15/12ejudhtjq/kanwu2.png"> 
  <br>2017年八里 <br>2019年04月15日
</a> 
</div>
<div class="mgz-inner" style="background:#fff;padding-right:1px;"> 
<a href="info/1087/4746.htm"><img src="images/19/04/15/12ejudhtjq/kanwu3.jpg"> 
  <br>《海外南开人》 <br>2019年04月15日
</a> 
</div>
</div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="portfolio-filter">
                <a href="c/alumniorgs.html" class="filter" data-filter="*" style="float:left;padding-top:15px; font-size:16px;">校友组织巡展</a>
                <a href="xyh/xyzz/dffh/qb.htm" target="" style="float:right;padding-top:20px;color:#666;">全部<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
            </ul>
            <hr>
        </div>
    </div>

    <div class="slider2 flexslider">
        <ul class="slides">
            <li style="display: list-item;">
                <div class="row-fluid">

  <a class="span3" href="info/1094/4625.htm" title="南开大学天津校友会">
    <div class="square-1">
      <div class="img-container"> <img src="/__local/B/1B/7D/DC4DE87B4F0F2B61A60261EFED2_E2A402FD_2A5E3.jpg?e=.jpg" alt="">
        <div class="img-bg-icon"></div>
      </div>
      <h3>南开大学天津校友会</h3>
      联系人：杨意东 <br />
      Email：yangyidong@nankai.edu.cn 
    </div>
  </a>


  <a class="span3" href="info/1094/4627.htm" title="南开洛杉矶校友会">
    <div class="square-1">
      <div class="img-container"> <img src="/__local/9/B8/2E/3E3EE845F4A31A4272B3BB16631_257A1F33_740AB.jpg?e=.jpg" alt="">
        <div class="img-bg-icon"></div>
      </div>
      <h3>南开洛杉矶校友会</h3>
      联系人：温桂芃 <br />
      Email：prbrgrace@yahoo.com 
    </div>
  </a>


  <a class="span3" href="info/1094/4626.htm" title="南开大华府校友会">
    <div class="square-1">
      <div class="img-container"> <img src="/__local/9/22/2D/6C11C10458C6652AFF5548108E7_0BA9083F_228B5.jpg?e=.jpg" alt="">
        <div class="img-bg-icon"></div>
      </div>
      <h3>南开大华府校友会</h3>
      联系人：马异同 <br />
      Email：nyma998@gmail.com 
    </div>
  </a>


  <a class="span3" href="info/1094/4628.htm" title="南开上海校友会">
    <div class="square-1">
      <div class="img-container"> <img src="/__local/8/44/6B/130141C5DE3147B8E80A377ADAC_6196813E_2100C.jpg?e=.jpg" alt="">
        <div class="img-bg-icon"></div>
      </div>
      <h3>南开上海校友会</h3>
      联系人：谢小勇 <br />
      Email：shnankai@vip.163.com 
    </div>
  </a>

</div>
<script>_showDynClickBatch(['dynclicks_u17_4625','dynclicks_u17_4627','dynclicks_u17_4626','dynclicks_u17_4628'],[4625,4627,4626,4628],"wbnews", 1543431394)</script>

            </li>
        </ul>
    </div>

    <div class="row-fluid space10"></div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="portfolio-filter">
                <a href="#" class="filter" data-filter="*" style="float:left;padding-top:15px; padding-bottom:5px; font-size:16px;">友情链接</a>
                <a style="float:right;padding-top:20px; color:#666;">查看<i class="fa fa-fw fa-arrow-circle-right" style="color:#a0468c;"></i></a>
            </ul>
            <hr>
        </div>
    </div>
    

    <div>
        <ul class="slides"><li>
                <div class="row-fluid">    <a class="span2 square-2 _tooltip" href="https://www.nankai.edu.cn/" data-placement="top" title="南开大学" target="_blank">
 <img src="images/zhulou.jpg" class="img-rounded img-smalllink" alt="南开大学">
 <p>南开大学</p>
</a>

<a class="span2 square-2 _tooltip" href="http://news.nankai.edu.cn" data-placement="top" title="南开新闻网" target="_blank">
 <img src="images/xinwen.jpg" class="img-rounded img-smalllink" alt="南开新闻网">
 <p>南开新闻网</p>
</a>

<a class="span2 square-2 _tooltip" href="https://aiguo.nankai.edu.cn/" data-placement="top" title="爱国主义教育基地" target="_blank">
 <img src="images/aiguo.jpg" class="img-rounded img-smalllink" alt="爱国主义教育基地">
 <p>爱国主义教育基地</p>
</a>

<a class="span2 square-2 _tooltip" href="http://www.lib.nankai.edu.cn/" data-placement="top" title="图书馆" target="_blank">
 <img src="images/tushu.jpg" class="img-rounded img-smalllink" alt="图书馆">
 <p>图书馆</p>
</a>

<a class="span2 square-2 _tooltip" href="http://nkuef.nankai.edu.cn/" data-placement="top" title="教育基金会" target="_blank">
 <img src="images/19/04/12/16iousmwjj/jyjjh.jpg" class="img-rounded img-smalllink" alt="教育基金会">
 <p>教育基金会</p>
</a>

<a class="span2 square-2 _tooltip" href="http://nkers.nankai.edu.cn/Mobile/Index/index.html" data-placement="top" title="校友服务平台" target="_blank">
 <img src="images/19/04/12/16iousmwjj/xyxxxt.png" class="img-rounded img-smalllink" alt="校友服务平台">
 <p>校友服务平台</p>
</a>

</div>
            </li></ul>
    </div>

    <div class="row-fluid space10"></div>

            </div>
        </div>
    </div>


            <!-- /主体 -->

            <!-- 底部 -->
            <!-- 底部
================================================== -->
<div id="footer" class="container">
    <div class="row">
        <div class="span4 desktop-only">
            <h2>南开学校</h2>
            <ul><LI><A href="http://www.nankai.edu.cn" title="">· 南开大学</A> </LI>

<LI><A href="http://www.nkzx.cn" title="">· 天津市南开中学</A> </LI>

<LI><A href="http://www.2nankai.cn" title="">· 天津市第二南开学校</A> </LI>

<LI><A href="http://www.nks.edu.cn" title="">· 重庆南开中学</A> </LI>

<LI><A href="http://www.zgsgzx.com" title="">· 四川省自贡市蜀光中学</A> </LI>

</ul>
        </div>
        <div class="span5">
            <h2>联系我们</h2>
            <strong>南开校友总会</strong>
            <br>
            <script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
<p><abbr title="Phone">电话</abbr>: +86-22-23501887, 23508515, 23508862<br><abbr title="Fax">传真</abbr>: +86-22-23501887&nbsp;<br><abbr title="Email">邮箱</abbr>: nkuaa@nankai.edu.cn &nbsp;<br><abbr title="Address">地址</abbr>: 天津市卫津路94号南开大学芝琴楼103</p>           <!-- </address> -->
        </div>
        <div class="span3">
            <h2>关注校友会</h2>
            <a href="http://weibo.com/nankaialumni">新浪微博</a> 微信
            <br>
                <IMG src="images/qrcode.png" style="WIDTH: 80px"> 

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="span7 copyright desktop-only"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p><a href="#">津ICP备05003116号</a> | Copyright 2014 © <span class="white bold">南开校友总会</span> All rights reserved.</p></div>
        <div class="span4 copyright right">
           
        </div>
        <div class="span1">
            <a id="back-to-the-top">
                <div class="back-top"></div>
            </a>
        </div>
    </div>
</div>

<!-- Bottom Space -->

<script type="text/javascript">
$(document).ready(function() {
    $(window).resize(function(event) {
        if ($(window).width() > 768) {
            var $this = $('.span9.left-part');
            $this.css('min-height', $this.parent('.row-fluid').height() + 'px').css('height', 'auto');;
        }
    }).resize();

    if (navigator.userAgent.match(/mobile/i)) {
        $('#screen-switcher').addClass('mobile');
        $('#screen-switcher a').each(function(index, el) {
            var url = window.location.pathname;
            $(this).attr('href', url + '?screen=' + $(this).attr('bind'));
        });
    }

    // 顶部搜索行为
    $('#header-search').submit(function(event) {
        var keywords = $('#searchWords').val();
        if (keywords == '') {
            $('#searchWords').focus();
        } else {
            window.location.href = '/s/' + keywords + '.html';
        }
        return false;
    });
});
</script>

            <!-- /底部 -->
        </div>
    

    
    <script type="text/javascript">
(function(){
    var ThinkPHP = window.Think = {
        "ROOT"   : "", //当前网站地址
        "APP"    : "", //当前项目地址
        "PUBLIC" : "/Public", //项目公共目录地址
        "DEEP"   : "/", //PATHINFO分割符
        "MODEL"  : ["2", "", "html"],
        "VAR"    : ["m", "c", "a"]
    }
})();
</script>

    <!-- JavaScripts -->
    <script type="text/javascript" src="dfiles/17795/public/home/default/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="dfiles/17795/public/home/default/js/functions.js"></script>
    <script type="text/javascript" src="dfiles/17795/public/home/default/js/common.js"></script>
    <script type="text/javascript" src="dfiles/17795/public/home/default/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" defer src="dfiles/17795/public/home/default/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="dfiles/17795/public/home/default/js/jquery.cookie.js"></script>

    
    <!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
    <link rel="stylesheet" href="dfiles/17795/addons/returntop/css/010.css">
<style>
    #topcontrol a.top_stick{
        display: block;
        outline: medium none;
        text-decoration: none;}
</style>
<script src="dfiles/17795/addons/returntop/scrolltopcontrol.js"></script>    <div class="hidden">
        <!-- 用于加载统计代码等隐藏元素 -->
        
    </div>
    




<!-- 用于加载js代码 -->

</body>

</html>
