<base href="https://study.nankai.edu.cn/"><!DOCTYPE html>
<html lang="zh">
<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>Office for International Academic Exchanges, International Students Section</title>
    <meta name="keywords" content="南开大学, 学术交流处, 对外交流, 国际化, 港澳台事务, 孔子学院" />
    <meta name="description" content="南开大学国际学术交流处、港澳台事务办公室、孔子学院工作办公室官方网站" />
    <meta name="author" content="" />
    
<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/ce/206/style/200/200.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="206"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_US.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link rel="shortcut icon" href="/_upload/tpl/01/9e/414/template414/htmlRes/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
    <link rel="stylesheet" href="/_upload/tpl/01/9e/414/template414/htmlRes/base.css" />
    <link rel="stylesheet" href="/_upload/tpl/01/9e/414/template414/htmlRes/skeleton.css" />
    <link rel="stylesheet" href="/_upload/tpl/01/9e/414/template414/htmlRes/nivo-slider.css" />
    <link rel="stylesheet" href="/_upload/tpl/01/9e/414/template414/htmlRes/style.css" />
    <link href="/_upload/tpl/01/9e/414/template414/htmlRes/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/_upload/tpl/01/9e/414/template414/htmlRes/skeleton-fix.css" />
    <!--[if IE]>
        <link href="/_upload/tpl/01/9e/414/template414/htmlRes/ie-fix.css" rel="stylesheet" />
    <![endif]-->
    <link href="/_upload/tpl/01/9e/414/template414/htmlRes/nivo-slider.min.css" rel="stylesheet" />
    <style type="text/css">
        .nivo-caption {
            opacity: 0.6;
        }

        .nivo-caption a {
            display: block;
        }
    </style>
    <!--[if lt IE 9]><script r='m'>document.createElement("section")</script><![endif]-->
    <script type="text/javascript" src="/_upload/tpl/01/9e/414/template414/htmlRes/modernizr.custom.11889.js"></script>
    <link href="/_upload/tpl/01/9e/414/template414/htmlRes/study-nku.css" rel="stylesheet" />
    <link href="/_upload/tpl/01/9e/414/template414/htmlRes/study-nku-en.css" rel="stylesheet" />
</head>
<body>
    <div id="wrap">
        <div class="top-bar"></div>

        <header id="header" class="container">
                <div frag="窗口80">
                        
                         
                          <div class="top-link linki1">
                             <a href="http://international.nankai.edu.cn/" target="_blank">交流处</a>
                          </div>
                         
                          <div class="top-link linki2">
                             <a href="http://study.nankai.edu.cn/stu" target="_blank">中文</a>
                          </div>
                            
                         
                       </div> 
            <div class="" id="site-logo">
                <a href="" style="display: inline-block;">
                    <!--[if lt IE 9]><img src="/_upload/tpl/01/9e/414/template414/htmlRes/nku.png" /><![endif]-->
                    <!--[if gte IE 9]><!-->
                    <img src="/_upload/tpl/01/9e/414/template414/htmlRes/nku.svg" />
                    <!--<![endif]-->
                </a>
                <div class="row2 site-title">
                    <span class="l1">Office for International Academic Exchanges </span>
                    <span class="l2">International Students Section</span>
                </div>
                <div id="site-search-form" frag="窗口2"><form method="post" action="/_web/search/doSearch.do?locale=en_US&request_locale=en_US&_p=YXM9MjA2JnQ9NDE0JmQ9MTQ5NSZwPTEmbT1TTiY_" target="_blank">
                            <input type="text" name="keyword" required placeholder="Enter keywords to search.."> 
                            <button type="submit" name="submit">
                                <i class="fa fa-fw fa-search"></i>
                            </button> 
                        </form></div> 
            </div>
 
            <nav id="nav-wrap" class="twelve" frag="窗口1">
               
                <ul id="nav">
                   
                    <li>
                        <a class="foot" href="http://study.nankai.edu.cn/main.htm">Home</a>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="/12358/list.htm">About Nankai</a>
                      
                        <ul class="mobile-only">
                          
                            <li>
                                <a class="foot" href="/12367/list.htm" title="">Facts & Figures</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12368/list.htm" title="">International Students Office</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12369/list.htm" title="">NKU Campus</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12370/list.htm" title="">Academic Calendar</a>
                            </li>
                          
                        </ul>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="/12359/list.htm">Admissions</a>
                      
                        <ul class="mobile-only">
                          
                            <li>
                                <a class="foot" href="/12371/list.htm" title="">Academic Education</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12372/list.htm" title="">Non-Academic Education</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12374/list.htm" title="">Summer Program</a>
                            </li>
                          
                        </ul>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="/12360/list.htm">Academics</a>
                      
                        <ul class="mobile-only">
                          
                            <li>
                                <a class="foot" href="/12379/list.htm" title="">Schools</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12380/list.htm" title="">Majors</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12381/list.htm" title="">School Calender</a>
                            </li>
                          
                        </ul>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="/12361/list.htm">Scholarships</a>
                      
                        <ul class="mobile-only">
                          
                            <li>
                                <a class="foot" href="null" title="">Chinese Government Scholarship</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12383/list.htm" title="">Tianjin Government Scholarship</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="http://study.nankai.edu.cn/StudywatwNankaischolarship/list.htm" title="">Nankai University Scholarship</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12385/list.htm" title="">Confucius Institute Scholarship</a>
                            </li>
                          
                        </ul>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="/12362/list.htm">Services</a>
                      
                        <ul class="mobile-only">
                          
                            <li>
                                <a class="foot" href="/12389/list.htm" title="">Orientation</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12390/list.htm" title="">Visa</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12391/list.htm" title="">Accommodation</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12392/list.htm" title="">Insurance</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12393/list.htm" title="">Tuition & Fees</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12394/list.htm" title="">University Policies</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12395/list.htm" title="">Download</a>
                            </li>
                          
                        </ul>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="/12363/list.htm">Notice</a>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="/12364/list.htm">News</a>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="/12365/list.htm">Contact Us</a>
                      
                        <ul class="mobile-only">
                          
                            <li>
                                <a class="foot" href="/12396/list.htm" title="">Contact Info</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12397/list.htm" title="">Staff</a>
                            </li>
                          
                            <li>
                                <a class="foot" href="/12398/list.htm" title="">Campus Map</a>
                            </li>
                          
                        </ul>
                      
                    </li>
                  
                    <li>
                        <a class="foot" href="http://nkuaa.nankai.edu.cn/">Alumni</a>
                      
                    </li>
                  
                </ul>
                
              <div style="clear: both;"></div>
            </nav>

        </header>


        <section id="full-width">

            <div class="theme-default" frag="窗口6">
                <div id="slider" class="nivoSlider" style="margin-bottom: 0px;">
                   
                    <img src="/_upload/article/images/a6/e3/8cc1785846f29965f004bf35f7f6/7dd95503-6c0a-4b44-aabe-1166ec592d79.jpg" title="INTERNATIONAL STUDENTS OF NANKAI UNIVERSITY EXPERIENCING CHINESE CULTURE IN SHANDONG" />
                   
                    <img src="/_upload/article/images/78/cb/8dcc02fc476893f72de1b0315a6e/d3b908b2-a620-41c1-8b2d-9a70e5e3297b.jpg" title="INTO CHINA AND NANKAI UNIVERSITY INVITED MR. MARWAN EMILE FADDOUL TO GIVE A LECTURE FOR FOREIGN STUDENTS" />
                   
                 </div>
               
                <div id="htmlcaption0" class="nivo-html-caption">
                    <a href="http://study.nankai.edu.cn/2015/1216/c12364a132616/page.htm" title="INTERNATIONAL STUDENTS OF NANKAI UNIVERSITY EXPERIENCING CHINESE CULTURE IN SHANDONG">INTERNATIONAL STUDENTS OF NANKAI UNIVERSITY EXPERIENCING CHINESE CULTURE IN SHANDONG</a>
                </div>
               
                <div id="htmlcaption0" class="nivo-html-caption">
                    <a href="http://study.nankai.edu.cn/2017/1115/c12364a132623/page.htm" title="INTO CHINA AND NANKAI UNIVERSITY INVITED MR. MARWAN EMILE FADDOUL TO GIVE A LECTURE FOR FOREIGN STUDENTS">INTO CHINA AND NANKAI UNIVERSITY INVITED MR. MARWAN EMILE FADDOUL TO GIVE A LECTURE FOR FOREIGN STUDENTS</a>
                </div>
                
            </div>

            <div class="pic-cards" style="overflow: hidden;">
                <div class="banner-bottom-links" frag="窗口3"> 
                   
                    <a href="http://nankai.17gz.org/" target="_blank">
                        <i class="fa fa-fw fa-cogs"></i> SERVICE SYSTEM</a>
                    
                  
                  <a href="null" target="_blank">
                        <i class="fa fa-fw fa-certificate"></i>SCHOLARSHIPS</a>
                    
                  
                  <a href="http://study.nankai.edu.cn/12380/list.htm" target="_blank">
                        <i class="fa fa-fw fa-info-circle"></i>MAJORS INTRO</a>
                    
                  
                  <a href="https://nankai.17gz.org/member/login.do" target="_blank">
                        <i class="fa fa-fw fa-graduation-cap"></i>PROGRAM APPLY</a>
                   
                  <div class="clear"></div>
                </div>

                <div class="container announcement">
                    <h2>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Notice
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </h2>
                  <div frag="窗口4">
                    
                      <a href="/2020/0825/c12363a292190/page.htm" class="one-third column news-item" title="Declaration of Nankai University">
                          <div class="content">
                               <div class="time">
                                   <div class="day">25</div>
                                   <div class="month">2020/08</div>
                               </div>
                               <div class="info">
                                   <h3>飞书登录+填报常见Q&A（新生版）</h3>
                                   <p>​</p>
                               </div>
                                <div class="clear"></div>
                             </div>
                      </a>
                    
                      <a href="/2020/0825/c12363a292189/page.htm" class="one-third column news-item" title="Declaration of Nankai University">
                          <div class="content">
                               <div class="time">
                                   <div class="day">25</div>
                                   <div class="month">2020/08</div>
                               </div>
                               <div class="info">
                                   <h3>学宿费用缴纳流程图</h3>
                                   <p>​</p>
                               </div>
                                <div class="clear"></div>
                             </div>
                      </a>
                    
                      <a href="/2020/0309/c12363a266994/page.htm" class="one-third column news-item" title="Declaration of Nankai University">
                          <div class="content">
                               <div class="time">
                                   <div class="day">09</div>
                                   <div class="month">2020/03</div>
                               </div>
                               <div class="info">
                                   <h3>Delay The Start of Spring Semester 2020</h3>
                                   <p>​In order to implement the spirit of the Central Leadership Group Meeting on New Coronavirus Infectio...</p>
                               </div>
                                <div class="clear"></div>
                             </div>
                      </a>
                    
                  </div>
                     
                    <div class="clear"></div> 
                    <a href="http://study.nankai.edu.cn/12363/list.htm" class="more">More Notice</a>
                </div>

                <ul class="container" id="pic-news" frag="窗口5">
                   
                    <li class="pic-card two-fourth">
                        <a href="/2020/0309/c12364a266995/page.htm" class="item">
                            <img src="/_upload/tpl/01/9e/414/template414/htmlRes/937_650-400.jpg" alt=""> 
                            <div class="news-info">
                                <div class="content">
                                    <h3>Delay The Start of Spring Semester 2020</h3>
                                    <p>In order to implement the spirit of the Central Leadership Group Meeting on New Coronavirus Infectio...</p>
                                    <span>
                                        <i class="fa fa-clock-o"></i>2020-03-09</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                  
                  
                    <li class="pic-card one-fourth">
                        <a href="/2019/0610/c12364a175794/page.htm" class="item">
                            <img src="/_upload/tpl/01/9e/414/template414/htmlRes/937_650-400.jpg" alt=""> 
                            <div class="news-info">
                                <div class="content">
                                    <h3>International Students Scholarship Notice of Nankai University 2019</h3>
                                    <p>根据《市教委市财政局关于印发天津市外国留学生政府奖学金管理暂行办法的通知》(津教委[2016]20号)、《市教...</p>
                                    <span>
                                    <i class="fa fa-clock-o"></i>2019-06-10</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                   
                   
                    <li class="pic-card one-fourth last">
                        <a href="/2017/1115/c12364a132623/page.htm" class="item">
                            <img src="/_upload/tpl/01/9e/414/template414/htmlRes/937_650-400.jpg" alt=""> 
                            <div class="news-info">
                                <div class="content">
                                    <h3>INTO CHINA AND NANKAI UNIVERSITY INVITED MR. MARWAN EMILE FADDOUL TO GIVE A LECTURE FOR FOREIGN STUDENTS</h3>
                                    <p>INTO China and Nankai University invited Mr. Marwa</p>
                                    <span>
                                        <i class="fa fa-clock-o"></i>2017-11-15</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                  
                </ul> 
            </div> 
        </section> 
        <section class="nku-content">
            <div class="introductions container">
                <ul class="introduction-tabs">
                    <li class="tab first">
                        <a href="javascript:;" data-target="courses-tab">
                            <i class="fa fa-book"></i> PROGRAMS</a>
                    </li>
                    <li class="tab">
                        <a href="javascript:;" data-target="voices-tab">
                            <i class="fa fa-comments"></i> NKU VOICE</a>
                    </li>
                    <li class="tab active">
                        <a href="javascript:;" data-target="apply-tab">
                            <i class="fa fa-paper-plane"></i> APPLY</a>
                    </li>
                    <li class="clear"></li>
                </ul>
                <div class="tab-content courses" id="courses-tab" frag="窗口7">
                   
                    <div class="columns four">
                        <a href="" class="course-item">
                            <h3>Chemicobiology</h3>
                            <p><i class="fa fa-graduation-cap"></i>Bachelor</p>
                        </a>
                    </div>
                  
                    <div class="columns four">
                        <a href="" class="course-item">
                            <h3>Molecular Science and Engineering</h3>
                            <p><i class="fa fa-graduation-cap"></i>Bachelor</p>
                        </a>
                    </div>
                  
                    <div class="columns four">
                        <a href="" class="course-item">
                            <h3>Financial Management</h3>
                            <p><i class="fa fa-graduation-cap"></i>Bachelor</p>
                        </a>
                    </div>
                  
                    <div class="columns four">
                        <a href="" class="course-item">
                            <h3>Marketing</h3>
                            <p><i class="fa fa-graduation-cap"></i>Bachelor</p>
                        </a>
                    </div>
                  
                 <div class="clear"></div> 
                </div>

                <div class="tab-content voices" id="voices-tab">
                    <a href="javascript:;" class="switch left">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a href="javascript:;" class="switch right">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <ul frag="窗口8">
                      
                        <li>
                            <div class="columns three offset-by-two">
                                <img src="/_upload/article/images/1a/74/52932877441fb4c99408d9d5c190/e694c49c-ad12-4fbc-8e78-5528ae23d95c.png" alt="">
                            </div>
                            <div class="columns nine">
                                <p>
                                    &nbsp;&nbsp;I am LUKE GILKISON from Wellington University of Newsland. In the March of 2015, I became a Chinese training student of Nankai University by the support of Chinese Government Scholarship. After half year learning, I realize that I really love this university and I made a decision-I should stay here for another semester. With the help of the International Students Office, I got a seat of Exchange student under the Exchange Program between Nankai Univesity and Wellingtong University.. <a href="/2019/0509/c13108a133243/page.htm">more</a>
                                </p>
                            </div>
                            <div class="clear"></div>
                        </li>
                       
                    </ul>
                </div>

                <div class="tab-content apply active" id="apply-tab" frag="窗口10">
                    
                    <div class="columns four">
                        <a href="http://study.nankai.edu.cn/12359/list.htm" class="link-item">
                            <h3>
                                <i class="fa fa-institution"></i>
                            </h3>
                            <p> POLICY</p>
                        </a>
                    </div>
                    
                    
                    <div class="columns four">
                        <a href="http://study.nankai.edu.cn/2019/0509/c12359a133248/page.htm" class="link-item">
                            <h3>
                                <i class="fa fa-info-circle"></i>
                            </h3>
                            <p>APPLY STEPS</p>
                        </a>
                    </div>
                    
                    
                    <div class="columns four">
                        <a href="http://study.nankai.edu.cn/12380/list.htm" class="link-item">
                            <h3>
                                <i class="fa fa-bell"></i>
                            </h3>
                            <p>RECRUIMENTS</p>
                        </a>
                    </div>
                    
                    
                    <div class="columns four">
                        <a href="https://nankai.17gz.org/member/login.do" class="link-item">
                            <h3>
                                <i class="fa fa-pencil-square"></i>
                            </h3>
                            <p>APPLY NOW</p>
                        </a>
                    </div>
                    
                </div>
            </div>
        </section>




        <footer id="footer" align="center">
            <div class="container footer-in">
                <ul class="study-nku-footer" frag="窗口12">
                  
                   
                    <li class="columns four">
                        <h3>Academics</h3>
                      
                        <div>
                          
                            <div class="item">
                                <a href="http://study.nankai.edu.cn/12379/list.htm">Schools</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://study.nankai.edu.cn/12380/list.htm">Majors</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://study.nankai.edu.cn/12381/list.htm">Calendar</a>
                            </div>
                          
                            <div class="item">
                                <a href="null">English Programs</a>
                            </div>
                          
                            <div class="item">
                                <a href="#">Exchange Programs</a>
                            </div>
                           
                        </div>
                        
                    </li>
                    
                    <li class="columns four">
                        <h3>Scholarships</h3>
                      
                        <div>
                          
                            <div class="item">
                                <a href="http://study.nankai.edu.cn/12382/list.htm">Chinese Government Scholarship</a>
                            </div>
                          
                            <div class="item">
                                <a href="/13159/list.htm">CSC Scholarship for USA Students</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://study.nankai.edu.cn/12383/list.htm">Tianjin Government Scholarship</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://study.nankai.edu.cn/12385/list.htm">Confucius Institute Scholarship</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://study.nankai.edu.cn/12384/list.htm">Nankai University Scholarship</a>
                            </div>
                           
                        </div>
                        
                    </li>
                    
                    <li class="columns four">
                        <h3>Services</h3>
                      
                        <div>
                          
                            <div class="item">
                                <a href="/13163/list.htm">Orientation</a>
                            </div>
                          
                            <div class="item">
                                <a href="/13164/list.htm">Visa</a>
                            </div>
                          
                            <div class="item">
                                <a href="/13165/list.htm">Accomodation</a>
                            </div>
                          
                            <div class="item">
                                <a href="/13166/list.htm">Insurace</a>
                            </div>
                          
                            <div class="item">
                                <a href="/13167/list.htm">Tution & Fees</a>
                            </div>
                           
                        </div>
                        
                    </li>
                    
                    <li class="columns four">
                        <h3>Links</h3>
                      
                        <div>
                          
                            <div class="item">
                                <a href="http://www.nankai.edu.cn">NanKai University</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://www.csc.edu.cn/">CSC</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://english.hanban.org/">Hanban</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://international.nankai.edu.cn/jpk">English Quality Course</a>
                            </div>
                          
                            <div class="item">
                                <a href="http://www.intostudy.com/en-gb/universities/nankai-university">INTO</a>
                            </div>
                           
                        </div>
                        
                    </li>
                    
                  
                    <li class="clear"></li> 
                </ul>
            </div>
        </footer>

        <div id="footer-addr">
            <div class="container footer-addr">
                <div class="" align="center">
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1275855245'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1275855245%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                    <i class="fa fa-map-marker"></i> 94 Weijin Road,Tianjin,P.R.China Zip Code:300071 &nbsp;&nbsp;
                    <i class="fa fa-phone"></i> + 86 (22) 2350 8229 / + 86 (22) 2350 8825</div>
            </div>
        </div>
        <style>
            @media(min-width: 768px) {
                .link-part.left {
                    width: 45%;
                }
                .link-part.right {
                    width: 27%;
                }
            }

            #footer-addr {
                background-color: #333;
                padding-top: 8px;
                padding-bottom: 8px;
            }

            #footer-addr .container.footer-addr {
                color: #ccc;
            }
        </style> 
    </div>
 
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            /* 加入移动页面下的导航触发按钮 */
            $('#nav-wrap').prepend('<div id="menu-icon">网站 - <span class="mn-clk">栏目导航</span></div>');

            /* 绑定导航按钮动作 */
            $("body").on("click.nav", "#menu-icon", function () {
                $("#nav").slideToggle();
                $(this).toggleClass("active");
            });

            /* 当触摸非导航元素时自动隐藏 */
            $('body').on('click.nav', function (e) {
                if ($(e.target).is(':not(#nav, #nav-warp, #menu-icon)') && $("#menu-icon").is('.active')) {
                    $("#nav").slideUp('fast');
                    $("#menu-icon").removeClass('active');
                }
            });
        });

        // 列表内容自动播放
        function initSlide($obj) {
            return setInterval(function () {
                var $slide = '';
                if ($obj.find('.slide-item.active').length == 0) {
                    $slide = $obj.find('.slide-item:first');
                } else if ($obj.find('.slide-item.active').next('.slide-item').length == 0) {
                    $slide = $obj.find('.slide-item:first');
                } else {
                    $slide = $obj.find('.slide-item.active').next('.slide-item');
                }

                $slide.siblings('.active').fadeOut('400', function () {
                    $(this).removeClass('active');
                    $slide.fadeIn('300').addClass('active');
                })
            }, 3000);
        }

        function bindSlide($obj) {
            $obj.each(function (index, el) {
                $(this).find('.slide-item:first').addClass('active');

                var interval = initSlide($(this));
                $(this).hover(function () {
                    clearInterval(interval);
                }, function () {
                    interval = initSlide($(this));
                });
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '.tabs a.tab', function () {
                var id = $(this).data('target');
                var url = $(this).data('url');

                $(this).addClass('active').siblings('.active').removeClass('active');
                $(this).parents('.tabs').find('.tab-item#' + id).addClass('active').siblings('.active').removeClass('active');

                if (url) {
                    $(this).parents('.tabs').find('a.more').attr('href', url);
                }
            });

            $('.tabs a.tab').hover(function () {
                $(this).trigger('click');
            }, function () {
                /* Stuff to do when the mouse leaves the element */
            });
        });
    </script>



    <script type="text/javascript" src="/_upload/tpl/01/9e/414/template414/htmlRes/jquery.nivo.slider.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                effect: 'random',
                directionNav: true,
                controlNav: true
            });

            bindSlide($('.slide-album'));
        });

        $(document).ready(function () {
            $('.introduction-tabs .tab a').hover(function () {
                $(this).click();
            }, function () {
                /* Stuff to do when the mouse leaves the element */
            });

            $('body').on('click', '.introduction-tabs .tab a', function (event) {
                event.preventDefault();
                $(this).parent('li').addClass('active').siblings('li.active').removeClass('active');

                var id = $(this).data('target');
                if (typeof id != 'unedinfed' && $('#' + id).length > 0) {
                    var $tab = $('#' + id);
                    $tab.addClass('active');
                    $tab.siblings('.active').removeClass('active');
                }
            });
        });
    </script> 
</body> 
</html>
 <img src="/_visitcount?siteId=206&type=1&columnId=11650" style="display:none" width="0" height="0"></image>