<base href="http://news.nankai.edu.cn/mtnk/system/2020/12/07/030043118.shtml"><!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>光明网：积极探索城市治理的“时代良方”-媒体南开-南开大学</title>
<meta name="keywords" content="">
<meta name="description" content="　　编者按：为进一步深入学习宣传贯彻习近平新时代中国特色社会主义思想，推进用党的创新理论武装头脑、指导实践、推动工作，把制度优势更好地转化为治理效能，中央网信办与光明日报社共同组织实践新论网上理论传播专栏，陆续在光明网推出系列理论稿件和新媒体作品，解析理论与实践之间的内在逻辑，敬请关注。
　　城...">
<style>
a,h1,h2,h3,h4,h5,h6,ul,li,body,html,div,span,button,dl,dt,dd,img,p{ border:none; margin:0; padding:0}
ul,li,dd,dt{ list-style:none; }
p {word-break:break-all;}
.right{ float:right}
.left{ float:left}
.hong{ color:#FF0000}


/*simsun Microsoft YaHei */
body{background:#f5f5f5;  }
td{ font-size:14px; font-family:Microsoft YaHei ;}
a{ text-decoration:none; color:#000; font-family:Microsoft YaHei ; }
a:hover{  color:#b20509; }
</style>
<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
    <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://www.nankai.edu.cn/ywsd/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   </style>
	<script type="text/javascript" src="http://news.nankai.edu.cn/cms_sys/calc/online_calc.js" ></script>
<script type="text/javascript" src="http://news.nankai.edu.cn/js/jquery.js"></script>
</head>

<body>

<!--主体 start-->
<div id="root">
	<!--头图-->
	<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
     <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://news.nankai.edu.cn/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   .bai,.bai a:link,.bai a:hover,.bai a:visited {color: #FFF; font-family:微软雅黑;}
}
</style>
    <!--头图-->
  <table style="background:url(http://news.nankai.edu.cn/images/tou.jpg) top center no-repeat; height:183px;" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
	  <tbody><tr>
	    <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody>
   <tr><td align="right" style="padding-right:20px; padding-bottom:20px;"  class="bai" ></td>
   </tr>
  <tr>

    <td>
    
    <table id="app" cellspacing="0" cellpadding="0" border="0" align="right" width="350">
  <tbody><tr>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weixin.png" height="55" width="55"><span><img src="http://news.nankai.edu.cn/images/weixin.jpg" height="100" width="100"></span>
    </td>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weibo.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/weibo.jpg" height="100" width="100"></span></td>
     <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_douyin.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/dy11.png" height="106" width="100"></span></td>
      <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_blibili.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/bz.png" height="106" width="100"></span></td>
   
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>


        </td>
	  </tr>
   </tbody></table>
 
   <table id="nav" style=" background:#701a5b; height:58px; " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr>
    <td style="padding-left:20px;"><a href="http://news.nankai.edu.cn/index.shtml">首页</a></td>
    <td><a href="http://news.nankai.edu.cn/ywsd/index.shtml">南开要闻</a></td>
    <td><a href="http://news.nankai.edu.cn/bnxq/index.shtml">百年校庆</a></td>
    <td><a href="http://news.nankai.edu.cn/mtnk/index.shtml">媒体南开</a></td>
    <td><a href="http://news.nankai.edu.cn/xlzt/index.shtml">专题报道</a></td>
    <td><a href="http://news.nankai.edu.cn/nkrw/index.shtml">南开人物</a></td>
    <td><a href="http://news.nankai.edu.cn/nkzs/index.shtml">南开之声</a></td>
    <td width="110"><a href="http://news.nankai.edu.cn/nkdxb/index.shtml">南开大学报</a></td>
    <td width="60"><a href="http://news.nankai.edu.cn/sp/index.shtml">视频</a></td>
    <td width="79"><a href="http://news.nankai.edu.cn/gb/index.shtml">广播</a></td>
    <td style="width:290px; "><form action="http://search.news.nankai.edu.cn/m_fullsearch/searchurl/mfullsearch!descResult.do"  method="post" name="form0" id="form0" target="_blank">
    <div style="position:relative; overflow:hidden; width:270px; height:37px; background:#fff; border-radius:30px;">
    <input type="text" name="keywords" style=" height:37px; width:210px; padding-left:10px; "/>
                  <input type="hidden" name="news_type_id" value="1" />
                  <input type="hidden" name="channel_id" value="0" />
                  <input type="image" style="position: absolute; top:10px; right:10px; "src="http://news.nankai.edu.cn/images/index_04.jpg" height="19" width="23" name="Submit1" /></div></form>
                  
                  
                  
                  </td>
  </tr>
</tbody></table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-11-21 14:11:22" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->

   	<!--正文-->
    <table style="padding-top:20px; background:#fff;  " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr><td valign="top">
   <table cellspacing="10" cellpadding="0" border="0" width="100%">
  <tbody><tr>
     <td style="padding:15px; border-bottom:1px solid #ddd; " width="875"><span class="cms_block_span">

您当前的位置 ：			<a href=http://news.nankai.edu.cn/index.shtml>南开大学</a>						            				>>			                			<a href=http://news.nankai.edu.cn/mtnk/index.shtml>媒体南开</a>			     
</span>
    </td>
  </tr>
</tbody></table>
  <table style="padding:0 0 0 10px; " cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody><tr>
    <td style=" font-size:30px; font-weight:bold; text-align:center; padding:20px 0 15px; line-height:34px; ">光明网：积极探索城市治理的“时代良方”</td>
  </tr>
  <tr>
    <td style="text-align:center; border-bottom:1px solid #ddd; padding-bottom:15px;"><span style="margin-right:10px;">来源： </span><span>发稿时间：2020-12-07 15:56</span></td>
  </tr>
  <tr><style>
  #txt p{ line-height:2em; font-size:16px; margin-bottom:15px;}
  </style>
    <td style="padding-top:25px; padding-left:20px; padding-bottom:20px;" id="txt"><p style="text-align: left;">　　<font face="楷体"><strong>编者按：</strong>为进一步深入学习宣传贯彻习近平新时代中国特色社会主义思想，推进用党的创新理论武装头脑、指导实践、推动工作，把制度优势更好地转化为治理效能，中央网信办与光明日报社共同组织&ldquo;实践新论&rdquo;网上理论传播专栏，陆续在光明网推出系列理论稿件和新媒体作品，解析理论与实践之间的内在逻辑，敬请关注。</font></p>

<center><img align="center" alt="【实践新论】积极探索城市治理的“时代良方”" border="0" id="69305129" sourcedescription="编辑提供的本地文件" sourcename="本地文件" src="https://imgtheory.gmw.cn/attachement/gif/site2/20201204/f44d307589282134426c02.gif" style="width: 498px; height: 796px;" title="【实践新论】积极探索城市治理的“时代良方”" /></center>

<p style="text-align: left;">　　城市是人类栖居之场所，承载了人们生活与发展的各种预期。改革开放以来，我国城镇化率由17.9%提高到2019年的60.6%，经历了世界上规模最大的城市化进程，城市发展成就举世瞩目。今年3月底，习近平总书记在浙江考察时指出，推进国家治理体系和治理能力现代化，必须抓好城市治理体系和治理能力现代化。10月，习近平总书记在深圳经济特区建立40周年庆祝大会上再次强调，要树立全周期管理意识，加快推动城市治理体系和治理能力现代化，努力走出一条符合超大型城市特点和规律的治理新路子。城市治理成为新时代国家治理的重要内容，立足于第二个百年新征程上更要抓好城市治理，有力推进城市治理现代化。</p>

<p style="text-align: left;">　　近年来，我国各地城市依托党建引领、社会参与、治理重心下移和智慧治理等方式，探索构建共建共治共享的城市治理共同体。在新冠肺炎疫情防控期间，一些城市彰显了群防群控、联防联治的巨大能量。但是城市治理过程中还存在职责交叉、社会失灵、风险性加剧等短板。要总结经验，汲取教训，加快补齐城市治理体系的短板和弱项，寻求城市治理的&ldquo;时代良方&rdquo;。</p>

<p style="text-align: left;">　　<strong>党建引领，三层联动，形成&ldquo;1+N&rdquo;城市治理政策体系</strong></p>

<p style="text-align: left;">　　各地将党的建设贯穿于城市治理之中，着力构建城市治理的&ldquo;1+N&rdquo;政策体系。&ldquo;1&rdquo;代表各地城市治理的总纲领，&ldquo;N&rdquo;则是在总纲领的指引下涉及城市治理的方方面面。</p>

<p style="text-align: left;">　　2015年，上海市委、市政府出台《关于进一步创新社会治理加强基层建设的意见》，并且配套了街道体制改革、居民专区治理体系完善、村级治理体系完善、网格化管理、社会力量参与、社区工作者等6个文件，这被概括为&ldquo;1+6&rdquo;系列文件。2017年，成都市在全国首设党委序列的&ldquo;城乡社区发展治理委员会&rdquo;，打破原来社区治理&ldquo;九龙治水&rdquo;的局面，并陆续发布&ldquo;城乡社区治理30条&rdquo;和涉及社区发展的配套文件。同年杭州市形成了&ldquo;1+8&rdquo;城乡社区治理政策体系，并于2019年通过了《关于高水平推进杭州城市治理现代化的决定》，总体布局了提高城市治理的八个方面工作。</p>

<p style="text-align: left;">　　尽管一些城市在形成治理体系方面下了功夫，但是，普遍的情况是，各地城市治理的职责依旧交叉重叠，难以发挥整体性势能。要构建共建共治共享的城市治理共同体，就要处理好碎片化和分散化的治理难题，推动宏观、中观和微观三个层面的联动，架构城市治理体系。宏观层面要以&ldquo;以人民为中心&rdquo;的价值理念统合政治、市场、社会和个体生活不同逻辑的平衡，确立城市治理价值和宏观路线；中观层面要构建机构和制度的整合体系；在微观层面要形成差异化、分类化的行动体系。</p>

<p style="text-align: left;">　　<strong>社会参与，多方协作，形成城市治理共同体</strong></p>

<p style="text-align: left;">　　党的十九届五中全会通过的《中共中央关于制定国民经济和社会发展第十四个五年规划和二〇三五年远景目标的建议》指出&ldquo;建设人人有责、人人尽责、人人享有的社会治理共同体&rdquo;。所谓共同体，是指调动群众、市场和社会的积极性，一起解决公共问题，拓宽治理&ldquo;基本面&rdquo;，让&ldquo;无感的城市&rdquo;成为&ldquo;我们的城市&rdquo;。近年来，一些城市下大力气推进社会参与、多方协同，探索出一些可供借鉴的经验。</p>

<p style="text-align: left;">　　成都市公共财政年投入15个亿的社区资金，为社会组织参与社会治理和居民自下而上参与社区治理创造了良好的环境。在新冠肺炎疫情防控过程中，成都市在第一时间动员了近50万干部群众进入社区一线，背后依靠的就是日常扎实的群众基础；在广州市，每个街道都设有家庭综合服务中心，政府引入专业社工组织来承担街道范围内的一些公共服务；湖南省岳阳楼区奇家岭街道引入&ldquo;群英断是非&rdquo;，由党员代表、乡贤、居民代表共同评议，&ldquo;谁能吃低保、谁不能吃，都摆在桌面上&rdquo;，群众对干部信任度也提高了。</p>

<p style="text-align: left;">　　与之相应，有的城市社会力量、市民参与等参与治理的基础还不坚实、氛围还不浓厚。从社会组织数量上来看，截至2019年年底，我国社会组织数量已突破86.63万个。但许多城市社会组织数量仍然偏少、能力不高、参与治理机会少。一些社会组织缺乏必要的引导和制约，能力不足，政府转移出来的职能接不住也接不好；市民仍存&ldquo;依赖心理&rdquo;，参与率总体不强，基层治理出现&ldquo;社会失灵&rdquo;的现象。</p>

<p style="text-align: left;">　　城市治理不是政府的&ldquo;独角戏&rdquo;，应是集聚各方的&ldquo;共同体&rdquo;。因此，要将共同体理念贯穿到空间规划、经济发展、政治社会发展的全周期之中；要充分发挥好&ldquo;党建社会化&rdquo;的功能，打通党群联系的最后一百米，通过&ldquo;开门搞党建&rdquo;，组织好、发动好基层群众参与治理；要提升城市治理能力，充分凝聚社会共识，推动&ldquo;社会治理社会化&rdquo;，摈弃&ldquo;社会不行，政府万能&rdquo;的思维，大力推进社区、社会组织、社会工作&ldquo;三社联动&rdquo;，培育更多的社区社会组织，提升社会工作者和居民参与热情和参与能力。</p>

<p style="text-align: left;">　　<strong>科技赋能，重心下移，形成城市治理新效能</strong></p>

<p style="text-align: left;">　　一流的城市要有一流的治理，一流的治理要有一流的技术。习近平总书记指出，从数字化到智能化再到智慧化，让城市更聪明一些、更智慧一些，是推动城市治理体系和治理能力现代化的必由之路，前景广阔。</p>

<p style="text-align: left;">　　城市治理不是&ldquo;大水漫灌&rdquo;，要一针一线有讲究，一丝一毫求极致。而城市基层管理幅度普遍偏大，而且社会群体利益多样、诉求多元，这就需要以智慧化、精细化的手段做好城市治理的细节。根据城市发展面临的挑战、对标中央提出的要求，要推动科技赋能和治理重心下移。近年来，杭州市加速打造&ldquo;全国数字治理第一城&rdquo;，大数据的使用提升了城市治理的能级。在疫情防控最紧张时期，杭州城市大脑驾驶舱的大屏幕上会时刻显示进入市区的人员情况，同时在全国首创&ldquo;企业复工数字平台&rdquo;和&ldquo;健康码&rdquo;。&ldquo;杭州健康码&rdquo;日最高使用量超过2685万次。小到买菜、出行，大到路口管控、疫情发展，各项城市数据在&ldquo;城市大脑&rdquo;中一键获取，一屏显示，足不出户便可感知城市情况；上海市编织成型&ldquo;两张网&rdquo;（政务服务&ldquo;一网通办&rdquo;、城市运行&ldquo;一网统管&rdquo;），让数据在交换中&ldquo;活&rdquo;起来，让政务服务像网购一样方便。在新冠肺炎疫情防控期间，上海市徐汇区利用&ldquo;一网统管&rdquo;防疫数据运营平台，累计归集数据70万条，给出全区957个小区的风险分值，实现对辖区内的精准管控。</p>

<p style="text-align: left;">　　未来，要继续在全国各地推进智慧城市建设，引入大数据、人工智能等技术，发挥城市大脑的作用，实现&ldquo;问题发现智能化、处置流程标准化、核查结案闭环化&rdquo;，树立&ldquo;全周期管理&rdquo;意识，提高常态治理和危机应对能力；要理顺城市各层级权责关系，推动权责、资源、人力下沉到基层，引入&ldquo;社区需求导向&rdquo;机制，构建以小区为核心的联动响应机制，建立小区发现、社区分解、街道(乡镇)呼叫、部门报到的小区事务全响应机制。</p>

<p style="text-align: left;">　　总而言之，&ldquo;城市是生命体、有机体，要敬畏城市、善待城市。&rdquo;城市因人而生动，因治理而续航，因精细而美好。要擘画城市之治&ldquo;同心圆&rdquo;，构筑市域社会治理&ldquo;共同体&rdquo;，让城市治理各环节、各层次、各领域串点成线，将城市打造成人民的幸福家园。</p>

<p style="text-align: left;">　　<strong>（作者：天津市中国特色社会主义理论体系研究中心南开大学基地研究员，南开大学中国政府联合研究中心研究员、教授、博士生导师　吴晓林；南开大学中国政府联合研究中心研究助理　岳庆磊）</strong></p>

<p style="text-align: left;">　　新闻链接：<a href="https://theory.gmw.cn/2020-12/05/content_34431752.htm">https://theory.gmw.cn/2020-12/05/content_34431752.htm</a></p>

    </td>
  </tr>
  <tr>
    <td style="padding-top:25px; padding-right:30px; padding-bottom:20px;" align="right"><p style=" text-indent:2em; line-height:2em; font-size:16px; margin-bottom:15px;  "><span class=" hong">编辑：</span>乔仁铭
    </p></td>
  </tr>
</tbody></table>
</td>
    <td style="padding:15px;  " width="270" valign="top"><table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_04.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td><iframe width="270" height="400" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&amp;width=0&amp;height=550&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=0&amp;noborder=1&amp;isWeibo=1&amp;isFans=0&amp;uid=1851774145&amp;verifier=4e1ba554&amp;colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&amp;dpc=1"></iframe></td>
  </tr>
</table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-05-16 11:05:15" check_sum="3bcee7cc5a424330844ab778a62d31c1]--> <table cellspacing="0" cellpadding="0" border="0" width="270"align="center">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_12.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; border-top:none; padding-bottom:10px; "><span class="cms_block_span">

<table width="240" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:10px; "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/003/000/241/00300024169_6a089d05.jpg" width="240" height="100"  border="0"/></a></td>
  </tr>
  <tr>
    <td   style="border-bottom:1px solid #ddd;  padding:10px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:2EM;  "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank">微信往期推送</a></td>
  
  </tr>
  <tr>
    <td style="line-height:2EM; " align="right"><a href="http://news.nankai.edu.cn/wx/index.shtml" target="_blank">更多...</a></td>
  
  </tr>
</table></td>
  </tr>
</table>

</span></td>
  </tr>
</tbody></table>
<table cellspacing="10" cellpadding="0" border="0" width="270">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_21.jpg" height="38" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; padding:5px 0;  "><table style="background:url(http://news.nankai.edu.cn/ywsd/images/list_24.jpg)  0 0px repeat-y; line-height:36px; " cellspacing="0" cellpadding="0" border="0" align="center" width="240">
  <tbody><tr>
    <td><span class="cms_block_span">


<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/05/030043092.shtml" target="_blank">2020年度南开治理指数在京发布</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043063.shtml" target="_blank">南开大学获批5项国家社科基金...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043084.shtml" target="_blank">“打卡”第七个国家宪法日 南...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043062.shtml" target="_blank">南开大学图灵书院开班 跨学科...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043090.shtml" target="_blank">中国教育报：南开大学举办教...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043093.shtml" target="_blank">央广网：纪念陈省身先生逝世...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043094.shtml" target="_blank">中华读书报：《掬水月在手》...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043073.shtml" target="_blank">南开学子在第十二届中国社会...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043085.shtml" target="_blank">天津日报：让世界读懂中国 让...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043088.shtml" target="_blank">中新社：两岸专家呼吁在“九...</a><br/>

</span></td>
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>

<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-08 00:12:14" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->
</td>
  </tr>
</tbody></table>

    
    <!--页脚-->
<span class="cms_block_span">

<table width="1200" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#701a5b;">
  <tr>
    <td height="100" align="center" style="color:#fff; ">
    
    <table width="1100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="line-height:32PX; color:#FFF; border-right:1px solid #ddd; padding-right:0px; font-size:14px;  font-family:Microsoft YaHei ; " width="50%" >新闻热线：022-23508464 022-85358737<Span style="margin:0 10px; "></Span>投稿信箱：<a href="mailto:nknews@nankai.edu.cn" style="color:#fff; " target="_blank">nknews@nankai.edu.cn</a><br />
      本网站由南开大学新闻中心设计维护 <Span style="margin:0 10px; "></Span>Copyright@2014 津ICP备12003308号-1</td>
    <td style="line-height:32PX; color:#FFF; BORRDER-Rigth:1px #fff dotted; padding-left:30PX;font-size:14px;  font-family:Microsoft YaHei ; "><a style="color:#fff; margin:0 0 5px;" href="http://www.nankai.edu.cn/" target="_blank">南开大学</a> <a style="color:#fff; margin:0 5px;" href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>   <a style="color:#fff; margin:0 5px;" href="http://news.nku.cn/xs/" target="_blank">校史网</a>   <a style="color:#fff; margin:0 5px;" href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a><br />
      版权声明：本网站由南开大学版权所有，如转载本网站内容，请注明出处。</td>
  </tr>
</table>

    </td>
  </tr>
</table>
</span>
</div>
<!--主体 end-->


</body></html>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-07 15:12:21" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->