<base href="http://news.nankai.edu.cn/ywsd/system/2020/12/08/030043123.shtml"><!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>学校召开党委常委会（扩大）会议-南开要闻-南开大学</title>
<meta name="keywords" content="">
<meta name="description" content="　　南开新闻网讯（记者吴军辉摄影报道）12月7日，校党委书记杨庆山在津南校区综合业务东楼主持召开党委常委会（扩大）会议。校领导曹雪涛、许京军、杨克欣、李义丹、李靖、王磊、陈军、王新生，校党委常委于海、梁琪、李君，校长助理曲凯、张伯伟出席会议。
　　会议传达学习了习近平总书记在全国劳动模范和先进工作者...">
<style>
a,h1,h2,h3,h4,h5,h6,ul,li,body,html,div,span,button,dl,dt,dd,img,p{ border:none; margin:0; padding:0}
ul,li,dd,dt{ list-style:none; }
p {word-break:break-all;}
.right{ float:right}
.left{ float:left}
.hong{ color:#FF0000}


/*simsun Microsoft YaHei */
body{background:#f5f5f5;  }
td{ font-size:14px; font-family:Microsoft YaHei ;}
a{ text-decoration:none; color:#000; font-family:Microsoft YaHei ; }
a:hover{  color:#b20509; }
</style>
<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
    <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://www.nankai.edu.cn/ywsd/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   </style>
	<script type="text/javascript" src="http://news.nankai.edu.cn/cms_sys/calc/online_calc.js" ></script>
<script type="text/javascript" src="http://news.nankai.edu.cn/js/jquery.js"></script>
</head>

<body>

<!--主体 start-->
<div id="root">
	<!--头图-->
	<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
     <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://news.nankai.edu.cn/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   .bai,.bai a:link,.bai a:hover,.bai a:visited {color: #FFF; font-family:微软雅黑;}
}
</style>
    <!--头图-->
  <table style="background:url(http://news.nankai.edu.cn/images/tou.jpg) top center no-repeat; height:183px;" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
	  <tbody><tr>
	    <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody>
   <tr><td align="right" style="padding-right:20px; padding-bottom:20px;"  class="bai" ></td>
   </tr>
  <tr>

    <td>
    
    <table id="app" cellspacing="0" cellpadding="0" border="0" align="right" width="350">
  <tbody><tr>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weixin.png" height="55" width="55"><span><img src="http://news.nankai.edu.cn/images/weixin.jpg" height="100" width="100"></span>
    </td>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weibo.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/weibo.jpg" height="100" width="100"></span></td>
     <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_douyin.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/dy11.png" height="106" width="100"></span></td>
      <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_blibili.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/bz.png" height="106" width="100"></span></td>
   
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>


        </td>
	  </tr>
   </tbody></table>
 
   <table id="nav" style=" background:#701a5b; height:58px; " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr>
    <td style="padding-left:20px;"><a href="http://news.nankai.edu.cn/index.shtml">首页</a></td>
    <td><a href="http://news.nankai.edu.cn/ywsd/index.shtml">南开要闻</a></td>
    <td><a href="http://news.nankai.edu.cn/bnxq/index.shtml">百年校庆</a></td>
    <td><a href="http://news.nankai.edu.cn/mtnk/index.shtml">媒体南开</a></td>
    <td><a href="http://news.nankai.edu.cn/xlzt/index.shtml">专题报道</a></td>
    <td><a href="http://news.nankai.edu.cn/nkrw/index.shtml">南开人物</a></td>
    <td><a href="http://news.nankai.edu.cn/nkzs/index.shtml">南开之声</a></td>
    <td width="110"><a href="http://news.nankai.edu.cn/nkdxb/index.shtml">南开大学报</a></td>
    <td width="60"><a href="http://news.nankai.edu.cn/sp/index.shtml">视频</a></td>
    <td width="79"><a href="http://news.nankai.edu.cn/gb/index.shtml">广播</a></td>
    <td style="width:290px; "><form action="http://search.news.nankai.edu.cn/m_fullsearch/searchurl/mfullsearch!descResult.do"  method="post" name="form0" id="form0" target="_blank">
    <div style="position:relative; overflow:hidden; width:270px; height:37px; background:#fff; border-radius:30px;">
    <input type="text" name="keywords" style=" height:37px; width:210px; padding-left:10px; "/>
                  <input type="hidden" name="news_type_id" value="1" />
                  <input type="hidden" name="channel_id" value="0" />
                  <input type="image" style="position: absolute; top:10px; right:10px; "src="http://news.nankai.edu.cn/images/index_04.jpg" height="19" width="23" name="Submit1" /></div></form>
                  
                  
                  
                  </td>
  </tr>
</tbody></table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-11-21 14:11:22" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->

   	<!--正文-->
    <table style="padding-top:20px; background:#fff;  " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr><td valign="top">
   <table cellspacing="10" cellpadding="0" border="0" width="100%">
  <tbody><tr>
     <td style="padding:15px; border-bottom:1px solid #ddd; " width="875"><span class="cms_block_span">

您当前的位置 ：			<a href=http://news.nankai.edu.cn/index.shtml>南开大学</a>						            				>>			                			<a href=http://news.nankai.edu.cn/ywsd/index.shtml>南开要闻</a>			     
</span>
    </td>
  </tr>
</tbody></table>
  <table style="padding:0 0 0 10px; " cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody><tr>
    <td style=" font-size:30px; font-weight:bold; text-align:center; padding:20px 0 15px; line-height:34px; ">学校召开党委常委会（扩大）会议</td>
  </tr>
  <tr>
    <td style="text-align:center; border-bottom:1px solid #ddd; padding-bottom:15px;"><span style="margin-right:10px;">来源： 南开大学新闻网</span><span>发稿时间：2020-12-08 11:13</span></td>
  </tr>
  <tr><style>
  #txt p{ line-height:2em; font-size:16px; margin-bottom:15px;}
  </style>
    <td style="padding-top:25px; padding-left:20px; padding-bottom:20px;" id="txt"><p style="text-align:left"><!-- image template start --></p>

<div align="center"><img border="0" height="442" src="http://news.nankai.edu.cn/pic/003/000/357/00300035736_a1da676e.png" width="697" /></div>

<p style="text-align:left"><!-- image template end-->　　<strong>南开新闻网讯</strong>（记者&nbsp;吴军辉&nbsp;摄影报道）12月7日，校党委书记杨庆山在津南校区综合业务东楼主持召开党委常委会（扩大）会议。校领导曹雪涛、许京军、杨克欣、李义丹、李靖、王磊、陈军、王新生，校党委常委于海、梁琪、李君，校长助理曲凯、张伯伟出席会议。</p>

<p style="text-align:left">　　会议传达学习了习近平总书记在全国劳动模范和先进工作者表彰大会上、中央政治局第二十三次集体学习时的重要讲话精神，传达学习了进一步做好在大学生中发展党员工作的有关文件精神。</p>

<p style="text-align:left">　　会议指出，要深入学习、深刻领会、准确把握习近平总书记重要讲话精神，始终坚持紧紧依靠工人阶级和广大劳动群众，立足新发展阶段，贯彻新发展理念，构建新发展格局，推动高质量发展，奋力开启新征程、扬帆再出发。要大力弘扬劳模精神、劳动精神、工匠精神，切实实现好、维护好、发展好劳动者合法权益，充分发挥工人阶级和广大劳动群众主力军作用。要加快推进新时代劳动教育，把劳动教育纳入人才培养全过程，着力构建德智体美劳全面培养的教育体系。要通过选树先进典型，开展学习宣传活动，形成劳动最光荣、劳动最崇高、劳动最伟大、劳动最美丽的良好风尚，营造想干事、能干事、干成事，团结协作、和谐奋发、开拓进取的价值导向和良好氛围。</p>

<p style="text-align:left">　　会议指出，习近平总书记在中央政治局第二十三次集体学习时的重要讲话，站在党和国家事业发展全局高度，深刻阐释了考古工作的重大成就和重要意义，对做好我国考古工作和历史研究工作的重点任务作出部署，内涵丰富、思想深邃，具有重大现实意义、深远历史意义。要站在&ldquo;四个自信&rdquo;的高度来深刻领会考古工作的重大社会政治意义，要进一步加强相关学科建设，准确把握做好考古和历史研究工作的重要要求，用好考古和历史研究成果，为弘扬中华优秀传统文化、增强文化自信提供坚强支撑。</p>

<p style="text-align:left">　　会议强调，加强和改进在大学生中发展党员工作是充分发挥党的政治优势和组织优势，做好大学生思想政治教育工作，培养社会主义建设者和接班人的迫切需要，具有重大而深远的战略意义。要牢牢坚持将政治标准作为在大学生中发展党员的首要标准，把握好发展党员工作的重点对象，持续加强教育培养和指导监督。要深入梳理在大学生中发展党员工作的新任务、新要求，采取有效措施推动指导性计划落实落地。要严格落实责任，着力提高发展学生党员质量，确保新党员好中求好、优中选优，能够充分发挥先锋模范作用。</p>

<p style="text-align:left">　　与会校领导分别结合各自分管工作实际进行了交流发言。</p>

<p style="text-align:left">　　校党委宣传部、纪委办（监察室）、党委学工部、党委研工部、校工会、校团委、战略发展部有关负责人参加会议。</p>

    </td>
  </tr>
  <tr>
    <td style="padding-top:25px; padding-right:30px; padding-bottom:20px;" align="right"><p style=" text-indent:2em; line-height:2em; font-size:16px; margin-bottom:15px;  "><span class=" hong">编辑：</span>韦承金
    </p></td>
  </tr>
</tbody></table>
</td>
    <td style="padding:15px;  " width="270" valign="top"><table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_04.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td><iframe width="270" height="400" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&amp;width=0&amp;height=550&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=0&amp;noborder=1&amp;isWeibo=1&amp;isFans=0&amp;uid=1851774145&amp;verifier=4e1ba554&amp;colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&amp;dpc=1"></iframe></td>
  </tr>
</table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-05-16 11:05:15" check_sum="3bcee7cc5a424330844ab778a62d31c1]--> <table cellspacing="0" cellpadding="0" border="0" width="270"align="center">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_12.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; border-top:none; padding-bottom:10px; "><span class="cms_block_span">

<table width="240" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:10px; "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/003/000/241/00300024169_6a089d05.jpg" width="240" height="100"  border="0"/></a></td>
  </tr>
  <tr>
    <td   style="border-bottom:1px solid #ddd;  padding:10px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:2EM;  "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank">微信往期推送</a></td>
  
  </tr>
  <tr>
    <td style="line-height:2EM; " align="right"><a href="http://news.nankai.edu.cn/wx/index.shtml" target="_blank">更多...</a></td>
  
  </tr>
</table></td>
  </tr>
</table>

</span></td>
  </tr>
</tbody></table>
<table cellspacing="10" cellpadding="0" border="0" width="270">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_21.jpg" height="38" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; padding:5px 0;  "><table style="background:url(http://news.nankai.edu.cn/ywsd/images/list_24.jpg)  0 0px repeat-y; line-height:36px; " cellspacing="0" cellpadding="0" border="0" align="center" width="240">
  <tbody><tr>
    <td><span class="cms_block_span">


<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/05/030043092.shtml" target="_blank">2020年度南开治理指数在京发布</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043063.shtml" target="_blank">南开大学获批5项国家社科基金...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043084.shtml" target="_blank">“打卡”第七个国家宪法日 南...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043062.shtml" target="_blank">南开大学图灵书院开班 跨学科...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043090.shtml" target="_blank">中国教育报：南开大学举办教...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043093.shtml" target="_blank">央广网：纪念陈省身先生逝世...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043094.shtml" target="_blank">中华读书报：《掬水月在手》...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043073.shtml" target="_blank">南开学子在第十二届中国社会...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043085.shtml" target="_blank">天津日报：让世界读懂中国 让...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043088.shtml" target="_blank">中新社：两岸专家呼吁在“九...</a><br/>

</span></td>
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>

<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-08 00:12:14" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->
</td>
  </tr>
</tbody></table>

    
    <!--页脚-->
<span class="cms_block_span">

<table width="1200" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#701a5b;">
  <tr>
    <td height="100" align="center" style="color:#fff; ">
    
    <table width="1100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="line-height:32PX; color:#FFF; border-right:1px solid #ddd; padding-right:0px; font-size:14px;  font-family:Microsoft YaHei ; " width="50%" >新闻热线：022-23508464 022-85358737<Span style="margin:0 10px; "></Span>投稿信箱：<a href="mailto:nknews@nankai.edu.cn" style="color:#fff; " target="_blank">nknews@nankai.edu.cn</a><br />
      本网站由南开大学新闻中心设计维护 <Span style="margin:0 10px; "></Span>Copyright@2014 津ICP备12003308号-1</td>
    <td style="line-height:32PX; color:#FFF; BORRDER-Rigth:1px #fff dotted; padding-left:30PX;font-size:14px;  font-family:Microsoft YaHei ; "><a style="color:#fff; margin:0 0 5px;" href="http://www.nankai.edu.cn/" target="_blank">南开大学</a> <a style="color:#fff; margin:0 5px;" href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>   <a style="color:#fff; margin:0 5px;" href="http://news.nku.cn/xs/" target="_blank">校史网</a>   <a style="color:#fff; margin:0 5px;" href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a><br />
      版权声明：本网站由南开大学版权所有，如转载本网站内容，请注明出处。</td>
  </tr>
</table>

    </td>
  </tr>
</table>
</span>
</div>
<!--主体 end-->


</body></html>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-08 11:12:23" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->