<base href="https://www.nankai.edu.cn/157/list.htm"><!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" /> 
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>通知公告</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/01/08/264/style/252/252.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.9.1.min.js" sudy-wp-context="" sudy-wp-siteId="264"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<link href="/_upload/tpl/02/58/600/template600/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/_upload/tpl/02/58/600/template600/css/style.css" rel="stylesheet" type="text/css" />
<script src="/_upload/tpl/02/58/600/template600/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
<div class="wrapper">
	<div class="header header_s">
		<div class="w">
			<div class="header-logo">
				<div class="sitelogocon">
					<a href="/" title="返回首页"><img border="0" src="/_upload/tpl/02/58/600/template600/images/logo_purple.png"></a> 
				</div>
				<div class="sitelogocon sitelogocon_m">
					<a href="/" title="返回首页"><img border="0" src="/_upload/tpl/02/58/600/template600/images/logo.png"></a> 
				</div>
				<div class="header-arrow"><img src="/_upload/tpl/02/58/600/template600/images/menu-icon-arrow-white.png"></div>
			</div>	
			<div class="header-r">
				<div class="header-links">
					<div class="header-link">			
						<a href="http://xxgk.nankai.edu.cn/" target="_blank">信息公开</a>
						<a href="http://www.lib.nankai.edu.cn/" target="_blank">图书馆</a>						
						<a href="/247/list.htm" target="_blank">服务指南</a>
						<a href="http://nankai.edu.cn" target="_blank">登录邮箱</a>
						<a href="http://xb.nankai.edu.cn" target="_blank">办公网</a> | 
						<a href="http://en.nankai.edu.cn/" target="_blank">English</a>
					</div>
					<div class="header-search" frag="面板5">
						<div frag="窗口5" portletmode="search">
						<form method="post" action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9MjY0JnQ9NjAwJmQ9MjM3MiZwPTImZj0xNzQxMCZtPVNOJnxibm5Db2x1bW5WaXJ0dWFsTmFtZT0xNzQxMCY_" target="_blank">
    <input class="txt  search-input " name="keyword" type="text"><input class="btn search-submit" value="" type="submit">
</form>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="header-nav header-nav1" frag="面板1">
		<div class="w" frag="窗口1" >
			
				
				<ul class="nav-menu" >
					
					<li class="menu-item i1">
						<a href="/main.htm" target="_self">
							<span class="item-name"></span>首 页</a>
						
					</li>
					
					<li class="menu-item i2">
						<a href="/161/list.htm" target="_self">
							<span class="item-name"></span>学校概况</a>
						
						<i class="mark"></i>
						<ul class="sub-nav">
							
							<li class="sub-item i2-1">
								<a href="/162/list.htm" target="_self">学校简介</a>
								 
							</li>
							
							<li class="sub-item i2-2">
								<a href="/178/list.htm" target="_self">现任领导</a>
								 
							</li>
							
							<li class="sub-item i2-3">
								<a href="/191/list.htm" target="_self">历届领导</a>
								 
							</li>
							
							<li class="sub-item i2-4">
								<a href="/169/list.htm" target="_self">历史回眸</a>
								 
							</li>
							
						</ul>
						
					</li>
					
					<li class="menu-item i3">
						<a href="/208/list.htm" target="_self">
							<span class="item-name"></span>南开新闻</a>
						
						<i class="mark"></i>
						<ul class="sub-nav">
							
							<li class="sub-item i3-1">
								<a href="http://news.nankai.edu.cn/" target="_blank">南开新闻网</a>
								 
							</li>
							
							<li class="sub-item i3-2">
								<a href="http://weekly.nankai.edu.cn/" target="_blank">南开大学报</a>
								 
							</li>
							
						</ul>
						
					</li>
					
					<li class="menu-item i4">
						<a href="/212/list.htm" target="_self">
							<span class="item-name"></span>院系机构</a>
						
						<i class="mark"></i>
						<ul class="sub-nav">
							
							<li class="sub-item i4-1">
								<a href="/213/list.htm" target="_self">专业学院</a>
								 
							</li>
							
							<li class="sub-item i4-2">
								<a href="/214/list.htm" target="_self">职能部门</a>
								 
							</li>
							
							<li class="sub-item i4-3">
								<a href="/216/list.htm" target="_self">直属和后勤单位</a>
								 
							</li>
							
							<li class="sub-item i4-4">
								<a href="/217/list.htm" target="_self">研究机构</a>
								 
							</li>
							
						</ul>
						
					</li>
					
					<li class="menu-item i5">
						<a href="/218/list.htm" target="_self">
							<span class="item-name"></span>人才师资</a>
						
						<i class="mark"></i>
						<ul class="sub-nav">
							
							<li class="sub-item i5-1">
								<a href="http://rsc.nankai.edu.cn/" target="_blank">人事人才</a>
								 
							</li>
							
							<li class="sub-item i5-2">
								<a href="http://rsc.nankai.edu.cn/main.htm" target="_blank">人才招聘</a>
								 
							</li>
							
							<li class="sub-item i5-3">
								<a href="http://rsc.nankai.edu.cn/13714/list.htm" target="_blank">博士后</a>
								 
							</li>
							
						</ul>
						
					</li>
					
					<li class="menu-item i6">
						<a href="/223/list.htm" target="_self">
							<span class="item-name"></span>教育教学</a>
						
						<i class="mark"></i>
						<ul class="sub-nav">
							
							<li class="sub-item i6-1">
								<a href="http://jwc.nankai.edu.cn/" target="_blank">本科教育</a>
								 
							</li>
							
							<li class="sub-item i6-2">
								<a href="http://graduate.nankai.edu.cn" target="_blank">研究生教育</a>
								 
							</li>
							
							<li class="sub-item i6-3">
								<a href="http://www.nankai.edu.cn/2019/1009/c17551a208969/page.htm" target="_self">本科教学质量报告</a>
								 
							</li>
							
							<li class="sub-item i6-4">
								<a href="http://istudy.nankai.edu.cn/" target="_blank">远程教育</a>
								 
							</li>
							
							<li class="sub-item i6-5">
								<a href="http://edp.nankai.edu.cn/" target="_blank">继续教育</a>
								 
							</li>
							
						</ul>
						
					</li>
					
					<li class="menu-item i7">
						<a href="/230/list.htm" target="_self">
							<span class="item-name"></span>科学研究</a>
						
						<i class="mark"></i>
						<ul class="sub-nav">
							
							<li class="sub-item i7-1">
								<a href="http://std.nankai.edu.cn/" target="_blank">自然科学</a>
								 
							</li>
							
							<li class="sub-item i7-2">
								<a href="http://ssrm.nankai.edu.cn/" target="_blank">社会科学</a>
								 
							</li>
							
							<li class="sub-item i7-3">
								<a href="http://std.nankai.edu.cn/889/list.htm" target="_blank">自然科学研究机构</a>
								 
							</li>
							
							<li class="sub-item i7-4">
								<a href="http://ssrm.nankai.edu.cn/kyjg.htm" target="_blank">社会科学研究机构</a>
								 
							</li>
							
							<li class="sub-item i7-5">
								<a href="http://less.nankai.edu.cn/" target="_blank">仪器设备</a>
								 
							</li>
							
						</ul>
						
					</li>
					
					<li class="menu-item i8">
						<a href="/236/list.htm" target="_self">
							<span class="item-name"></span>国际交流</a>
						
						<i class="mark"></i>
						<ul class="sub-nav">
							
							<li class="sub-item i8-1">
								<a href="http://international.nankai.edu.cn/" target="_blank">国际交流</a>
								 
							</li>
							
							<li class="sub-item i8-2">
								<a href="http://hyxy.nankai.edu.cn/" target="_blank">汉语言文化学院</a>
								 
							</li>
							
						</ul>
						
					</li>
					
					<li class="menu-item i9">
						<a href="/239/list.htm" target="_self">
							<span class="item-name"></span>招生就业</a>
						
						<i class="mark"></i>
						<ul class="sub-nav">
							
							<li class="sub-item i9-1">
								<a href="http://zsb.nankai.edu.cn/" target="_blank">本科招生</a>
								 
							</li>
							
							<li class="sub-item i9-2">
								<a href="http://yzb.nankai.edu.cn" target="_blank">研究生招生</a>
								 
							</li>
							
							<li class="sub-item i9-3">
								<a href="http://esd.nankai.edu.cn/5718/list.htm" target="_blank">中外合作硕士项目</a>
								 
							</li>
							
							<li class="sub-item i9-4">
								<a href="http://study.nankai.edu.cn" target="_blank">留学生招生</a>
								 
							</li>
							
							<li class="sub-item i9-5">
								<a href="http://istudy.nankai.edu.cn" target="_blank">远程教育</a>
								 
							</li>
							
							<li class="sub-item i9-6">
								<a href="http://edp.nankai.edu.cn/" target="_blank">继续教育</a>
								 
							</li>
							
							<li class="sub-item i9-7">
								<a href="http://career.nankai.edu.cn" target="_blank">南开就业信息网</a>
								 
							</li>
							
						</ul>
						
					</li>
					
				</ul>
				
							
		</div>
	</div>
	<div class="tool" frag="面板3">
		<button class="cn-button" id="cn-button">+</button>
		<div class="cn-wrapper" id="cn-wrapper" frag="窗口3">
			
			
			<a href="/255/list.htm" class="icon-i1" target="_self"><span>学生</span></a>
			
			<a href="/256/list.htm" class="icon-i2" target="_self"><span>教工</span></a>
			
			<a href="/257/list.htm" class="icon-i3" target="_self"><span>考生</span></a>
			
			<a href="http://nkuaa.nankai.edu.cn" class="icon-i4" target="_blank"><span>校友</span></a>
			
			<a href="/259/list.htm" class="icon-i5" target="_self"><span>访客</span></a>
			 
			
		</div>
	</div>
	<div class="clear"></div>	
	<div class="container">			
		<div class="page_con">
			<div class="smallbanner" frag="面板9">
				<div frag="窗口9" portletmode="simpleColumnAttri">
					<div class="smallbanner_bg" style="background-image:url(/_upload/column/44/3e/17470/picture.jpg)"></div>
				</div>
			</div>			
			<div class="w">			
				<div class="page_con_side" frag="面板10">
					<div class="page_con_title" frag="窗口10"  portletmode="simpleColumnAnchor">
						<h2><span class='Column_Anchor'>今日南开</span></h2>
						<div class="titleline"></div>
					</div>			
					<div class="page_con_class" frag="窗口11" portletmode="simpleColumnList">
						
						 
						<ul class="class-list">
							 
							<li class="class-item column-1 selected"> 
							 <a href="/157/list.htm" title="通知公告" class="selected" target="_self"><span class="class-name">通知公告</span></a> 						  
							  
							</li> 
						 
							<li class="class-item column-2 "> 
							 <a href="http://news.nankai.edu.cn" title="最新动态" class="" target="_blank"><span class="class-name">最新动态</span></a> 						  
							  
							</li> 
						 
							<li class="class-item column-3 "> 
							 <a href="/tpxw/list.htm" title="图片新闻" class="" target="_self"><span class="class-name">图片新闻</span></a> 						  
							  
							</li> 
						 
							<li class="class-item column-4 "> 
							 <a href="/159/list.htm" title="校情通报" class="" target="_self"><span class="class-name">校情通报</span></a> 						  
							  
							</li> 
						 
							<li class="class-item column-5 "> 
							 <a href="http://news.nankai.edu.cn/mtnk/index.shtml" title="媒体南开" class="" target="_blank"><span class="class-name">媒体南开</span></a> 						  
							  
							</li> 
						 
							<li class="class-item column-6 "> 
							 <a href="http://news.nankai.edu.cn/sp/index.shtml" title="南开大学电视新闻" class="" target="_blank"><span class="class-name">南开大学电视新闻</span></a> 						  
							  
							</li> 
						 
							<li class="class-item column-7 "> 
							 <a href="/gbxr/list.htm" title="干部选任" class="" target="_self"><span class="class-name">干部选任</span></a> 						  
							  
							</li> 
						 
							<li class="class-item column-8 "> 
							 <a href="/xshd/list.htm" title="学术活动" class="" target="_self"><span class="class-name">学术活动</span></a> 						  
							  
							</li> 
						 
							<li class="class-item column-9 "> 
							 <a href="/zt/list.htm" title="专题" class="" target="_self"><span class="class-name">专题</span></a> 						  
							  
							</li> 
						 
						</ul> 
						
						
					</div>
				</div>
				<div class="page_con_main">
					<div class="page_con_area" frag="面板20">
						<div class="page_con_title" frag="窗口20" portletmode="simpleColumnAttri">
							
							<h2><span>通知公告</span></h2>
							<div class="bread"><a href="/main.htm" target="_self">首页</a><span class='possplit'>&nbsp;&nbsp;</span><a href="/156/list.htm" target="_self">今日南开</a><span class='possplit'>&nbsp;&nbsp;</span><a href="/157/list.htm" target="_self">通知公告</a></div>
							
						</div>
						<div class="page_con_list" frag="窗口21" portletmode="simpleList">
											            
							<ul class="newslist">
							
							  <li>
								<div class="time">
								  <div class="time-d">08</div>
								  2020-12</div>
								<div class="tit"><a href="http://xb.nankai.edu.cn/upload/20201208095044/南办发〔2020〕52号关于元旦和寒假放假的通知1.pdf">关于元旦和寒假放假的通知</a></div>
								<div class="info"></div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">04</div>
								  2020-12</div>
								<div class="tit"><a href="/2020/1204/c17471a323504/page.htm">关于科技成果作价投资入股企业的公示</a></div>
								<div class="info">为促进科技成果转化，我校拟以下述无形资产作价出资。根据《财政部关于修改〈事业单位国有资产管理暂行办法〉的决定》（财政部令100号）、《南开大学经营性资产管理委员会章程》（南党发〔2019〕63号）、《南开大学促进科技成果转化管理办法（试行）》（南发字〔2018〕12号）和《南开大学促进科技成果转化管理办法实施细则（试行）》（南发字〔2018〕13号）规定，就相关事项公示如下:一、无形资产名称和简介本次拟转化无形资产为南开大学专利技术：1、一种超导微波生态环境智能监测系统，专利权申请，申请号201911224165.6，完成人为王鸿鹏、王帅帅、陈海华、何明；2、一种广域三维环境下一体化智能基站自动部署方法，专利申请权，申请号202010132960.9，完成人为王鸿鹏、王前、何明。二、拟作价出资价格上述知识产权拟以90万元协议价格，作价入股投资企业。无形资产形成的股权中，80%奖励给何明，20%由天津南开大学资产经营有限责任公司持有。经全体完成人同意，并与拟出资企业协商，拟以上述价格出资。特此公示。公示期自2020年12月4日至2020年12月18日。如有异议，请于公示期内以实名的书面或</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">04</div>
								  2020-12</div>
								<div class="tit"><a href="/2020/1204/c17471a323699/page.htm">南开大学党委宣传部公开招聘劳务派遣人员的公告</a></div>
								<div class="info">为进一步推动学校宣传思想工作，根据工作需要，南开大学党委宣传部公开招聘劳务派遣制工作人员，现将招聘岗位、工作职责、招聘条件以及应聘工作安排做如下公告。一、招聘岗位及职责（一）新闻中心文字（兼摄影）记者1.内宣工作。协助做好新闻活动采访、新闻稿件撰写、新闻与专题图片的拍摄、保存等工作。2.外宣工作。协助做好对外联络报社、电视台、电台等媒体平台，提供宣传报道学校的新闻素材。3.媒体平台运维。协助完成学校官方媒体平台运营维护。（二）综合办公室文员1.综合业务。协助做好部门办公室工作业务，包括文件收发流转、财务报账、订报订刊、会务组织等，协助做好与上级主管部门和校内有关部门的日常联络与协调。2.文件起草。协助起草学校宣传思想工作相关领域的制度文件和工作报告，完成相关文字材料的编辑校对和整理归档工作。3.理论宣教。协助完成习近平新时代中国特色社会主义思想的学习宣传贯彻工作，制定理论宣传教育工作方案，编印校院两级理论学习相关工作通知和学习资料。4.日常管理。协助做好宣传思想文化阵地管理的有关工作任务。二、招聘条件1.政治立场坚定，拥护中国共产党的领导，能够遵守宣传思想工作的政治纪律和政治规矩，政治</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">01</div>
								  2020-12</div>
								<div class="tit"><a href="/2020/1201/c17471a322750/page.htm">关于科技成果作价投资入股企业的公示</a></div>
								<div class="info">为促进科技成果转化，我校拟以下述无形资产作价出资。根据《财政部关于修改〈事业单位国有资产管理暂行办法〉的决定》（财政部令100号）、《南开大学经营性资产管理委员会章程》（南党发〔2019〕63号）、《南开大学促进科技成果转化管理办法（试行）》（南发字〔2018〕12号）和《南开大学促进科技成果转化管理办法实施细则（试行）》（南发字〔2018〕13号）规定，就相关事项公示如下:一、无形资产名称和简介本次拟转化无形资产为南开大学专利技术“一种分离式文丘里管式混合电催化臭氧化方法与装置/ZL2017103763554”，完成人为华涛、陈红辉、周启星、李凤祥。二、拟作价出资价格上述知识产权拟以30万元协议价格，作价入股投资企业。无形资产形成的股权中，80%奖励给完成人、20%由天津南开大学资产经营有限责任公司持有。经全体完成人同意，并与拟出资企业协商，拟以上述价格出资。特此公示。公示期自2020年12月1日至2020年12月15日。如有异议，请于公示期内以实名的书面或电子邮件形式反映。联系人：张思为邮箱：zhangsw@nankai.edu.cn联系电话：022-23507839,022-23</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">30</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1130/c17471a322366/page.htm">关于南开大学不开展有偿家教推介业务的声明</a></div>
								<div class="info">我校未设立任何包含家教推介业务的职能部门，不开展任何有偿学生家教的官方推介业务，任何以“南开大学”命名的家教机构均非由我校官方设立，我校也不以任何方式参与此类机构的运营，请谨慎看待其发布的所有信息。南开大学　　2020年11月30日</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">30</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1130/c17471a322365/page.htm">心理健康教育中心关于招聘兼职心理咨询教师的通知</a></div>
								<div class="info">各学院（中心、所）、各职能部门、直属单位:为进一步加强学校心理健康教育工作，满足学生日益增长的心理咨询服务需求，完善有层次、有梯度的专兼职心理咨询师队伍。现面向学校教职工招募兼职心理咨询教师。一、资质要求（满足以下条件之一）1.具有心理学、精神病与精神卫生、教育学、社会工作等相关本科学位及以上学位者；2.已获得精神医学、心理治疗、医学心理学相关专业初级职称资格者；3.已获得原人社部心理咨询师三级及以上证书者；4.获得国家社会工作师资格满1年，获得助理社会工作师满2年者；6.从事专职学生工作满2年，有一定心理健康教育工作经验者；二、时间要求每周可以接待至少一个个案咨询（每个咨询时长为50分钟左右）三、接咨询地点津南校区、八里台校区、泰达校区的咨询室（可任选一个）四、其它要求1.兼职咨询师聘任每学年度一次，颁发聘任证书；2.兼职咨询师需定期参加督导、案例研讨等；3.可获得心理健康教育中心每学年固定额度的培训经费支持。五、报名1.请符合资质要求且有意向的教师填写附件1：《心理健康教育中心兼职咨询教师申请表》于2020年12月7日前发到邮箱012075@nankai.edu.cn；2.请暂时不</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">27</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1127/c17471a321654/page.htm">关于2020年度职工医疗费用最后一次申报的温馨提示</a></div>
								<div class="info">各位参保职工：按照学校疫情防控要求，为减少人员聚集，2020年底职工医保报销继续采取“电话预约”方式，有现场报销需求的老师务请于工作日拨打23506920进行预约，并按约定时间前来报销（全程佩戴口罩，遵守体温检测等防疫要求）。根据天津市社保规定，每自然年度末须将本年度医药费全部报销。请您关注报销时间：社保一次报销截止时间为2021年1月21日；商保二次报销截止时间为2021年1月29日。具体安排如下：一、报销安排（一）八里台校区社保一次报销日期：2020年12月1日（星期二）至2021年1月21日（星期四）商保二次报销日期：2020年12月1日（星期二）至2021年1月29日（星期五）时间：工作日，上午8：30—12：00，下午14：00—17：00地点：八里台校区医疗保险服务大厅（保卫处楼西南门）（二）津南校区社保一次报销和商保二次报销日期均为2020年12月29日（星期二）至12月31日（星期四）、2021年1月5日（星期二）至1月6日（星期三）、1月12日（星期二）至1月13日（星期三）时间：工作日，上午9：00—11：45，下午13：00—16：45地点：津南校区综合业务西楼师</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">26</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1126/c17471a321222/page.htm">南开大学亚洲研究中心2021-2022年度资助赴韩学者计划</a></div>
								<div class="info">一、赴韩交流时间1.一年项目：2021年9月1日-2022年8月31日2.半年项目：2021年9月1日-2022年2月28日　　　　　　或2022年3月1日-2022年8月31日二、资助金额及奖励办法1.资助金额：300万韩元/月/人（约2,700美元）；待项目结项并成功提交结项报告后，另资助100万韩元（约900美元）；一次性资助安家费100万韩元；1次经济舱往返旅费；医疗保险。2.奖励金额：受资助学者结束访学回国后两年内，若在SSCI / AHCI / SCI 学术期刊上发表论文，并在论文注明研究受到崔钟贤学术院国际交流资助项目资助，可获2,000-5,000美元不等奖励；若在韩国研究财团（National Research Foundation of Korea）列出的期刊目录中发表论文并标注受到崔钟贤学术院国际交流资助项目资助ISEF项目受益者，可获1,000美元奖励。三、申报资格1. 申请人应是我校正式在编在岗的教师（不含博士后），应具有博士学位。2. 申请人提出申请时应入校工作满2年及以上，且近两年年度绩效考核结果均为合格及以上。3. 研究领域：1）人文与社会科学：经济学、</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">26</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1126/c17471a321178/page.htm">关于2021年南开大学后备师资培养计划选拔工作的通知</a></div>
								<div class="info">各相关学院：2021年南开大学后备师资培养计划候选人选拔工作已正式开启，现将有关事项通知如下：一、选拔要求1.申请人应为全日制应届本科毕业生。本科期间成绩优异，排名在本专业前10%范围内。2.热爱祖国，遵纪守法，积极向上，身心健康。在学期间品行优秀，学风端正，无违法违纪等处分纪录，无考试作弊、剽窃他人学术成果等不良学术记录。3.具有学成回国为祖国建设和南开大学发展服务的事业心和责任感，并具有良好的从事高校教师的基本素质。4.已取得能够满足国外一流大学招收博士研究生要求的外语成绩，并且能够在2021年4月之前获得国外一流大学博士录取资格（录取院校或机构应在主流世界大学排名前200名范围之内）。5.重点支持学校建设世界一流学科的学科领域。重点支持国家《人才规划纲要》、《科技规划纲要》确定的重点支持学科、前沿技术、基础研究、人文及应用社会科学领域。各单位应结合本单位重大科研项目、创新团队、创新基地和平台、国家重点实验室、重点学科及人才队伍建设需要确定具体选派专业和领域。6.“后备师资培养计划”与“百名青年学科带头人培养计划”建立对接机制。后备师资培养计划入选学生与“百青计划”入选教师可进行双</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">26</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1126/c17471a321177/page.htm">南开大学化学学院《eScience》编辑部编辑岗位公开招聘公告</a></div>
								<div class="info">南开大学是国家教育部直属重点综合性大学，是敬爱的周恩来总理的母校。学校坚持“允公允能，日新月异”的校训，弘扬“爱国、敬业、创新、乐群”的传统和“文以治国、理以强国、商以富国”的理念，以“知中国，服务中国”为宗旨，以杰出校友周恩来为楷模，作育英才，繁荣学术，强国兴邦，传承文明，努力建设世界一流大学。南开化学历史悠久，起源于1919年南开大学建校伊始的理学化学门。1921年，化学系创建，成为我国大学最早建立的化学系之一。1995年4月，化学学院正式组建成立。历经近百年风雨磨砺，南开化学将其严谨的治学风尚延承至今，优秀人才辈出，科研硕果满枝，已成为国内外具有重要影响的人才培养基地和科学研究中心。2017年南开化学入选国家“双一流”建设学科名单。为服务科技强国建设、打造我国高水平学术期刊、提升国际学术影响力，南开大学将于2021年创办英文学术期刊《eScience》，国际刊号（ISSN:2667-1417），主管单位为教育部，主办单位为南开大学，出版单位为《eScience》编辑部。《eScience》成功入选2020年度中国科技期刊卓越行动计划高起点新刊项目。现面向校内外公开招聘《eScie</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">26</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1126/c17471a321232/page.htm">南开大学马克思主义学院《马克思主义理论教学与研究》期刊编辑岗位公开招聘公告</a></div>
								<div class="info">南开大学是国家教育部直属重点综合性大学，是敬爱的周恩来总理的母校。学校坚持“允公允能，日新月异”的校训，弘扬“爱国、敬业、创新、乐群”的传统和“文以治国、理以强国、商以富国”的理念，以“知中国，服务中国”为宗旨，以杰出校友周恩来为楷模，作育英才，繁荣学术，强国兴邦，传承文明，努力建设世界一流大学。南开大学马克思主义学院成立于1997年，是全国较早设立的马克思主义学院之一。2016年1月，学院入选首批全国重点马克思主义学院。2019年1月，入选首批国家教材建设重点研究基地（高校思想政治理论课马克思主义基本原理概论国家教材建设重点研究基地）。学院整体的建设和发展不断迈上新台阶。此外，学院还拥有教育部习近平新时代中国特色社会主义思想研究中心南开大学基地、全国高校思想政治理论课教师理论研修基地、天津市人文社科重点基地—马克思主义研究中心、天津市马克思主义基本原理概论协同创新中心、天津市高校习近平新时代中国特色社会主义思想研究联盟秘书处、南开大学习近平新时代中国特色社会主义思想研究院、21世纪马克思主义研究院等教学科研平台。《马克思主义理论教学与研究》期刊是经国家新闻出版署批准,由教育部主管、南</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">22</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1122/c17471a319736/page.htm">关于设立南开大学“十四五”规划调研课题的通知</a></div>
								<div class="info">各有关单位：为进一步提高南开大学“十四五”规划编制工作的科学性、有效性和针对性，广泛汇聚全体师生员工参与制定学校改革发展战略规划的智慧和力量，战略发展部发起设立“十四五”规划调研课题，面向全校发布立项申报通知。通知发布后，得到全校干部师生的积极响应和广泛参与，收到课题申请数十项。经初步审核并组织专家评审，决定设立一类课题18项，二类课题16项，课题结项日期为2021年3月26日。学校为一类课题提供每项6000元专项课题资助，为二类课题提供每项4000元专项课题资助。后续学校将发布经费使用说明及其他相关事项，请课题负责人关注申报邮箱。邮箱：zlfzb@nankai.edu.cn联系电话：85358214 23508214联系人：郭锐 郭逸尘附件：南开大学“十四五”规划调研课题立项目录战略发展部　2020年11月22日</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">16</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1116/c17471a318066/page.htm">南开大学体育部教学科研岗位公开招聘公告</a></div>
								<div class="info">南开大学是国家教育部直属重点综合性大学，是敬爱的周恩来总理的母校。学校坚持“允公允能，日新月异”的校训，弘扬“爱国、敬业、创新、乐群”的传统和“文以治国、理以强国、商以富国”的理念，以“知中国，服务中国”为宗旨，以杰出校友周恩来为楷模，作育英才，繁荣学术，强国兴邦，传承文明，努力建设世界一流大学。自建校之日起，南开大学坚持“体”、“育”并重，体育已经成为南开人追求美好生活、凝聚人民爱国主义精神、融入人类命运共同体的重要内容。南开体育教育始终坚持以“自觉体育”、“全面体育”、“终身体育”为目标，现已开设足球、篮球、排球、乒乓球、网球、羽毛球、国际象棋、健美、健美操、交谊舞、啦啦操、女子防身术、散打、跆拳道、太极拳、体育舞蹈（标准舞）、体育舞蹈（拉丁舞）、武术套路、游泳、瑜伽、中国象棋、击剑、爵士棍、滑冰等24个项目体育课，并形成南开体育特色。现公开招聘体育部教学科研人员。一、招聘条件1.遵纪守法，品行端正，作风朴实，吃苦耐劳，学风正派，身心健康，具有良好的专业背景和发展潜力。2.30周岁以下（1989年11月以后出生）。3.具有体育类相关学科硕士研究生及以上学历学位，且本科须为体育专业。</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">12</div>
								  2020-11</div>
								<div class="tit"><a href="/2020/1112/c17471a317375/page.htm">关于津南校区历史复建区南侧、东侧道路封路的通知</a></div>
								<div class="info">因施工需要，津南校区历史复建区南侧和东侧路段自即日起至2020年12月13日暂时封闭，过往车辆、行人请绕行，给您造成的不便，敬请谅解！封路示意图保卫处　　后勤保障部　2020年11月12日</div>
							  </li>
							  
							  <li>
								<div class="time">
								  <div class="time-d">30</div>
								  2020-10</div>
								<div class="tit"><a href="/2020/1030/c17471a313907/page.htm">关于2020年度南开大学专业技术职务评聘工作启动暨各级各系列专业技术职务评审组织调整的通知</a></div>
								<div class="info">各学院、各单位：根据我校专业技术职务评聘工作的整体安排，2020年度专业技术职务评聘工作开始启动，请各学院各单位通知本单位有意向报名的教职工提前做好相关申报材料的准备工作。学校首先开始各级各系列专业技术职务评审组织调整工作，现将具体工作安排如下：一、工作原则1.各相关单位调整学院专业技术职务评审委员会、学科专业技术职务评审分委员会以及其它系列专业技术职务评审分委员会，从提高各级各系列评审组织整体水平和公正性出发，平稳有序地完成此次工作。2.各级各系列专业技术职务评审组织的主要负责人应是学术带头人、领军人才等，评审成员既要具有高尚的师德师风，又要具有突出的学术水平。3.各级各系列专业技术职务评审组织在调整成员构成时必须从学科发展和队伍建设的实际需要出发配备人选。二、工作程序和安排1.各单位须严格按照《南开大学专业学院工作细则》（南党发〔2018〕53号）文件中关于专业技术职务评审组织产生程序的相关规定，确定学院专业技术职务评审委员会建议人选名单。2.各学科牵头单位组织召开由学科所涉及单位参加的专门会议，在各学院专业技术职务评审委员会建议人选名单的基础上，确定学科专业技术职务评审分委员会建</div>
							  </li>
							  
							</ul>
							
 <div id="wp_paging_w21"> 
<ul class="wp_paging clearfix"> 
     <li class="pages_count"> 
         <span class="per_page">每页&nbsp;<em class="per_count">15</em>&nbsp;记录&nbsp;</span> 
         <span class="all_count">总共&nbsp;<em class="all_count">1539</em>&nbsp;记录&nbsp;</span> 
     </li> 
     <li class="page_nav"> 
         <a class="first" href="javascript:void(0);" target="_self"><span>第一页</span></a> 
         <a class="prev" href="javascript:void(0);" target="_self"><span>&lt;&lt;上一页</span></a> 
         <a class="next" href="/157/list2.htm" target="_self"><span>下一页&gt;&gt;</span></a> 
         <a class="last" href="/157/list103.htm" target="_self"><span>尾页</span></a> 
     </li> 
     <li class="page_jump"> 
         <span class="pages">页码&nbsp;<em class="curr_page">1</em>/<em class="all_pages">103</em></span> 
         <span><input class="pageNum" type="text" /><input type="hidden" class="currPageURL" value=""></span></span> 
         <span><a class="pagingJump" href="javascript:void(0);" target="_self">跳转到&nbsp;</a></span> 
     </li> 
</ul> 
</div> 
<script type="text/javascript"> 
     $().ready(function() { 
         $("#wp_paging_w21 .pagingJump").click(function() { 
             var pageNum = $("#wp_paging_w21 .pageNum").val(); 
             if (pageNum === "") { alert('请输入页码！'); return; } 
             if (isNaN(pageNum) || pageNum <= 0 || pageNum > 103) { alert('请输入正确页码！'); return; } 
             var reg = new RegExp("/list", "g"); 
             var url = "/157/list.htm"; 
             window.location.href = url.replace(reg, "/list" + pageNum); 
         }); 
     }); 
</script> 

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" frag="面板111">
		<div class="links w" frag="窗口111">
			
				
				<a href="http://www.nankai.edu.cn/VPN/list.htm" target="_blank">VPN服务</a>
				
				<a href="http://aiguo.nankai.edu.cn/" target="_blank">爱国主义教育基地</a>
				
				<a href="http://zbb.nankai.edu.cn/" target="_blank">南开招标网</a>
				
				<a href="http://hqbzb.nankai.edu.cn/" target="_blank">后勤保障部</a>
				
				<a href="http://ndfx.nankai.edu.cn/" target="_blank">附属小学</a>
				
				<a href="http://fy.nankai.edu.cn/" target="_blank">附属医院</a>
				
				<a href="http://binhai.nankai.edu.cn/" target="_blank">滨海学院</a>
				
				<a href="https://720yun.com/t/f65jv04frf3?scene_id=19502661&from=timeline&isappinstalled=0" target="_blank">南开大学VR全景</a>
				 
			
		
			<!--
			<a href="https://vpn.nankai.edu.cn/" target="_blank">VPN服务</a>
			<a href="http://aiguo.nankai.edu.cn/" target="_blank">爱国主义教育基地</a>			
			<a href="http://zbb.nankai.edu.cn/" target="_blank">南开招标网</a>
			<a href="http://hqbzb.nankai.edu.cn/" target="_blank">后勤保障部</a>
			<a href="http://ndfx.nankai.edu.cn/" target="_blank">附属小学</a>
			<a href="http://fy.nankai.edu.cn/" target="_blank">附属医院</a>
			<a href="http://binhai.nankai.edu.cn/" target="_blank">滨海学院</a>
			<a href="https://720yun.com/t/f65jv04frf3?scene_id=19502661&from=timeline&isappinstalled=0" target="_blank">南开大学VR全景</a>
			-->
		</div>
		<div class="copyright w">
			<div class="footer_logo">
				<img src="/_upload/tpl/02/58/600/template600/images/logo1.png" />
			</div>
			<div class="footer_addr">
				<div class="addr">
					<h2>八里台校区：</h2>
					<p>天津市南开区卫津路94号 [300071]</p>
				</div>
				<div class="addr">
					<h2>津南校区：</h2>
					<p>天津海河教育园区同砚路38号 [300350]</p>
				</div>
				<div class="addr">
					<h2>泰达校区：</h2>
					<p>天津经济开发区宏达街23号 [300457]</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="footer_social">
				<div class="wx">
					<a href="javascript:;" class="wx1"><img src="/_upload/tpl/02/58/600/template600/images/wx_s.png" /></a>
					<a href="https://weibo.com/nankaiuni" target="_blank"><img src="/_upload/tpl/02/58/600/template600/images/wb_s.png" /></a>					
					<a href="javascript:;" class="dy"><img src="/_upload/tpl/02/58/600/template600/images/douyin_s.png" /></a>
					<a href="https://space.bilibili.com/230904670?from=search&seid=7683408695473338554" target="_blank"><img src="/_upload/tpl/02/58/600/template600/images/blbl_s.png" /></a>
				</div>				
			</div>
			<div class="footer_sydw">
			<a href="//bszs.conac.cn/sitename?method=show&amp;id=8F7ED82DBFA384ADE05310291AAC551C" target="_blank"><img id="imgConac" vspace="0" hspace="0" border="0" src="/_upload/tpl/02/58/600/template600/images/blue.png" data-bd-imgshare-binded="1"></a>
			</div>			
			<div class="clear"></div>
			<div class="footer_icp">
				津教备0061号&nbsp;&nbsp;
				津ICP备12003308号-1&nbsp;&nbsp;
				<a class="gawb" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=12010402000967">津公网安备12010402000967号</a>
			</div> 
		</div>
	</div>
</div>
<div id="wx" style="display:none;"><img src="/_upload/tpl/02/58/600/template600/images/gfwx.jpg" /></div>
<div id="dy" style="display:none;"><img src="/_upload/tpl/02/58/600/template600/images/dy11.png" /></div>
<script type="text/javascript" src="/_upload/tpl/02/58/600/template600/js/layer/layer.js"></script>
<script type="text/javascript" src="/_upload/tpl/02/58/600/template600/js/common.js"></script>
</body>
</html>

 <img src="/_visitcount?siteId=264&type=2&columnId=17471" style="display:none" width="0" height="0"></image>