<base href="http://news.nankai.edu.cn/mtnk/system/2020/12/07/030043119.shtml"><!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>经济参考报：空置率攀升租金下降　多地写字楼市场持续遇冷-媒体南开-南开大学</title>
<meta name="keywords" content="">
<meta name="description" content="　　写字楼市场往往是经济运行的晴雨表。近日，《经济参考报》记者从北京、上海、深圳、天津等地调研了解到，受多重因素影响，各地写字楼空置率持续上升，个别地段甚至突破30%。业内人士建议，积极推动写字楼市场的供给侧结构性改革，出台写字楼科学发展规划，摒弃攀比现象，引导城市理性发展楼宇经济。
赵乃育　绘
　...">
<style>
a,h1,h2,h3,h4,h5,h6,ul,li,body,html,div,span,button,dl,dt,dd,img,p{ border:none; margin:0; padding:0}
ul,li,dd,dt{ list-style:none; }
p {word-break:break-all;}
.right{ float:right}
.left{ float:left}
.hong{ color:#FF0000}


/*simsun Microsoft YaHei */
body{background:#f5f5f5;  }
td{ font-size:14px; font-family:Microsoft YaHei ;}
a{ text-decoration:none; color:#000; font-family:Microsoft YaHei ; }
a:hover{  color:#b20509; }
</style>
<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
    <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://www.nankai.edu.cn/ywsd/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   </style>
	<script type="text/javascript" src="http://news.nankai.edu.cn/cms_sys/calc/online_calc.js" ></script>
<script type="text/javascript" src="http://news.nankai.edu.cn/js/jquery.js"></script>
</head>

<body>

<!--主体 start-->
<div id="root">
	<!--头图-->
	<style>
	 #app td { position:relative; cursor:pointer; }
	 #app td span{ display:none; position:absolute; left:-10px;  }
    #app td:hover span{display:block; }
    </style>
     <style>
   #nav { text-align:center}
   #nav  td{ position:relative; }
   #nav a{ color:#fff; font-size:18px; text-align:center; }
   input{ border:none; }
    #nav td:hover .list{ display:block; }
   #nav .list{ display:none; background:url(http://news.nankai.edu.cn/images/arrow.jpg) no-repeat top center;  padding:10px 0 0;  z-index:100; position:absolute; top:48px; left:3px; color:#fff; }
 
    #nav .list li{  background:#54244a; padding:0 10px;  }
	#nav .list a{ display: block; border-bottom:1px dashed #74466a; height:38px; line-height:38px;  }
   .bai,.bai a:link,.bai a:hover,.bai a:visited {color: #FFF; font-family:微软雅黑;}
}
</style>
    <!--头图-->
  <table style="background:url(http://news.nankai.edu.cn/images/tou.jpg) top center no-repeat; height:183px;" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
	  <tbody><tr>
	    <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody>
   <tr><td align="right" style="padding-right:20px; padding-bottom:20px;"  class="bai" ></td>
   </tr>
  <tr>

    <td>
    
    <table id="app" cellspacing="0" cellpadding="0" border="0" align="right" width="350">
  <tbody><tr>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weixin.png" height="55" width="55"><span><img src="http://news.nankai.edu.cn/images/weixin.jpg" height="100" width="100"></span>
    </td>
    <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_weibo.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/weibo.jpg" height="100" width="100"></span></td>
     <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_douyin.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/dy11.png" height="106" width="100"></span></td>
      <td style="padding-bottom:105px;"><img src="http://news.nankai.edu.cn/images/i_blibili.png" height="55" width="56"><span><img src="http://news.nankai.edu.cn/images/bz.png" height="106" width="100"></span></td>
   
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>


        </td>
	  </tr>
   </tbody></table>
 
   <table id="nav" style=" background:#701a5b; height:58px; " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr>
    <td style="padding-left:20px;"><a href="http://news.nankai.edu.cn/index.shtml">首页</a></td>
    <td><a href="http://news.nankai.edu.cn/ywsd/index.shtml">南开要闻</a></td>
    <td><a href="http://news.nankai.edu.cn/bnxq/index.shtml">百年校庆</a></td>
    <td><a href="http://news.nankai.edu.cn/mtnk/index.shtml">媒体南开</a></td>
    <td><a href="http://news.nankai.edu.cn/xlzt/index.shtml">专题报道</a></td>
    <td><a href="http://news.nankai.edu.cn/nkrw/index.shtml">南开人物</a></td>
    <td><a href="http://news.nankai.edu.cn/nkzs/index.shtml">南开之声</a></td>
    <td width="110"><a href="http://news.nankai.edu.cn/nkdxb/index.shtml">南开大学报</a></td>
    <td width="60"><a href="http://news.nankai.edu.cn/sp/index.shtml">视频</a></td>
    <td width="79"><a href="http://news.nankai.edu.cn/gb/index.shtml">广播</a></td>
    <td style="width:290px; "><form action="http://search.news.nankai.edu.cn/m_fullsearch/searchurl/mfullsearch!descResult.do"  method="post" name="form0" id="form0" target="_blank">
    <div style="position:relative; overflow:hidden; width:270px; height:37px; background:#fff; border-radius:30px;">
    <input type="text" name="keywords" style=" height:37px; width:210px; padding-left:10px; "/>
                  <input type="hidden" name="news_type_id" value="1" />
                  <input type="hidden" name="channel_id" value="0" />
                  <input type="image" style="position: absolute; top:10px; right:10px; "src="http://news.nankai.edu.cn/images/index_04.jpg" height="19" width="23" name="Submit1" /></div></form>
                  
                  
                  
                  </td>
  </tr>
</tbody></table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-11-21 14:11:22" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->

   	<!--正文-->
    <table style="padding-top:20px; background:#fff;  " cellspacing="0" cellpadding="0" border="0" align="center" width="1200">
  <tbody><tr><td valign="top">
   <table cellspacing="10" cellpadding="0" border="0" width="100%">
  <tbody><tr>
     <td style="padding:15px; border-bottom:1px solid #ddd; " width="875"><span class="cms_block_span">

您当前的位置 ：			<a href=http://news.nankai.edu.cn/index.shtml>南开大学</a>						            				>>			                			<a href=http://news.nankai.edu.cn/mtnk/index.shtml>媒体南开</a>			     
</span>
    </td>
  </tr>
</tbody></table>
  <table style="padding:0 0 0 10px; " cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody><tr>
    <td style=" font-size:30px; font-weight:bold; text-align:center; padding:20px 0 15px; line-height:34px; ">经济参考报：空置率攀升租金下降　多地写字楼市场持续遇冷</td>
  </tr>
  <tr>
    <td style="text-align:center; border-bottom:1px solid #ddd; padding-bottom:15px;"><span style="margin-right:10px;">来源： </span><span>发稿时间：2020-12-07 15:56</span></td>
  </tr>
  <tr><style>
  #txt p{ line-height:2em; font-size:16px; margin-bottom:15px;}
  </style>
    <td style="padding-top:25px; padding-left:20px; padding-bottom:20px;" id="txt"><p style="text-align: left;">　　写字楼市场往往是经济运行的&ldquo;晴雨表&rdquo;。近日，《经济参考报》记者从北京、上海、深圳、天津等地调研了解到，受多重因素影响，各地写字楼空置率持续上升，个别地段甚至突破30%。业内人士建议，积极推动写字楼市场的&ldquo;供给侧结构性改革&rdquo;，出台写字楼科学发展规划，摒弃攀比现象，引导城市理性发展楼宇经济。</p>

<center><img alt="" complete="complete" oldsrc="W020201203500621031462.jpg" src="http://house.cnr.cn/zxxx/20201203/W020201203500621031462.jpg" /></center>

<p style="text-align: center;">赵乃育　绘</p>

<p style="text-align: left;">　　<strong>空置率上升　租金有所下降</strong></p>

<p style="text-align: left;">　　记者走访多地发现，写字楼空置率高、空置期长的问题不同程度存在。与此同时，写字楼租金价格下降，许多写字楼经营方甚至主动提出减租以维持出租率。</p>

<p style="text-align: left;">　　在广西南宁东葛路延长线的一栋写字楼7楼，多个办公室的玻璃门紧锁，写有联系电话的物业出租广告散落在玻璃门下。由于整个楼层只有几间办公室有人办公，楼道显得空荡荡的。记者在8楼、9楼、11楼随机走访发现，一个楼层有23间办公室，往往只有七八间亮着灯。</p>

<p style="text-align: left;">　　在11楼的1120办公室门口，记者透过玻璃看到，上一家企业留下了一颗&ldquo;发财树&rdquo;，由于长期无人打理，满地都是落叶。&ldquo;因为今年经济不景气，我投资的办公室物业好不容易才租出去，不少邻居的物业降价也找不到合适的客户承租，有的办公室甚至交付多年后都没有装修。&rdquo;南宁的一位市民告诉记者。</p>

<p style="text-align: left;">　　从事办公楼租赁业务的南宁远程地产客户经理罗振思介绍，目前甲1栋、甲2栋、甲3栋写字楼入驻率均不理想。&ldquo;高楼层的商家入驻率还可以，低楼层的空置率较高。&rdquo;他说，以前行情好的时候，客户上午看好了一间办公室没有下定金，下午就被别人租去了，但是现在闲置半年的情况也常有。&ldquo;此前写字楼出租，一个月能成交五六单，现在成交一两单都不容易，有时甚至没有。&rdquo;</p>

<p style="text-align: left;">　　记者走访北京、上海、深圳、天津等地的写字楼发现，写字楼空置率高、空置期长的问题不同程度存在。北京、上海等一线城市核心区甲级写字楼租赁受新冠肺炎疫情影响不大，写字楼较高空置率主要由非核心商圈写字楼和普通写字楼资源大量闲置拉动。戴德梁行发布报告显示，三季度上海市甲级写字楼空置率升至21.9%，比二季度上升1个百分点。</p>

<p style="text-align: left;">　　深圳写字楼空置率仍在攀升。三季度空置率环比二季度小幅下降0.92个百分点至24.52%。在天津，写字楼空置现象同样不容乐观。数据显示，今年上半年，天津市写字楼空置率为36.1%。受新冠肺炎疫情影响，一些往年出租率表现较好的写字楼也遭遇了出租下滑的困境。天津国际大厦招商负责人陈田介绍，国际大厦目前出租率为75%，较往年低15%左右。</p>

<p style="text-align: left;">　　与此同时，写字楼租金价格下降。受多方面因素影响，许多写字楼经营方甚至主动提出减租以维持出租率。在北京中关村的一栋写字楼，物业在得知一家主营国际游学业务的企业业务萎缩后，承诺若企业再续租1年，租金将降低25%。</p>

<p style="text-align: left;">　　&ldquo;今年跟往年不一样，出现部分租户退租的现象。同时，客户对价格比较敏感。每平方米的平均租金降为130元，比之前低了不少。&rdquo;南宁市一栋甲级写字楼的招商负责人说。</p>

<p style="text-align: left;">　　戴德梁行发布报告显示，三季度，得益于市场租赁需求的逐步回暖和新冠肺炎疫情的有效控制，北京全市及五大核心商圈市场租金虽延续了年初以来的下调趋势，但降幅较二季度有所收窄，分别环比下降2.8%和2.9%至每月每平方米人民币348.4元和393.2元。</p>

<p style="text-align: left;">　　在上海、广州等一线城市，商圈租金也有所下降。三季度，上海甲级写字楼租金环比下滑0.97%，降幅比二季度有所收窄。广州甲级写字楼租金小幅下调0.8%至183元每月每平方米。</p>

<p style="text-align: left;">　　此外，新商圈招商压力大，销售难。位于天津市新八大里商圈的一栋大厦招商经理王钰然介绍，该写字楼目前入驻率为70%左右，即便如此，在附近仍属于入驻率较高的写字楼。</p>

<p style="text-align: left;">　　经济下行压力之下，投资者保持观望态度，二、三线城市写字楼销售遇冷。根据易居克而瑞的研究数据，2020年1至8月，南宁市6个城区写字楼销售面积总计供应47.9万平方米，成交27.1万平方米，成交率为56.5%。许多写字楼面临较大销售压力，位于南宁市中心城区的一个写字楼销售面积28万平方米，目前成交占比仅为20%左右。据一位项目负责人介绍，购买人群中投资客较多，不少人都在观望。</p>

<p style="text-align: left;">　　<strong>资源供应过剩　行业加速洗牌</strong></p>

<p style="text-align: left;">　　受访人士介绍，当前各地写字楼空置率较高的背后，有供过于求的市场因素以及产业结构不尽合理等多重诱因。</p>

<p style="text-align: left;">　　&mdash;&mdash;写字楼供大于求。今年上半年，深圳市累计吸纳甲级写字楼办公面积约14万平方米，超过2019年的全年吸纳量。在供应量连续四年大涨的情况下，写字楼市场逐渐饱和。</p>

<p style="text-align: left;">　　深圳市规划国土发展研究中心总规划师邹兵表示，部分城市产业转型升级速度快，原有的一些产业空间并不能充分满足新产业业态发展需要，为吸引更多现代金融、总部经济、研发创新等现代服务业入驻，因而增加了商务办公等现代服务业用地的供应量；同时，一些城市允许将旧工业区的工业用地建设成介于生产制造功能和商务办公功能之间的创新型产业用房，其外在形式就是写字楼。</p>

<p style="text-align: left;">　　戴德梁行华南及华西区研究部主管张晓端预计，2020年至2024年，深圳可能入市的甲级写字楼供应量将达到791万平方米。&ldquo;由于阶段性供过于求，未来几年，深圳的甲级写字楼将持续维持高空置率状态。&rdquo;</p>

<p style="text-align: left;">　　&mdash;&mdash;疫情影响租赁活动。据第一太平戴维斯、CCEF提供的数据显示，在包括北上广深四个一线城市和杭州、成都、武汉等14个二线城市的18个样本城市当中，除了南京、苏州外，其余16个城市的写字楼租金跌势已超过一年。</p>

<p style="text-align: left;">　　业内人士介绍，近年来，多地甲级写字楼供应快速增长，但企业需求增速显然没有赶上写字楼供应的增速，在写字楼资源供过于求的当下，疫情加剧了市场的去库存压力。</p>

<p style="text-align: left;">　　高力国际华北区研究部董事陆明认为，企业整体营收增速受到大环境的影响，随着疫情防控常态化持续，社会生产生活逐步正常运行，但居民消费端仍受到一定的抑制，这些因素都从一定程度上影响到需求反弹。</p>

<p style="text-align: left;">　　&mdash;&mdash;部分城市新兴产业不足。天津财经大学教授丛屹认为，一些城市目前处于产业结构的调整阶段，互联网、平台经济发展尚不够完善，缺少如头部互联网公司、在线教育等一批能够为商务楼盘带来需求亮点的新经济业态企业。</p>

<p style="text-align: left;">　　在北京、上海、广州等地，信息传输、软件和信息技术服务业、金融业成为写字楼吸纳主力。前期快速扩张且租户结构以初创公司为主的商务品牌开始出现退租撤场现象，行业洗牌现象加剧。</p>

<p style="text-align: left;">　　<strong>科学合理规划　促进良性发展</strong></p>

<p style="text-align: left;">　　受访人士表示，大量写字楼涌现，一方面增加了城市景观和天际轮廓线，推动固定资产投资增长，展现一个地方经济、社会发展的成就，另一方面，其暗藏的风险隐患也不容忽视。建议在控制商业楼宇数量和规模的同时，理性制定规划城市发展路线。</p>

<p style="text-align: left;">　　<span style="color: rgb(128, 0, 128);">南开大学滨海研究院副院长薄文广认为，商业楼宇本身的资金回报率并不高，许多城市的摩天大楼拔地而起，仅仅作为城市形象的展示之用。就目前办公资源供大于求的现状来看，需要合理规划进行顶层设计。</span></p>

<p style="text-align: left;">　　广东省城乡规划设计研究院住房政策研究中心主任助理李宇嘉认为，近年来，一些城市及其各个城区，招商引资展开了&ldquo;竞标赛&rdquo;，新区动辄和纽约曼哈顿、伦敦金融城等标志性区域对标。当前企业、个人在创业上心态愈发务实，靠高档写字楼装饰门面获得市场青睐并不现实。因此，各地应降低期待，放慢脚步，理性制定规划城市发展路线。</p>

<p style="text-align: left;">　　同时，调整土地供应思路。据深圳市规划和自然资源局副局长王策飞介绍，针对供地结构失调带来的写字楼供应过多，为优化用地结构，深圳市2020年缩减了商服用地的供应量。</p>

<p style="text-align: left;">　　其次，在税收、金融等方面出台积极政策。广西房地产协会副会长李景新建议，写字楼招商可由企业分散招商转向由政府层面统筹的集中招商，写字楼资源闲置率高的问题持续多年，已非市场端通过自身调试能够解决，需要政府引导&ldquo;放水养鱼&rdquo;。龙光地产广西区域公司营销管理事业一部负责人陈梁认为，金融市场的支持也至关重要。当前贷款难度大、门槛高，且利率上浮较多，给有购买写字楼意愿的客户造成较大约束。&ldquo;写字楼方面贷款一次最多500万元，建议金融机构适当放宽政策，以刺激市场活力。&rdquo;</p>

<p style="text-align: left;">　　此外，根据市场新需求调整发展方向。薄文广认为，商业楼宇开发商应当走出思维误区，不要将目光只放在建设&ldquo;高大上&rdquo;的项目上，也可为新兴的中小企业&ldquo;量身定做&rdquo;一些走&ldquo;亲民路线&rdquo;的办公资源。在写字楼租赁成本不低的情况下，技术范式的变革引发了办公形式的诸多变化：腾讯会议、钉钉等办公软件的出现和功能不断完善，使一些资金不充足的中小企业失去了承租办公场地的动力。因此，针对这一部分需求，要求开发商转换思路，让中小企业不再&ldquo;望楼兴叹&rdquo;。</p>

<p style="text-align: left;">　　（记者覃星星、梁姊、关桂峰、张超、赵瑞希、李亭、郑钧天采写）</p>

<p style="text-align: left;">　　新闻链接：<a href="http://house.cnr.cn/zxxx/20201203/t20201203_525351010.html">http://house.cnr.cn/zxxx/20201203/t20201203_525351010.html</a></p>
<!--/content-->
    </td>
  </tr>
  <tr>
    <td style="padding-top:25px; padding-right:30px; padding-bottom:20px;" align="right"><p style=" text-indent:2em; line-height:2em; font-size:16px; margin-bottom:15px;  "><span class=" hong">编辑：</span>乔仁铭
    </p></td>
  </tr>
</tbody></table>
</td>
    <td style="padding:15px;  " width="270" valign="top"><table width="100%" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_04.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td><iframe width="270" height="400" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&amp;width=0&amp;height=550&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=0&amp;noborder=1&amp;isWeibo=1&amp;isFans=0&amp;uid=1851774145&amp;verifier=4e1ba554&amp;colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&amp;dpc=1"></iframe></td>
  </tr>
</table>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2019-05-16 11:05:15" check_sum="3bcee7cc5a424330844ab778a62d31c1]--> <table cellspacing="0" cellpadding="0" border="0" width="270"align="center">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_12.jpg" height="35" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; border-top:none; padding-bottom:10px; "><span class="cms_block_span">

<table width="240" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:10px; "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/003/000/241/00300024169_6a089d05.jpg" width="240" height="100"  border="0"/></a></td>
  </tr>
  <tr>
    <td   style="border-bottom:1px solid #ddd;  padding:10px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:2EM;  "><a href="http://news.nankai.edu.cn/wx/system/2019/06/03/030033750.shtml" target="_blank">微信往期推送</a></td>
  
  </tr>
  <tr>
    <td style="line-height:2EM; " align="right"><a href="http://news.nankai.edu.cn/wx/index.shtml" target="_blank">更多...</a></td>
  
  </tr>
</table></td>
  </tr>
</table>

</span></td>
  </tr>
</tbody></table>
<table cellspacing="10" cellpadding="0" border="0" width="270">
  <tbody><tr>
    <td><img src="http://news.nankai.edu.cn/ywsd/images/list_21.jpg" height="38" width="270"></td>
  </tr>
  <tr>
    <td style="border:1px solid #ddd; padding:5px 0;  "><table style="background:url(http://news.nankai.edu.cn/ywsd/images/list_24.jpg)  0 0px repeat-y; line-height:36px; " cellspacing="0" cellpadding="0" border="0" align="center" width="240">
  <tbody><tr>
    <td><span class="cms_block_span">


<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/05/030043092.shtml" target="_blank">2020年度南开治理指数在京发布</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043063.shtml" target="_blank">南开大学获批5项国家社科基金...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043084.shtml" target="_blank">“打卡”第七个国家宪法日 南...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043062.shtml" target="_blank">南开大学图灵书院开班 跨学科...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043090.shtml" target="_blank">中国教育报：南开大学举办教...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043093.shtml" target="_blank">央广网：纪念陈省身先生逝世...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/05/030043094.shtml" target="_blank">中华读书报：《掬水月在手》...</a><br/>
<a href="http://news.nankai.edu.cn/ywsd/system/2020/12/04/030043073.shtml" target="_blank">南开学子在第十二届中国社会...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043085.shtml" target="_blank">天津日报：让世界读懂中国 让...</a><br/>
<a href="http://news.nankai.edu.cn/mtnk/system/2020/12/04/030043088.shtml" target="_blank">中新社：两岸专家呼吁在“九...</a><br/>

</span></td>
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>

<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-08 00:12:14" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->
</td>
  </tr>
</tbody></table>

    
    <!--页脚-->
<span class="cms_block_span">

<table width="1200" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#701a5b;">
  <tr>
    <td height="100" align="center" style="color:#fff; ">
    
    <table width="1100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="line-height:32PX; color:#FFF; border-right:1px solid #ddd; padding-right:0px; font-size:14px;  font-family:Microsoft YaHei ; " width="50%" >新闻热线：022-23508464 022-85358737<Span style="margin:0 10px; "></Span>投稿信箱：<a href="mailto:nknews@nankai.edu.cn" style="color:#fff; " target="_blank">nknews@nankai.edu.cn</a><br />
      本网站由南开大学新闻中心设计维护 <Span style="margin:0 10px; "></Span>Copyright@2014 津ICP备12003308号-1</td>
    <td style="line-height:32PX; color:#FFF; BORRDER-Rigth:1px #fff dotted; padding-left:30PX;font-size:14px;  font-family:Microsoft YaHei ; "><a style="color:#fff; margin:0 0 5px;" href="http://www.nankai.edu.cn/" target="_blank">南开大学</a> <a style="color:#fff; margin:0 5px;" href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>   <a style="color:#fff; margin:0 5px;" href="http://news.nku.cn/xs/" target="_blank">校史网</a>   <a style="color:#fff; margin:0 5px;" href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a><br />
      版权声明：本网站由南开大学版权所有，如转载本网站内容，请注明出处。</td>
  </tr>
</table>

    </td>
  </tr>
</table>
</span>
</div>
<!--主体 end-->


</body></html>
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2020-12-07 15:12:02" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->