<base href="https://career.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>南开大学学生就业指导中心</title>
<meta name="keywords" content="南开大学学生就业指导中心,招聘信息,招聘会信息,实习信息,公招信息,就业指导,创业指导,就业政策" />
<meta name="description" content="南开大学学生就业指导中心成立于2000年，中心以服务毕业生和用人单位为宗旨，贯彻和执行国家有关单位就业方针政策，遵循公平、公开、公正的推荐原则，为毕业生与用人单位进行“供需见面双向选择”积极创造条件。" />
<script type="text/javascript" src="/Public/js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/Public/js/base.js"></script>
<link rel="stylesheet" type="text/css" href="/Public/css/web/index.css?2112338607">
<link href="/Public/css/calender.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <!-- headder -->
    <div class="head">
        <div class="headtop"></div>
        <div class="header">
            <div class="logo"><a href="https://career.nankai.edu.cn"><img src="/Public/images/web/logo.png"></a></div>
            <div class="headlist">
                <ul>
                    <li><a href="https://career.nankai.edu.cn">首页</a></li>
                    <li><a href="javascript:void(0);">学生<img src="/Public/images/web/jt.png"></a>
                        <ul class="erji">
                            <li style="margin-top: 20px;"><a href="/correcruit/index.html">招聘信息</a></li>
                            <li><a href="/recruitment/index.html">招聘会信息</a></li>
                            <li><a href="/shuangxuanhuis/index.html">空中双选会</a></li>
                            <li><a href="/xuanjianghuis/index.html">空中宣讲会</a></li>
                            <li><a href="/careerquiz/index.html">职业测评</a></li>
                            <li><a href="/applyguide/index.html">活动预告</a></li>
                            <li><a href="https://careers.nankai.edu.cn" target="_blank">生涯指导</a></li>
                            <li><a href="/news/work/cate/10.html">政策手续</a></li>
                            <li style="margin-bottom: 15px; display:none;"><a href="javascript:void(0);">毕业填报</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);">雇主<img src="/Public/images/web/jt.png"></a>
                        <ul class="erji">
                            <li style="margin-top: 20px;"><a href="/academeint/index.html">院系介绍</a></li>
                            <li><a href="/news/index/cate/6.html" target="_blank">生源信息</a></li>
                            <li><a href="/recruitguide/index.html" target="_blank">招聘指南</a></li>
                            <li style="margin-bottom: 15px;"><a href="/employgroup/index.html" target="_blank">联系院系</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);">教师<img src="/Public/images/web/jt.png"></a>
                        <ul class="erji">
                            <li style="margin-top: 20px;"><a href="/news/index/cate/1.html">重要通知</a></li>
                            <li><a href="/news/index/cate/14.html">公示专栏</a></li>
                            <li style="margin-bottom: 15px;"><a href="/news/work/cate/12.html">工作动态</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);">校友<img src="/Public/images/web/jt.png"></a>
                        <ul class="erji">
                            <li style="margin-top: 20px;"><a href="javascript:void(0);">校友注册</a></li>
                            <li><a href="javascript:void(0);">校友风采</a></li>
                            <li style="margin-bottom: 15px;"><a href="javascript:void(0);">活动信息</a></li>
                        </ul>
                    </li>
                    <li><a href="/download/index.html">下载专区</a></li>
                    <li><a href="/contact/index.html">关于我们</a></li>
                </ul>
            </div>
            <a href="https://careers.nankai.edu.cn" class="login" target="_blank" >就业系统登录</a>
            <a href="https://careers.nankai.edu.cn/Login/login/type/2.html" class="login1" target="_blank" >企业登录</a>
            <a href="/search/index.html" class="sousuo"><img src="/Public/images/web/sousuo.png" width="20px"></a>
        </div>
    </div>
<style type="text/css">
    .tanchu .tc_topborder {
        background: url(/Public/images/bg_tc1.png) no-repeat top center;
    }
</style>

	<!-- banner -->
	<div class="banner" style="visibility: hidden;">
		<ul id="focus">
            <li>
                    <a href="https://career.nankai.edu.cn/Recruitment/content/type/1/id/170.html" target="_blank"><img src="/Uploads/2020-12-08/5fcec7db2cfdf.png" width="1300" height="400"></a>
                     <div class="title">邀请函|南开大学—天津大学2021届毕业生联合双选会</div>
                </li><li>
                    <a href="https://career.nankai.edu.cn/recruitguide/index.html" target="_blank"><img src="/Uploads/2020-08-31/5f4ca0341c67d.jpg" width="1300" height="400"></a>
                     <div class="title">南开大学2021届毕业生招聘指南</div>
                </li><li>
                    <a href="javascript:void(0);"><img src="/Uploads/2020-02-28/5e58b56a222ed.jpg" width="1300" height="400"></a>
                     <div class="title">2020届高校毕业生全国网络联合招聘——24365校园招聘服务</div>
                </li><li>
                    <a href="https://career.nankai.edu.cn/recruitguide/index.html" target="_blank"><img src="/Uploads/2020-08-31/5f4cb876617ae.jpg" width="1300" height="400"></a>
                     <div class="title">南开大学2021届毕业生招聘指南</div>
                </li><li>
                    <a href="https://career.nankai.edu.cn/correcruit/content/id/54347.html" target="_blank"><img src="/Uploads/2020-10-10/5f816bfeb5f98.jpg" width="1300" height="400"></a>
                     <div class="title">2020年常熟市校园引才活动——南开大学专场</div>
                </li>		</ul>
	</div>
	<script type="text/javascript" defer="defer" src="/Public/js/web/jquery.movingboxes.js"></script>
	<script type="text/javascript">
	$(function(){
		$('#focus').movingBoxes({
			startPanel   : 1,       // 从第一个li开始
			reducedSize  : 1,      // 缩小到原图50%的尺寸
			wrap         : true,   // 无缝循环
			buildNav     : false,	// 显示指示器效果
			navFormatter : function(){ return "&#9679;"; } // 指示器格式，为空即会显示123
		});
	});
	</script>
    <script type="text/javascript">
      window.onload=function(){
        $('.banner').css('visibility','');
        bannertimer=setInterval(autoplay,5000);
          $('.banner').mouseenter(
                function(){
                    clearInterval(bannertimer);
                }
            );
          $('.banner').mouseleave(
                function(){
                    bannertimer=setInterval(autoplay,5000);
                }
            );
      }
      function autoplay(){
          document.getElementsByClassName('mb-right')[0].click();
      }
    </script>
    <div style="clear: both;"></div>
    <div class="con">
    	<div class="conleft news">
    		<div class="title">
    			<a href="javascript:void(0);" class="hover" id="gg" >通知公告</a>&nbsp&nbsp|&nbsp&nbsp
    			<a href="javascript:void(0);" id="gs" >公示专栏</a>&nbsp&nbsp|&nbsp&nbsp
    			<a href="javascript:void(0);" id="dt" >工作动态</a>&nbsp&nbsp
                <span class="titbg" style="width:155px;"></span>
    		</div>
    		<script type="text/javascript">
    			$("#gg").hover(function(){
    				$('#gg').addClass("hover");
    				$('#gs').removeClass("hover");
    				$('#dt').removeClass("hover");
    				$('.gg').css("display","block");
    				$('.gs').css("display","none");
    				$('.dt').css("display","none");
    			});
    			$("#gs").hover(function(){
    				$('#gg').removeClass("hover");
    				$('#dt').removeClass("hover");
    				$('#gs').addClass("hover");
    				$('.gs').css("display","block");
    				$('.dt').css("display","none");
    				$('.gg').css("display","none");
    			});
    			$("#dt").hover(function(){
    				$('#gg').removeClass("hover");
    				$('#gs').removeClass("hover");
    				$('#dt').addClass("hover");
    				$('.dt').css("display","block");
    				$('.gs').css("display","none");
    				$('.gg').css("display","none");
    			});
    		</script>
    		<div class="news1 gg">
    			<div class="news1list gg" style="height:inherit;">
    				<ul>
                        <li>
                                 <a href="/news/content/id/1287.html" target="_blank" title="关于延长福建省引进生报名时间的通知">
        						  <div class="title"><em class="topzd"></em>关于延长福建省引进生报名时间的通知</div>
        						  <div class="date">11-18</div>
                                </a>
        					</li><li>
                                 <a href="/news/content/id/1290.html" target="_blank" title="江苏省2021年名校优生选调考察人选补充公示">
        						  <div class="title"><em class="topzd"></em>江苏省2021年名校优生选调考察人选补充公示</div>
        						  <div class="date">11-19</div>
                                </a>
        					</li><li>
                                 <a href="/news/content/id/1269.html" target="_blank" title="关于2020届毕业生到中西部基层单位就业奖励金申请的通知（第二次）">
        						  <div class="title"><em class="topzd"></em>关于2020届毕业生到中西部基层单位就业奖励金申请的通知（第二次）</div>
        						  <div class="date">11-02</div>
                                </a>
        					</li><li>
                                 <a href="/news/content/id/1261.html" target="_blank" title="关于组织观看第二届联合国机构宣讲咨询课程的通知">
        						  <div class="title"><em class="topzd"></em>关于组织观看第二届联合国机构宣讲咨询课程的通知</div>
        						  <div class="date">10-19</div>
                                </a>
        					</li><li>
                                 <a href="/news/content/id/1282.html" target="_blank" title="江苏省2021年名校优生选调考察人选公示">
        						  <div class="title"><em class="topzd"></em>江苏省2021年名校优生选调考察人选公示</div>
        						  <div class="date">11-11</div>
                                </a>
        					</li><li>
                                 <a href="/news/content/id/1236.html" target="_blank" title="南开大学2021届毕业生秋季校园招聘活动企业须知">
        						  <div class="title"><em class="topzd"></em>南开大学2021届毕业生秋季校园招聘活动企业须知</div>
        						  <div class="date">09-17</div>
                                </a>
        					</li><li>
                                 <a href="/news/content/id/1212.html" target="_blank" title="关于往届生办理报到证等相关就业派遣业务的通知">
        						  <div class="title"><em class="topzd"></em>关于往届生办理报到证等相关就业派遣业务的通知</div>
        						  <div class="date">04-30</div>
                                </a>
        					</li><li>
                                 <a href="https://career.nankai.edu.cn/shuangxuanhuis/index.html" target="_blank" title="【学生入口】南开大学网上双选会">
        						  <div class="title"><em class="topzd"></em>【学生入口】南开大学网上双选会</div>
        						  <div class="date">02-29</div>
                                </a>
        					</li><li>
                                 <a href="https://career.nankai.edu.cn/xuanjianghuis/index.html" target="_blank" title="【学生入口】南开大学空中宣讲会（预告+直播+回看）">
        						  <div class="title"><em class="topzd"></em>【学生入口】南开大学空中宣讲会（预告+直播+回看）</div>
        						  <div class="date">02-29</div>
                                </a>
        					</li><li>
                                 <a href="javascript:void(0);">
        						  <div class="title"><em class="topzd"></em>教育部大学生就业网开通“线上就业指导 网上就业服务”栏目</div>
        						  <div class="date">03-06</div>
                                </a>
        					</li><li>
                                 <a href="https://career.nankai.edu.cn/Correcruit/content/id/54733.html" target="_blank" title="长春新区机关和驻区企业2021年面向南开大学招聘工作人员公告">
        						  <div class="title">长春新区机关和驻区企业2021年面向南开大学招聘工作人员公告</div>
        						  <div class="date">10-15</div>
                                </a>
        					</li><li>
                                 <a href="https://career.nankai.edu.cn/Correcruit/content/id/54727.html" target="_blank" title="中共中央党史和文献研究院2021年招录机关工作人员公告">
        						  <div class="title">中共中央党史和文献研究院2021年招录机关工作人员公告</div>
        						  <div class="date">10-15</div>
                                </a>
        					</li><li>
                                 <a href="/news/content/id/1241.html" target="_blank" title="关于南开大学招聘活动场地收费标准的公示">
        						  <div class="title">关于南开大学招聘活动场地收费标准的公示</div>
        						  <div class="date">09-10</div>
                                </a>
        					</li><li>
                                 <a href="/news/content/id/1220.html" target="_blank" title="关于学生就业指导中心和学生档案室暑假值班安排的通知">
        						  <div class="title">关于学生就业指导中心和学生档案室暑假值班安排的通知</div>
        						  <div class="date">06-29</div>
                                </a>
        					</li>    				</ul>
    			</div>
    			<a href="/news/index/cate/1.html" class="more">查看更多内容</a>
    		</div>
            <div class="news1 gs" style="display: none;">
    			<div class="news1list" style="height:inherit;">
    				<ul>
    					<li>
                                 <a href="/news/content/id/1267.html" target="_blank" title="广西2020年定向南开大学招录 选调生拟录用人选公示">
                                  <div class="title">广西2020年定向南开大学招录 选调生拟录用人选公示</div>
                                  <div class="date">10-29</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1263.html" target="_blank" title="宁夏2020年招录选调生拟录用人员公示（第二批）">
                                  <div class="title">宁夏2020年招录选调生拟录用人员公示（第二批）</div>
                                  <div class="date">10-25</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1252.html" target="_blank" title="宁夏2020年招录选调生拟录用人员公示">
                                  <div class="title">宁夏2020年招录选调生拟录用人员公示</div>
                                  <div class="date">10-15</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1248.html" target="_blank" title="黑龙江省2020年面向南开大学定向选调应届优秀毕业生拟录用人选公示">
                                  <div class="title">黑龙江省2020年面向南开大学定向选调应届优秀毕业生拟录用人选公示</div>
                                  <div class="date">10-12</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1237.html" target="_blank" title="生态环境部2020年度拟选调应届优秀大学毕业生公示公告">
                                  <div class="title">生态环境部2020年度拟选调应届优秀大学毕业生公示公告</div>
                                  <div class="date">09-23</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1235.html" target="_blank" title="2020年云南省曲靖市“珠源百人计划”党政储备人才拟录用人员公示">
                                  <div class="title">2020年云南省曲靖市“珠源百人计划”党政储备人才拟录用人员公示</div>
                                  <div class="date">09-15</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1234.html" target="_blank" title="贵州省2020年度定向“985工程”等重点高校选调优秀毕业生拟录用人员公示 （第二批）">
                                  <div class="title">贵州省2020年度定向“985工程”等重点高校选调优秀毕业生拟录用人员公示 （第二批）</div>
                                  <div class="date">09-08</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1233.html" target="_blank" title="国家移民管理局2020年度拟录用公务员公示公告">
                                  <div class="title">国家移民管理局2020年度拟录用公务员公示公告</div>
                                  <div class="date">08-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1232.html" target="_blank" title="财政部2020年度拟选调应届大学毕业生公示公告">
                                  <div class="title">财政部2020年度拟选调应届大学毕业生公示公告</div>
                                  <div class="date">08-26</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1230.html" target="_blank" title="2020年度陕西省面向南开大学招录选调生拟录用人员名单公示">
                                  <div class="title">2020年度陕西省面向南开大学招录选调生拟录用人员名单公示</div>
                                  <div class="date">08-17</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1229.html" target="_blank" title="贵州省2020年度定向“985工程”等重点高校选调优秀毕业生拟录用人员公示（第一批）">
                                  <div class="title">贵州省2020年度定向“985工程”等重点高校选调优秀毕业生拟录用人员公示（第一批）</div>
                                  <div class="date">08-13</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1228.html" target="_blank" title="云南省2020年定向选调生拟录用人员公示">
                                  <div class="title">云南省2020年定向选调生拟录用人员公示</div>
                                  <div class="date">08-10</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1227.html" target="_blank" title="内蒙古自治区2020年度面向南开大学定向选调优秀大学毕业生拟录用人员公示公告">
                                  <div class="title">内蒙古自治区2020年度面向南开大学定向选调优秀大学毕业生拟录用人员公示公告</div>
                                  <div class="date">08-07</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1226.html" target="_blank" title="公示">
                                  <div class="title">公示</div>
                                  <div class="date">08-04</div>
                                </a>
                            </li>    				</ul>
    			</div>
    			<a href="/news/index/cate/14.html" class="more">查看更多内容</a>
    		</div>
    		<div class="news1 dt" style="display: none;">
    			<div class="news1list" style="height:inherit;">
    				<ul>
    					<li>
                                 <a href="/news/content/id/1210.html" target="_blank" title="日本研究院简介及专业介绍">
                                  <div class="title">日本研究院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1209.html" target="_blank" title="商学院专业学位教育中心简介及专业介绍">
                                  <div class="title">商学院专业学位教育中心简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1208.html" target="_blank" title="旅游与服务学院简介及专业介绍">
                                  <div class="title">旅游与服务学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1207.html" target="_blank" title="泰达学院、软件学院简介及专业介绍">
                                  <div class="title">泰达学院、软件学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1206.html" target="_blank" title="材料科学与工程学院简介及专业介绍">
                                  <div class="title">材料科学与工程学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1205.html" target="_blank" title="电子信息与光学工程学院简介及专业介绍">
                                  <div class="title">电子信息与光学工程学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1204.html" target="_blank" title="人工智能学院简介及专业介绍">
                                  <div class="title">人工智能学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1203.html" target="_blank" title="计算机学院、网络空间安全学院简介及专业介绍">
                                  <div class="title">计算机学院、网络空间安全学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1202.html" target="_blank" title="环境科学与工程学院简介及专业介绍">
                                  <div class="title">环境科学与工程学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1201.html" target="_blank" title="金融学院简介及专业介绍">
                                  <div class="title">金融学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1200.html" target="_blank" title="周恩来政府管理学院简介及专业介绍">
                                  <div class="title">周恩来政府管理学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1199.html" target="_blank" title="汉语言文化学院简介及专业介绍">
                                  <div class="title">汉语言文化学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1198.html" target="_blank" title="哲学院简介及专业介绍">
                                  <div class="title">哲学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li><li>
                                 <a href="/news/content/id/1197.html" target="_blank" title="统计与数据科学学院简介及专业介绍">
                                  <div class="title">统计与数据科学学院简介及专业介绍</div>
                                  <div class="date">04-28</div>
                                </a>
                            </li>    				</ul>
    			</div>
    			<a href="/news/work/cate/12.html" class="more">查看更多内容</a>
    		</div>
    	</div>
    	<div class="conmid zp">
    		<div class="title">
    			<span class="hover">招聘信息</span>&nbsp&nbsp
                 <span class="titbg" style="width:330px;"></span>
    		</div>
    		<div class="zpxx">
    			<ul>
                    <li>
                            <a href="/correcruit/content/id/57323.html" target="_blank" title="土木工程相关专业工程师">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">08</div>
        					</div>
    			    		<div class="title2">土木工程相关专业工程师</div>
                            </a>
                            <a href="/company/index/id/21277.html" target="_blank">
                            <div class="company">中交第一航务工程局有限公司城市建设工程分公司</div>
                        </a>
        				</li><li>
                            <a href="/correcruit/content/id/57311.html" target="_blank" title="奥数培优班课主讲教师">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">08</div>
        					</div>
    			    		<div class="title2">奥数培优班课主讲教师</div>
                            </a>
                            <a href="/company/index/id/21241.html" target="_blank">
                            <div class="company">广州市晓培优教育科技有限公司</div>
                        </a>
        				</li><li>
                            <a href="/correcruit/content/id/57293.html" target="_blank" title="材料研发工程师">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">08</div>
        					</div>
    			    		<div class="title2">材料研发工程师</div>
                            </a>
                            <a href="/company/index/id/21228.html" target="_blank">
                            <div class="company">北京机科国创轻量化科学研究院有限公司</div>
                        </a>
        				</li><li>
                            <a href="/correcruit/content/id/57277.html" target="_blank" title="光谱技术">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">08</div>
        					</div>
    			    		<div class="title2">光谱技术</div>
                            </a>
                            <a href="/company/index/id/8369.html" target="_blank">
                            <div class="company">核工业理化工程研究院</div>
                        </a>
        				</li><li>
                            <a href="/correcruit/content/id/57240.html" target="_blank" title="技术研发工程师（污废水、固废处置方向）">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">07</div>
        					</div>
    			    		<div class="title2">技术研发工程师（污废水、固废处置方向）</div>
                            </a>
                            <a href="/company/index/id/21249.html" target="_blank">
                            <div class="company">武汉天源环保股份有限公司</div>
                        </a>
        				</li><li>
                            <a href="/correcruit/content/id/57239.html" target="_blank" title="北京市十一学校一分校招聘启事">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">07</div>
        					</div>
    			    		<div class="title2">北京市十一学校一分校招聘启事</div>
                            </a>
                            <a href="/company/index/id/21259.html" target="_blank">
                            <div class="company">北京市十一学校一分校</div>
                        </a>
        				</li><li>
                            <a href="/correcruit/content/id/57225.html" target="_blank" title="商学院教师">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">07</div>
        					</div>
    			    		<div class="title2">商学院教师</div>
                            </a>
                            <a href="/company/index/id/12066.html" target="_blank">
                            <div class="company">齐鲁理工学院</div>
                        </a>
        				</li><li>
                            <a href="/correcruit/content/id/57220.html" target="_blank" title="[管理培训生]莱福集团2021校园招聘">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">07</div>
        					</div>
    			    		<div class="title2">[管理培训生]莱福集团2021校园招聘</div>
                            </a>
                            <a href="/company/index/id/21233.html" target="_blank">
                            <div class="company">北京莱福企业管理集团有限公司</div>
                        </a>
        				</li><li>
                            <a href="/correcruit/content/id/57214.html" target="_blank" title="动画师">
        					<div class="date">
        						<div class="M">十二月</div>
        						<div class="D">07</div>
        					</div>
    			    		<div class="title2">动画师</div>
                            </a>
                            <a href="/company/index/id/21220.html" target="_blank">
                            <div class="company">中视亿诺动漫科技（天津）有限公司</div>
                        </a>
        				</li>    			</ul>
    		</div>
    		<a href="/correcruit/index.html" class="more">查看更多内容</a>
    	</div>
    	<div class="conright rlzph" style="height:750px;">
    		<!-- 日历开始 -->
			<div id="CalendarMain">
			  <div id="title">
			  <a href="/reccalender/index.html" target="_blank"><p>招聘日历</p></a>
			  <a class="selectBtn currentDay" href="javascript:" onClick="CalendarHandler.CreateCurrentCalendar(0,0,0);">今天</a>
			  <a class="selectBtn month" href="javascript:" onClick="CalendarHandler.CalculateLastMonthDays();"><</a>
			  <a class="selectBtn selectYear" href="javascript:" onClick="CalendarHandler.CreateSelectYear(CalendarHandler.showYearStart);">2014年</a>
			  <a class="selectBtn selectMonth" onClick="CalendarHandler.CreateSelectMonth()">6月</a>
			  <a class="selectBtn nextMonth" href="javascript:" onClick="CalendarHandler.CalculateNextMonthDays();">></a>
			  </div>
			  <div id="context">
			    <div class="week">
			      <h3> 一 </h3>
			      <h3> 二 </h3>
			      <h3> 三 </h3>
			      <h3> 四 </h3>
			      <h3> 五 </h3>
			      <h3> 六 </h3>
			      <h3> 日 </h3>
			    </div>
			    <div id="center">
			      <div id="centerMain">
			        <div id="selectYearDiv"></div>
			        <div id="centerCalendarMain">
			          <div id="Container">
					  </div>
					  <div style='width:350px;color:#222;font-size:14px;height:50px;line-height:50px;clear:both;border-top:1px solid #ddd'>
					      <a href="/recruitment/index.html" target="_blank"><span style='display:block;float:left;width:10px;height:10px;margin:21px 5px 0 24px;background:#802358;border-radius:2px;'></span> <p style='float:left;height:15px;color:#222;'>双选会</p> </a>
						  <a href="/recruitment/index2.html" target="_blank"><span style='display:block;float:left;width:10px;height:10px;margin:21px 5px 0 66px;background:#f49d0e;border-radius:2px;'></span> <p style='float:left;height:15px;color:#222;'>宣讲会</p> </a>
						 <a href="/applyguide/index.html" target="_blank"> <p style='float:right;color:#222;'>活动预告</p><span style='display:block;float:right;width:10px;height:10px;margin:21px 5px 0 0;background:#007ac5;border-radius:2px;'></span></a>
				      </div>
			        </div>
			        <div id="selectMonthDiv"></div>
			      </div>
			    </div>
			  </div>
			</div>
			<script type="text/javascript" src="/Public/js/web/index.js"></script>
			<script type="text/javascript">
					$(document).ready(function(e) {
						CalendarHandler.initialize();
					});
			</script>
             <!--- 弹出层-->
            <div id='tanchu' class='tanchu'>
                <div class="tc_topborder"></div>
                <a class="tc_close"></a>
                <ul id="tanchu_title">

                </ul>
            </div>
            <!---弹出层 -->
			<!-- 日历结束 -->
            <script>
            function show_title(date,type){
                $('#tanchu_title').html('');
                $.ajax({
                    type:"POST",
                    url:"/Index/doinfo",
                    async:false,
                    data:{"date":date,"type":type},
                    success:function(json){
                        var data=eval(json);
                        if(data){
                            if(data.length>0){
                                for(var i=0;i<data.length;i++){
                                    if(data[i].type==3){
                                        jQuery('#tanchu_title').append("<li><a href=\"/Applyguide/content/id/"+data[i].id+".html\" target=\"_blank\">"+data[i].title+"</a></li>");
                                    }else if(data[i].type==4){
										jQuery('#tanchu_title').append("<li><a href=\""+data[i].hyurl+"\" target=\"_blank\">"+data[i].title+"</a></li>");
									}else{
                                        jQuery('#tanchu_title').append("<li><a href=\"/Recruitment/content/type/"+data[i].type+"/id/"+data[i].id+".html\" target=\"_blank\">"+data[i].title+"</a></li>");
                                    }
                                }
                            }
                        }
                    }
                });

                var span=document.getElementById(date);
                var top = span.getBoundingClientRect().top;
                var left = span.getBoundingClientRect().left;
                var scrolltop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
                //var scrolltop = document.body.scrollTop;
                var height=span.offsetHeight;
                var infotop=top + height + scrolltop;
                $('#tanchu').css('display','block');
                $('#tanchu').css('top',infotop);
                $('#tanchu').css('left',left-320+'px');

            }
            $(".tc_close").bind("click",function(){
                $("#tanchu").hide();
            })
            </script>
		<div class="zphxx">
			<div class="title">招聘会信息 <a href="/recruitment/index.html" class="more1">更多</a></div>
			<div class="content">
				<ul>
                    <li>
                        <a href="/recruitment/content/type/1/id/170.html" target="_blank" title="邀请函|南开大学—天津大学2021届毕业生联合双选会">
							<div class="date date1">2020-12-18</div>
							<div class="biaoti">邀请函|南开大学—天津大学2021届毕业生联合双选会</div>
                        </a>
					</li><li>
                        <a href="/recruitment/content/type/2/id/3984.html" target="_blank" title="平行线教育12月29日研后专场宣讲会-南开大学站">
							<div class="date date2">2020-12-29</div>
							<div class="biaoti">平行线教育12月29日研后专场宣讲会-南开大学站</div>
                        </a>
					</li><li>
                        <a href="/recruitment/content/type/2/id/3985.html" target="_blank" title="江苏省射阳县面向全国部分名校引进2021年应届优秀毕业生工作公告">
							<div class="date date3">2020-12-05</div>
							<div class="biaoti">江苏省射阳县面向全国部分名校引进2021年应届优秀毕业生工作公告</div>
                        </a>
					</li><li>
                        <a href="/recruitment/content/type/2/id/3981.html" target="_blank" title="敢不凡、定未来—— 学而思网校2021届秋季校园招聘">
							<div class="date date4">2020-12-04</div>
							<div class="biaoti">敢不凡、定未来—— 学而思网校2021届秋季校园招聘</div>
                        </a>
					</li>				</ul>
			</div>
		</div>
	</div>
    <div style="clear: both;"></div>
    <div class="wrap">
        <div class="scrollbox">
            <div id="scrollDiv">
                <ul>
                    <li><a href="javascript:void(0);"><img src="/Uploads/2019-09-30/5d91662766b0f.jpg" ></a></li><li><a href="javascript:void(0);"><img src="/Uploads/2017-04-14/58f01aa28786f.jpg" ></a></li><li><a href="javascript:void(0);"><img src="/Uploads/2019-04-02/5ca31da8819f6.jpg" ></a></li><li><a href="javascript:void(0);"><img src="/Uploads/2017-01-04/586c58b4208be.png" ></a></li><li><a href="javascript:void(0);"><img src="/Uploads/2019-04-02/5ca31d978c4da.jpg" ></a></li><li><a href="javascript:void(0);"><img src="/Uploads/2019-04-02/5ca31d8a9be6e.jpg" ></a></li><li><a href="javascript:void(0);"><img src="/Uploads/2017-01-04/586c4fc765cb1.jpg" ></a></li>                </ul>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/Public/js/lbnews.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#scrollDiv").Scroll({line:3,speed:600,timer:5000,up:"but_up",down:"but_down"});
});
</script>
    <div style="clear: both;height: 20px"></div>
    <div class="con zhuanlan">
    	<div class="conleft zl3">
    		<div class="title">
    			<div class="name" style="width:200px;">选调生等公职单位专栏</div>
    			<a href="/news/index/cate/13.html" class="more2">更多</a>
    		</div>
    		<div class="content">
    			<ul>
                   <!--   -->
                    <li>
                            <a href="https://career.nankai.edu.cn/Correcruit/content/id/57254.html" target="_blank" title="湖北省襄阳市2020年专项引进紧缺人才公告">
                                <p class="title1"><em class="topzd"></em>湖北省襄阳市2020年专项引进紧缺人才公告</p>
                                <p class="date">12-07</p>
                            </a>
                        </li><li>
                            <a href="https://career.nankai.edu.cn/Correcruit/content/id/57253.html" target="_blank" title="安徽省2021年度面向全国部分重点高校招录选调生公告">
                                <p class="title1"><em class="topzd"></em>安徽省2021年度面向全国部分重点高校招录选调生公告</p>
                                <p class="date">12-07</p>
                            </a>
                        </li><li>
                            <a href="/news/content/id/1302.html" target="_blank" title="相约奇迹之城，续写更多“春天的故事” ——深圳招录200名选调生">
                                <p class="title1"><em class="topzd"></em>相约奇迹之城，续写更多“春天的故事” ——深圳招录200名选调生</p>
                                <p class="date">12-03</p>
                            </a>
                        </li><li>
                            <a href="https://career.nankai.edu.cn/Correcruit/content/id/57109.html" target="_blank" title="广东省2021年度选调优秀大学毕业生公告">
                                <p class="title1"><em class="topzd"></em>广东省2021年度选调优秀大学毕业生公告</p>
                                <p class="date">12-01</p>
                            </a>
                        </li><li>
                            <a href="https://career.nankai.edu.cn/Correcruit/content/id/57065.html" target="_blank" title="云南省面向南开大学招录2021年定向选调生公告">
                                <p class="title1"><em class="topzd"></em>云南省面向南开大学招录2021年定向选调生公告</p>
                                <p class="date">11-30</p>
                            </a>
                        </li><li>
                            <a href="https://career.nankai.edu.cn/Correcruit/content/id/57014.html" target="_blank" title="青海省2021年面向南开大学定向选调优秀应届大学毕业生公告">
                                <p class="title1"><em class="topzd"></em>青海省2021年面向南开大学定向选调优秀应届大学毕业生公告</p>
                                <p class="date">11-28</p>
                            </a>
                        </li><li>
                            <a href="https://career.nankai.edu.cn/Correcruit/content/id/56787.html" target="_blank" title="宁夏回族自治区2021年面向复旦大学等19所重点高校招录选调生公告">
                                <p class="title1"><em class="topzd"></em>宁夏回族自治区2021年面向复旦大学等19所重点高校招录选调生公告</p>
                                <p class="date">11-23</p>
                            </a>
                        </li><li>
                            <a href="https://career.nankai.edu.cn/Correcruit/content/id/56691.html" target="_blank" title="福建省2021年选调生选拔工作公告">
                                <p class="title1"><em class="topzd"></em>福建省2021年选调生选拔工作公告</p>
                                <p class="date">11-19</p>
                            </a>
                        </li>    			</ul>
    		</div>
    	</div>
    	<div class="conmid zl2">
    		<div class="title">
    			<div class="name">国际组织专栏</div>
    			<a href="/correcruit/index/type/1.html" class="more2">更多</a>
    		</div>
    		<div class="content">
    			<ul>
                    <li>
                        <a href="/correcruit/content/id/55622.html" target="_blank" title="【BEJ/ED  联合国教科文组织】联合国教科文组织驻华代表处教育处招募全职实习生一名" >
    					<p class="title1">【BEJ/ED  联合国教科文组织】联合国教科文组织驻华代表处教育处招募全职实习生一名</p>
						<p class="date">10-29</p>
                        </a>
    				</li><li>
                        <a href="/correcruit/content/id/55620.html" target="_blank" title="【BEJ/CLT  联合国教科文组织】联合国教科文组织驻华代表处文化处招募全职实习生" >
    					<p class="title1">【BEJ/CLT  联合国教科文组织】联合国教科文组织驻华代表处文化处招募全职实习生</p>
						<p class="date">10-29</p>
                        </a>
    				</li><li>
                        <a href="/correcruit/content/id/36924.html" target="_blank" title="【联合国教科文组织】2019年联合国教科文组织实习项目选派办法" >
    					<p class="title1">【联合国教科文组织】2019年联合国教科文组织实习项目选派办法</p>
						<p class="date">05-15</p>
                        </a>
    				</li><li>
                        <a href="/correcruit/content/id/33775.html" target="_blank" title="【联合国开发计划署】2019年联合国开发计划署选派办法" >
    					<p class="title1">【联合国开发计划署】2019年联合国开发计划署选派办法</p>
						<p class="date">03-08</p>
                        </a>
    				</li><li>
                        <a href="/correcruit/content/id/33026.html" target="_blank" title="【联合国开发计划署-和平发展基金会】联合国开发计划署-和平发展基金会 Internship Programme" >
    					<p class="title1">【联合国开发计划署-和平发展基金会】联合国开发计划署-和平发展基金会 Internship Programme</p>
						<p class="date">02-22</p>
                        </a>
    				</li>    			</ul>
    		</div>
    	</div>
    	<div class="conright zl1" style="margin-top: 20px;">
    		<div class="title">
    			<div class="name">实习信息</div>
    			<a href="/correcruit/index/type/2.html" class="more2">更多</a>
    		</div>
    		<div class="content">
    			<ul>
                    <li>
                            <a href="/correcruit/content/id/57310.html" target="_blank" title="依图科技实习生招聘火热进行中">
        					<div class="date">
        						<span class="day">08</span>
        						<span class="year">2020.12</span>
        					</div>
        					<div class="title1">依图科技实习生招聘火热进行中</div>
                            <a href="/company/index/id/13356.html" target="_blank"><div class="company">上海依图网络科技有限公司</div></a>
                            </a>
        				</li><li>
                            <a href="/correcruit/content/id/57290.html" target="_blank" title="电子学、软件工程师（实习地点：吉林长春）">
        					<div class="date">
        						<span class="day">08</span>
        						<span class="year">2020.12</span>
        					</div>
        					<div class="title1">电子学、软件工程师（实习地点：吉林长春）</div>
                            <a href="/company/index/id/16678.html" target="_blank"><div class="company">北京国望光学科技有限公司</div></a>
                            </a>
        				</li><li>
                            <a href="/correcruit/content/id/57219.html" target="_blank" title="特效师">
        					<div class="date">
        						<span class="day">07</span>
        						<span class="year">2020.12</span>
        					</div>
        					<div class="title1">特效师</div>
                            <a href="/company/index/id/21220.html" target="_blank"><div class="company">中视亿诺动漫科技（天津）有限公司</div></a>
                            </a>
        				</li><li>
                            <a href="/correcruit/content/id/57133.html" target="_blank" title="业务岗实习生">
        					<div class="date">
        						<span class="day">02</span>
        						<span class="year">2020.12</span>
        					</div>
        					<div class="title1">业务岗实习生</div>
                            <a href="/company/index/id/5410.html" target="_blank"><div class="company">瑞茂通供应链管理股份有限公司</div></a>
                            </a>
        				</li><li>
                            <a href="/correcruit/content/id/57054.html" target="_blank" title="教学助理">
        					<div class="date">
        						<span class="day">30</span>
        						<span class="year">2020.11</span>
        					</div>
        					<div class="title1">教学助理</div>
                            <a href="/company/index/id/15667.html" target="_blank"><div class="company">大连东软教育科技集团有限公司</div></a>
                            </a>
        				</li>    			</ul>
    		</div>
    	</div>
    </div>
    <script type="text/javascript">
        $(window).resize(function(){
            location.reload();
        });
    </script>
</div>
    <div style="clear: both;height: 20px"></div>
    <div class="footer" style="min-height:240px;">
        <div class="con">
            <div class="content">
                                <div class="xq">
                    <div class="title">办公地址</div>
                    <div class="con1">
                        <p>八里台校区：天津市南开区卫津路94号南开大学学生活动中心204室</p>
                    </div>
                    <!-- <div class="title" style="margin-top: 15px;">津南校区</div> -->
                    <div class="con1">
                        <p>津南校区：天津市海河教育园区同砚路38号南开大学津南校区大通学生中心E区302</p>
                    </div>
                </div>
                <div class="lj">
                    <div class="title">友情链接</div>
                    <div class="con1">
                        <p><a href='http://www.mohrss.gov.cn/SYrlzyhshbzb/rdzt/gjzzrcfw/gwkqxx/' target="_blank">人社部国际组织人才就业实习网</a></p><p><a href='http://gj.ncss.org.cn/' target="_blank">高校毕业生到国际组织实习任职信息服务平台</a></p><p><a href='http://www.tjbys.com/' target="_blank">天津市大学生就业创业信息网</a></p><p><a href='http://xj.ncss.org.cn/' target="_blank">新疆籍毕业生就业创业信息平台</a></p>                    </div>
                </div>
                <div class="erweima">
                                        <div class="dyh">
                        <img src="/Uploads/2018-09-12/5b98f3a6ea3c7.jpg" width="120" style="cursor: pointer;">
                        <p>南开就业</p>
                        <div class="yt" style="top:-260px;left:-120px;"><img src="/Uploads/2018-09-12/5b98f3a6ea9e0.jpg"/></div>
                    </div>
                                                            <div class="gzh">
                        <img src="/Uploads/2018-09-12/5b98f3a6ea9e0.jpg" width="120"  style="cursor: pointer;">
                        <p>就业服务平台</p>
                       <div class="yt" style="top:-260px;left:20px;"><img src="/Uploads/2018-09-12/5b98f3a6ea9e0.jpg"/></div>
                    </div>
                                    </div>
            </div>
        </div>
    </div>
    <script>
        $('.erweima img').hover(
            function(){
                $(this).parent().find('.yt').show();
            },
            function(){
                $(this).parent().find('.yt').hide();
            })
    </script>
</body>
</html>